{% layout "beeldbank-layout" %}
{% block content %} 



<!-- search -->
<div class="row">
{% include "blokken/search-3ext" %}
</div>
<!-- end search -->


<!-- content -->
<div class="row">
  <div class="large-12 columns">
    <div class="panel">

       content

    </div>
  </div>
</div>
<!-- end content -->



{% endblock %}