
//
// OE custom CLASSES
//



// table
table, table2 {width:100%;margin:20px 0}
table th, table2 th {width:150px}



// legend /fieldset

legend {text-transform:uppercase;font-size:0.8em}

// li colored disk

li {list-style-type:none}
ul.disk {margin:10px 0;}
.disk li:before {content: "•"; color: $light-purple;padding:0 10px 0 0;margin:0;float:$default-float;clear:left; }


ul.disk li a {color:$fresh-blue !important; text-decoration:underline;margin-bottom:8px}
ul.disk li a:hover {text-decoration:none} 


ol > li {list-style-type: decimal;} 
dt, b, strong {font-family: $font-family-bold-serif;font-weight:700;}

h4 > em {padding:5px 0 10px 0;display:block;font-size:1.3em;line-height:1.3em}
article > h1 {padding-bottom:18px;}
article a, .panel p a  {color:$fresh-blue;text-decoration:underline}
article a:hover, .panel p a:hover  {color:$fresh-blue;text-decoration:none}


// beeldbank caption info detail image and tags

.caption-info dt {font-size:1em;padding:10px 0 0 0;}
.caption-info dd {margin:0;line-height:1.3em;}

.bb-imagelarge {margin:0 0 30px 0;padding:0}

ul.tag-label  {margin:10px 0 0 0;}
.tag-label li {float:$default-float;background-color:$light-gray;margin:0 15px 10px 0;display:block;padding:4px 10px;font-size:0.9em}
.tag-label li:first-child {background:none;padding-left:0}
.tag-label li:last-child {background-color:$aluminum;}
.tag-label li a  {text-decoration:none !important;color:$black}
.tag-label li a span  {margin:2px 0 0 10px;color:$alert-color}

.button {text-transform:uppercase}

// errors
.error {background: none !important}
input.error {border: 1px solid $alert-color}


// select optionform beeldbank

select {height:42px}


// statistieken circle

.circle { 
margin: 0 auto 15px auto;
border-radius: 50%;
width:150px;
position: relative;
background-color: $light-gray ;
}

.circle:before {
content: "";
display: block;
padding-top: 100%;
}

.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}

.score-text {
margin: auto;
position: absolute;
top: -60px;
left: 0;
bottom: 0;
right: 0;
height: 1em;
line-height: 1em;
font-size: 1em;
}

.score-text h3 {
font-size: 2.5em;
}
