
//
// OE custom CLASSES
//

// li {list-style-type:none}


b, strong {font-family: $font-family-bold-serif;font-weight:700;}



dl.caption-info  {}
.caption-info dt {font-size:1.1em;padding-top:7px;height:30px;min-height:30px}
/*.caption-info dd {margin:-26px 0 0 170px;line-height:1.3em;}*/
.caption-info dd {margin:0px 0 0 0px;line-height:1.3em;}



.bb-imagelarge {margin:0 0 30px 0;padding:0}


ul.tag-label  {margin:10px 0 0 0;}
.tag-label li {float:$default-float;background-color:$light-gray;margin:0 15px 10px 0;display:block;padding:4px 10px}
.tag-label li:first-child {background:none;}
.tag-label li a  {text-decoration:none !important;color:$black}
.tag-label li a span  {margin:2px 0 0 10px;color:$alert-color;}




.top-bar {margin-bottom:20px}


// errors




// statistieken circles


.circles{
    margin:20px auto;
}



.circles > div {
    overflow:hidden;
    float:left;
width:auto;
    height:auto;
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background:$light-gray ;
}

.circles > div > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.circles > div > div > div {
    display: table;
    width: 100%;
    height:100%;
}
.circles > div > div > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



@media (max-width: 574px)
{
    .circles > div {padding: 50%;margin:0 auto}
}

@media (min-width: 574px) and (max-width: 880px)
{
    .circles > div {padding: 60px;}
}

@media (min-width: 888px)
{
    .circles{width:888px}
    .circles > div {padding: 60px;}
}



