{% block content %} 
  

 <!-- header -->


<!-- embed -->
<div class="temp-embed"></div>
<!-- end embed vlaanderen -->



<!-- header -->

<!-- header bg image -->
<div class="bgimage"></div>


<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">

<!-- sub nav -->
<ul id="service-navigation" class="clearfix">
<li><a href="/">home onroerend erfgoed</a></li>
</ul>
<!-- end sub nav -->


<!-- logo -->

<div class="logo-block">

<a href="/">
<h1>Beeldbank</h1>

<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">

<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>

<!-- end logo -->



</div>
</div>



<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section inner-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="over-deze-site">Over deze site</a></li>
      <li><a href="help">Help</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </section>
</nav>





 <!-- end header -->






<!-- search -->

<div class="row">


<div class="large-12 columns">


<div class="panel Searchbox">

<h3>Uitgebreid Zoeken</h3>


<form name="" action="#" method="post" class="clearfix">

  <div class="row">

     <div class="large-4 medium-4 columns">
              
          <select>
            <option value="">filter op</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
          </select>
  
      </div>



    <div class="large-8 medium-8 columns">
  
    <div class="searchBox">
    <input type='text' placeholder='zoek foto' />
    <button>toepassen</button>
    </div>
                    
    </div>     

     
 </div>

<ul class="tag-label  clearfix">
 
  <li>Jouw selectie</li>
  <li><a href="#" class="secondary">Fotograaf / <strong>iPhone</strong></a> <a href="#"><span>&#10006;</span></a></li>
  <li><a href="#" class="secondary">Fotograaf / <strong>iPhone</strong></a> <a href="#"><span>&#10006;</span></a></li>
  <li><a href="#" class="secondary">Alle filters verwijderen <span>&#10006;</span></a></li>
</ul>
<hr>



</form> 



    <div class="row">
    
       <div class="large-8 medium-8 columns">
      
        <h5>Er zijn geen resultaten beschikbaar</h5>
                  
      </div>     

      <div class="large-4 medium-4 columns">
          
                    <select>
                       <option value="">sorteer op</option>
                       <option value="">datum/aflopend</option>
                       <option value="">datum/oplopend</option>
                       <option value="">titel/aflopend</option>
                       <option value="">titel/oplopend</option>
                   </select>

      </div>

    </div>


<!-- start beelden -->

beelden

<!-- end beelden -->


        </div>
      </div>






</div>

<!-- end search -->




{% endblock %}