{% layout "inventaris-layout" %}
{% block content %}

  
<!-- content -->


<div class="row">
<a href="article">article</a> &nbsp; 
<a href="articleID">article ID</a> &nbsp; 
<a href="articleIDv2">article ID versie 2</a> &nbsp; 
<a href="zoekoverzicht">zoekoverzicht</a>
<br><br>

{% include "grids/grid-13" %}
</div>


<!-- end content -->



<!-- footer -->
{% include "footer" %}
<!-- end footer -->

 

{% endblock %}