
{% layout "inventaris-layout" %}
{% block content %} 
  





<!-- content -->
{% include "grids/grid-13" %}
{% include "grids/grid-1" %}

<!-- end content -->



<!-- footer -->
{% include "footer" %}
<!-- end footer -->

 

<!-- embed -->
<div class="temp-embed"></div>
<!-- end embed vlaanderen -->


{% endblock %}