{% layout "inventaris-layout" %}
{% block content %}

  
<!-- content -->


<div class="row">
{% include "grids/grid-14" %}
</div>


<!-- end content -->



<!-- footer -->
{% include "footer" %}
<!-- end footer -->

 

{% endblock %}