{% layout "post-layout" %}
{% block content %} 
  
<!-- postregistratie menu -->

<a href="#" data-reveal-id="myModal1" class="tiny button">Menu</a>

<div id="myModal1" class="reveal-modal" data-reveal>

  <a class="close-reveal-modal" style="padding: 12px 18px">&#215;</a>

    <header class="clearfix" style="margin-bottom:20px">
        <h3 class="left" style="margin:0 0"><h5>MENU</h5></h3>
            <dl class="tabs tiny" data-tab>
              <dd class="" style="margin:0 1px 0 0"><a href="#panel1" class="tiny button">Poststuk aanmaken</a></dd>
              <dd><a href="#panel2" style="margin:0 1px 0 0" class="tiny button">Info</a></dd>
              <dd><a href="#panel3" style="margin:0 1px 0 0" class="tiny button">Mijn post</a></dd>
            </dl>
    </header>

<div class="clearfix">
<div class="left"><h6>Poststukken</h6></div>
<div class="left" style="margin:7px 0 0 20px;font-size:0.8em"><a href="" class="">refresh</a> <i class="fa fa-refresh"></i></div>
<div class="right"><a href="" class="" style="font-size:0.8em">uitgebreid zoeken</a>  <i class="fa fa-chevron-right" style="font-size:0.8em"></i></div>
</div>


<!-- post lijst -->


<table class="table">
    <thead>
      <tr>
        <th style="width:10px">ID</th>
        <th>Onderwerp</th>
        <th>Korte inhoud</th>
        <th>Datum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>28</td>
        <td><a href="#" data-reveal-id="myModal5"><strong>aanvraag bescherming</strong></a</td>
        <td>aanvraag tot bescherming Pedekerk</td>
        <td>13/02/2015</td>
      </tr>
      <tr>
         <td>27</td>
        <td><a href="#" data-reveal-id="myModal5"><strong>aanvraag bescherming</strong></a</td>
        <td>aanvraag tot bescherming Pedekerk</td>
        <td>12/02/2015</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>

<!-- end post lijst -->


</div>





<!-- nieuw postregistratie aanmaken-->

<div class="row">

<div class="large-12 columns">

    <div class="button-bar">
            <ul class="button-group">
              <li><h3 style="margin:10px 0 0 0;padding:0px 20px 0 0">Poststuk aanmaken</h3></li>
              <li><a href="#" data-reveal-id="myModal1" class="tiny button">Algemeen</a></li>
              <li><a href="#" data-reveal-id="myModal2" class="tiny button">Rechten</a></li>
              <li><a href="#" data-reveal-id="myModal3" class="tiny button">Correspondenten</a></li>
              <li><a href="#" data-reveal-id="myModal3" class="tiny button">Relaties</a></li>
              <li><a href="#" data-reveal-id="myModal3" class="tiny button">documenten</a></li>
            </ul>
    </div>


<div class="panel">
qsdmqksdmlqskd
</div>


</div>
</div>

</div>
<!-- end nieuw postregistratie aanmaken-->








{% endblock %}