

<div class="row">
  <div class="small-3 small-centered columns" style="background:#fff">3 centered</div>
</div>
<div class="row">
  <div class="small-6 large-centered columns" style="background:#fff">6 centered</div>
</div>
<div class="row">
  <div class="small-9 small-centered columns" style="background:#fff">9 centered</div>
</div>
<div class="row">
  <div class="small-11 small-centered columns" style="background:#fff">11 centered</div>
</div>