
<div class="row">
  <div class="large-3 columns" style="background:#fff">3</div>
  <div class="large-3 columns" style="background:#fff">3</div>
  <div class="large-3 columns" style="background:#fff">3</div>
</div>
<div class="row">
  <div class="large-3 columns" style="background:#fff">3</div>
  <div class="large-3 columns" style="background:#fff">3</div>
  <div class="large-3 columns end" style="background:#fff">3 end</div>
</div>


