


<div class="row medium-uncollapse large-collapse">
    <div class="small-6 columns panel">
        Verwijderd de ruimte tussen de panels
    </div>
    <div class="small-6 columns panel">
        Verwijderd de ruimte tussen de panels
    </div>
</div>