<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">niveau 1</a></li>
  <li class="unavailable"><a href="#">niveau 2 niet actief</a></li>
  <li class="current"><a href="#">Actief</a></li>
</ul>