<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Erfgoedstijl</title>
  		{{ "static/css/app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
	</head>
	<body>
        {% block header %}
            {% include "inventaris-header" %}

        {% endblock %}
		{% block content %}
		{% endblock %}
        {% block footer %}
        {% endblock %}
  		{% include "scripts" %}
	</body>
</html>