


  <div class="row large-8 columns small-centered">

    <div class="large-4 columns text-center subnav-panel">
      <a href="">
      <div class="subnav-panel2">
      <span><h3>Lorem ipsum dolor sit amet.</h3>
        <button class="button tiny">button 1</button> <button class="button tiny">button 2</button>
      </span>
      </div>
      </a>
    </div>

    <div class="large-4 columns text-center subnav-panel">
      <a href="">
      <div class="subnav-panel2">
      <span><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <button class="button tiny">button 1</button> <button class="button tiny">button 2</button>
      </span>
      </div>
      </a>
    </div>

    <div class="large-4 columns text-center subnav-panel">
        <a href="">
        <div class="subnav-panel2">
        <span><h3>Lorem ipsum dolor sit amet.</h3></span>
        </div>
        </a>
    </div>

    <div class="large-4 columns text-center subnav-panel">
      <a href="">
      <div class="subnav-panel2">
      <span><h3>Lorem ipsum dolor sit amet.</h3>
        <button class="button tiny">button 1</button> <button class="button tiny">button 2</button>
      </span>
      </div>
      </a>
    </div>

    <div class="large-4 columns text-center subnav-panel">
      <a href="">
      <div class="subnav-panel2">
      <span><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
      </span>
      </div>
      </a>
    </div>

    <div class="large-4 columns text-center subnav-panel">
        <a href="">
        <div class="subnav-panel2">
        <span><h3>Lorem ipsum dolor sit amet.</h3></span>
        </div>
        </a>
    </div>


  </div>





   





