
<div class="icon-bar five-up">
  <a class="item">
   <i class="fa fa-institution"></i>
    <label>Home</label>
  </a>
  <a class="item">
    <i class="fa fa-globe"></i>
    <label>Nieuws</label>
  </a>
  <a class="item">
    <i class="fa fa-info-circle"></i>
    <label>Info</label>
  </a>
  <a class="item">
    <i class="fa fa-envelope"></i>
    <label>Mail</label>
  </a>
  <a class="item">
     <i class="fa fa-exchange"></i>
    <label>Item</label>
  </a>
</div>