{% layout "inventaris-bouw-layout" %}
{% block content %}

  
<!-- content -->


  <div class="row">
      <div class="large-12 columns">
      {% include "blokken/search-2" %} 
      </div>
  </div>
    <!-- map large -->
    <!--div class="" style="background:#efefef;padding:0;height:250px">map</div -->
    <!-- map images large  -->
     
  <div class="row">

      <div class="large-4 columns">
       <!-- nieuws 2 -->

  <div class="fl-block style-2">

      <h4 class="block-title field"><a href="#">Nieuws</a></h4>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                <h5 itemprop="name">Herinventarisatie bouwkundig erfgoed in Berendrecht en Zandvliet gestart</h5> 
                <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
            </a>
      </div>

      <!-- div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                <img itemprop="image" src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" />
                <h5 itemprop="name">Relict van de maand juni: de kapelhof in Wingene</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div -->

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
           <a itemprop="url" href="#">
                <h5 itemprop="name">Klein niet-beschermd erfgoed krijgt subsidies in Limburg</h5> 
                <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
           </a>
      </div>
   
      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
           <a itemprop="url" href="#">
                <h5 itemprop="name">Op stap met Napoleon: 100 dagen in de coulissen van Parijs, episode 2</h5> 
                <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
           </a>
      </div>

     <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
           <a itemprop="url" href="#">
                <h5 itemprop="name">Op stap met Napoleon: Deel 3: 100 dagen in de coulissen van Parijs, episode</h5> 
                <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
           </a>
      </div>


     <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
           <a itemprop="url" href="#">
                <h5 itemprop="name">Relict van de maand mei: een populier bij de Vierschaar in Zottegem</h5> 
                <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
           </a>
      </div>



    
    <div class="field"><a itemprop="url" class="more" href="#">toon alles  &rsaquo;</a></div>
    

  </div>

<!-- end nieuws 2 -->
      </div>

  
  <div class="large-8 columns">
    <!-- start large images -->

    <div class="fl-block style-2 clearfix">

  <h4 class="block-title field"><a href="#">Recent toegevoegd</a></h4>


      <div class="panel">

          <div class="row">
              <div class="large-4 columns fl-block-largeimage">
                  <a href="">
                    <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225473?size=medium"/></div>
                    <div>
                    <h5>WEERHAAG VAN MEIDOORN BIJ HOOGSTAMBOOMGAARD</h5>
                    <span>ID : 3345</span>
                    </div>
                  </a>
              </div>

              <div class="large-4 columns fl-block-largeimage">
                 <a href="">
                  <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225567?size=medium"/></div>
                  <div>
                  <h5>OPGAANDE ES</h5>
                  <span>ID : 3345</span>
                </div>
                </a>
              </div>

              <div class="large-4 columns fl-block-largeimage">
                 <a href="">
                  <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/193401?size=medium"/></div>
                  <div>
                  <h5>Britse betonnen militaire post 'Swan Chateau'</h5>
                  <span>ID : 3345</span>
                  </div>
                 </a>
              </div>
          </div>


          <div class="row">
              <div class="large-4 columns fl-block-largeimage">
                  <a href="">
                    <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225473?size=medium"/></div>
                    <div>
                    <h5>WEERHAAG VAN MEIDOORN BIJ HOOGSTAMBOOMGAARD</h5>
                    <span>ID : 3345</span>
                    </div>
                  </a>
              </div>

              <div class="large-4 columns fl-block-largeimage">
                 <a href="">
                  <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225567?size=medium"/></div>
                  <div>
                  <h5>OPGAANDE ES</h5>
                  <span>ID : 3345</span>
                </div>
                </a>
              </div>

              <div class="large-4 columns fl-block-largeimage">
                 <a href="">
                  <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/193401?size=medium"/></div>
                  <div>
                  <h5>Britse betonnen militaire post 'Swan Chateau'</h5>
                  <span>ID : 3345</span>
                  </div>
                 </a>
              </div>

          </div>
<br>
          <div class="fl-block">
              <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>   
          </div>

      </div>


    </div>


  </div>




<!-- footer -->
{% include "inventaris-footer" %}
<!-- end footer -->


{% endblock %}