{% layout "inventaris-layout" %}
{% block content %}



 
<!-- content -->


<div class="row">






<div class="large-9 columns">
      

<div class="fl-block style-2">

        <h4 class="block-title "><a itemprop="url" href="#">Nieuws</a></h4>
        
        <div class="">filter op jaartal : 2015 - 2014 - 2013 - 2012 - 2011 - 2010 - 2009</div>
        



          <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                <h5 itemprop="name">Herinventarisatie bouwkundig erfgoed in Berendrecht en Zandvliet gestart</h5>
                  <p itemprop="description">Op 1 juni 2015 startte GUMA NV met de herinventarisatie van het bouwkundig erfgoed in Berendrecht en Zandvliet, twee districten van de stad Antwerpen. Het project zal afgerond worden in september.</p> 
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">09-06-2015</time>
            </a>
          </div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                  <figure><img itemprop="image" src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="150" alt="Alt descritpion" /></figure>
                  <h5 itemprop="name">De stemmen zijn geteld</h5> 
                  <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>  
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">09-06-2015</time>
            </a>
          </div>


          <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                  <figure><img itemprop="image" src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="150" height="500" alt="Alt descritpion" /></figure>
                  <h5 itemprop="name">De stemmen zijn geteld</h5> 
                  <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>  
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">09-06-2015</time>
            </a>
          </div>


</div>



<div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">1</a></li>
    <li class="active"><a href="">2</a></li>
    <li class=""><a href="">3</a></li>
    <li class=""><a href="">4</a></li>
  </ul>
</div>



</div>


<div class="large-3 columns">

{% include "blokken/search-6" %} 
{% include "blokken/nieuws-2" %}
{% include "blokken/social-1" %}

</div>

</div>


<!-- end content -->




<!-- footer -->
{% include "footer" %}
<!-- end footer -->

 
  
{% endblock %}