{% layout "inventaris-bouw-layout" %}
{% block content %}



 
<!-- content -->


<div class="row">



<div class="large-9 columns">
    

<div class="fl-block style-2">



  <div class="clearfix">


 <div itemscope="" itemtype="http://schema.org/Article" class="field full result">

<div style="padding:20px">

  <div class="large-9 columns" style="padding:0">
   <h1>Nieuws</h1>
  </div>
 <div class="large-3 columns" style="padding:0;">

      <form >
          <select style="">
            <option value="status" selected>filter op jaartal</option>
            <option value="1">2015</option>
            <option value="2">2014</option>
            <option value="3">2013</option>
            <option value="4">2012</option>
            <option value="4">2011</option>
            <option value="4">2010</option>
            <option value="4">2009</option>
          </select>
      </form>
</div>
</div>

</div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                <h5 itemprop="name">Op stap met Napoleon: 100 dagen in de coulissen van Parijs, episode 3</h5>
                  <p itemprop="description">Met de Gazette van Gend en de mémoires van graaf de Chateaubriand in de hand, schetst Joeri Mertens in veertien episodes een beeld van Gent dat in 1815 de coulissen van Parijs vormde. Vandaag deel 3..
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">donderdag 11-06-2015</time>
                  </p> 
                  
            </a>
          </div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                <h5 itemprop="name">Herinventarisatie bouwkundig erfgoed in Berendrecht en Zandvliet gestart</h5>
                  <p itemprop="description">Op 1 juni 2015 startte GUMA NV met de herinventarisatie van het bouwkundig erfgoed in Berendrecht en Zandvliet, twee districten van de stad Antwerpen. Het project zal afgerond worden in september.
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">dinsdag 09-06-2015</time>
                </p> 
                  
            </a>
          </div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                <h5 itemprop="name">Relict van de maand juni: de kapelhof in Wingene</h5>
                  <p itemprop="description">Elke maand zet een collega een inventarisrelict in de kijker. In juni stelt landschapper Nele Vanmaele u de kapelhof in Wingene voor..
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">maandag 08-06-2015</time>
                </p> 
                  
            </a>
          </div>


          <div itemscope="" itemtype="http://schema.org/Article" class="field result">
          <a href="" style="color:#666;display:block">
            <div class="right">
            <h5><i class="fa fa-fw left" style="margin:2px 10px 0 0"></i>Nieuwslijst als RSS-feed</h5>
            </div>
          </a>
          </div>

  </div>

</div>




<div class="pagination-centered">
  <ul class="pagination">
    <li><a href="">Vorige</a></li>
    <li class="arrow unavailable"><a href="">1</a></li>
    <li class="active"><a href="">2</a></li>
    <li class=""><a href="">3</a></li>
    <li class=""><a href="">4</a></li>
    <li><a href="">Volgende</a></li>
  </ul>
</div>


</div>


<div class="large-3 columns">



<!-- search 6 -->

<div class="large-12 ">

<div class="panel fl-block-search">

<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Zoek</h3>


    <div class="placeholder-container" tabindex="-1">
      <input id="email" placeholder="trefwoord" title="Your Email" type="text"/>
    </div>
    
    
    <a href="#" class="button small expand">ZOEKEN</a>

</form> 



    </div>
</div>

<!-- end search 6 -->



{% include "blokken/social-1" %}

</div>

</div>


<!-- end content -->




<!-- footer -->
{% include "inventaris-footer" %}
<!-- end footer -->

 
  
{% endblock %}