{% layout "inventaris-bouw-layout" %}
{% block content %}




<!-- content -->


<div class="row">


  <div class="large-12 columns">

    <div class="panel">   

      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-544e70515e446e64" async="async"></script>


      <article itemscope itemtype="http://schema.org/Article" class="articlemargin">

        <header style="text-align:center;margin:0 0 40px 0">   
          <h1>Op stap met Napoleon: 100 dagen in de coulissen van Parijs, episode 3</h1>
          <time itemprop="datePublished" datetime="2015-06-09" class="time-block">donderdag 11-06-2015</time>
        </header>

   

        <section itemprop="articleBody" style="text-align:justify">

          <p><p>Met de Gazette van Gend en de mémoires van graaf de Chateaubriand in de hand, schetst Joeri Mertens in veertien episodes een beeld van Vlaanderen dat in 1815 de coulissen van Parijs vormde.</p>

          <p>Vandaag deel drie, waarin we de figuur van Louis XVIII belichten en de geallieerde legers die zich eerst vertoonden in <a href="/dibe/geheel/21804">Oostende</a>.</p>

          <p><strong>Een intern Frans conflict, Europa op z’n hoede</strong></p>

          <p><strong>De koning sust</strong></p>

          <p>Op 6 maart 1815 keerde Napoleon Bonaparte van Elba terug naar Frankrijk. </p>


          <figure class="figure-left">
            <a href="/melba/foto/225143">
              <img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225143?size=medium" alt="Lodewijk XVIII" />
            </a>
            <figcaption>Fig 1 - Detail Portret Louis XVIII.</figcaption>
          </figure>


          <p>Nog op 7 maart suste Lodewijk XVIII de Europese gezanten met de woorden: <em>Mijnheeren, gy ziet my in lyden, doch bedriegt u niet, want zulks komt niet van de ongerustheyd, maer van het flerecyn dat my quelt. Verzekert uwe souvereynen op het gene in Vrankreyk omgaat; de ruste van Europa zal niet meerder gestoort worden als die van Vrankryk.</em> (Gazette van Gend van 13 maart)</p>

          <p>Graaf de Chateaubriand beschrijft de vorst op hetzelfde ogenblik als: "<em>un vieux roi infirme, qui, pour prix du massacre de sa famille et de vingt-trois années d'exil, avait apporté à la France la paix, la liberté, l'oubli de tous les outrages et de tous les malheurs; ce patriarche des souverains venant déclarer aux députés de la nation qu'à son âge, après avoir revu sa patrie, il ne pouvait mieux terminer sa carrière qu'en mourant pour la défense de son peuple !</em>"  </p>

          <p>Louis XVIII, met doopnaam <a href="http://www.histoire-en-ligne.com/spip.php?article231">Louis Stanislaus Xaverius de France </a>(1755-1824), was toen 60 jaar oud. Zijn broer Louis XVI werd tijdens de Franse revolutie onthoofd en de dauphin, Louis XVII, stierf in gevangenschap. Na een jarenlange ballingschap in Pruisen, Engeland en Rusland werd Louis XVIII door de geallieerde machten in 1814 terug op de Franse troon gezet.  Zijn huwelijk bleef kinderloos waardoor zijn jongere broer Karel Filips, graaf van Artois, als Charles X in 1824 de troon zou bestijgen.</p>

          <p><strong>Europa mobiliseert </strong></p>

          <p>De Europese geallieerde mogendheden Pruisen, Beieren, Oostenrijk en Engeland vertrouwen het zaakje niet. De eerste Duitse troepen worden naar het Rijn- en Moezelgebied gestuurd.  Europa versterkt zijn grenzen van Zwitserland tot de Noordzee.</p>

          <p>Op 9 maart 1815 treffen de Keizer van Oostenrijk en de Russische tsaar elkaar in Wenen en de prins van Metternich (Oostenrijks minister van Buitenlandse zaken, 1773-1859), de hertog van Wellington en prins de Talleyrand-Périgord (Frans minister van buitenlandse zaken, 1754-1838) ontmoeten elkaar in Presbourg. </p>

          <p>Nogmaals zullen de Europese machten zich verbinden om de “<em>verraeder en wederspannigen</em>” zoals Louis XVIII Napoleon op 7 maart noemt, te verslaan.</p>

          <p>Prins Blücher wordt door de koning van Pruisen op 14 maart benoemd tot “<em>generael en chef van al zyn magt</em>”. De hertog van Wellington wordt benoemd tot “<em>generalissimus van de Europesche magt</em>”. Hij zal het bevel voeren over de geallieerde Engelse, Hannoverse en Belgische troepen. </p>

          <p>Vanaf die datum volgen de berichten van doortrekkende troepen elkaar op. Engelse troepen worden naar het vasteland gezonden en de Gazette van Gend meldt dagelijks de aankomst van militaire schepen in de <a href="/dibe/relict/56813">Oostendse handelsdokken</a> met soldaten en krijgsmateriaal. In de Oostendse haven komt op 23 mei wel een heel opmerkelijke troepenmacht aan:  de eerste Engelse troepen die terugkeren uit Amerika, twee regimenten voetvolk. </p>

          <p><strong>Wordt vervolgd</strong></p>

          <p>Elke donderdag leest u een nieuw stuk van het verhaal dat zich afspeelt in de coulissen van Parijs.</p>
          <p>We hadden al <a href="/portaal/bericht/215">de aftrap</a> van de reeks die Joeri Mertens schreef als eerste episode. Vorige week kon u <a href="/portaal/bericht/216">episode 2</a> lezen.</p>


          <ul class="disk">
            <li>Gazette van Gend, en annoncen ofte waerschouwinges-blad, met autorisatie van zyne majesteyt den koning van de Nederlanden, 1815. (Stad Gent, De Zwarte Doos, Stadsarchief)</li>
            <li>De Chateaubriand, Mémoires d’Outretombe , <a href="http://visualiseur.bnf.fr/CadresFenetre?O=NUMM-101350&amp;M=tdm">http://visualiseur.bnf.fr/CadresFenetre?O=NUMM-101350&amp;M=tdm</a></li>
          </ul>

    


<br><br>

        <div class="row">
           <div class="large-12 columns">
            <ul class="socialbox dropdown right clearfix">
                <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
                <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li>
            </ul>
            <div class="left"><a href="/portaal/berichten">Alle berichten</a></div>
        </div>
            </div>

      </div>
    </section>
    </article>




  </div>




</div>
  <div class="row">
   <div class="large-12 columns">
     {% include "blokken/search-2" %} 
   </div>
 </div>

<!-- end content -->



<!-- footer -->
{% include "inventaris-footer" %}
<!-- end footer -->



{% endblock %}