{% layout "inventaris-bouw-layout" %}
{% block content %}


<!-- content -->


<div class="row">

  <div class="large-9 columns">  

    <div class="panel clearfix">

      <header>
        <h1 itemprop="name" style="margin-bottom:30px">Uitgebreid zoeken in Bouwkundig Erfgoed</h1>
      </header>

    

        <form>

          <h4><a href="#">Geografisch</a></h4>

          <div class="placeholder-container" tabindex="-1">
            <label for="username">trefwoord</label>
            <input id="username" placeholder="geef een trefwoord" title="trefwoord" type="text"/>
          </div>

          <select>
            <option value="status" selected>status</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>

         <h4><a href="#">Geografisch</a></h4>

          <select>
            <option value="status" selected>Provincie</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <select>
            <option value="status" selected>Gemeente</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <select>
            <option value="status" selected>Deelgemeente</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <select>
            <option value="status" selected>Straat</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>


        <h4><a href="#">Typologisch</a></h4>

          <div class="placeholder-container" tabindex="-1">
            <label for="username">Typologie</label>
            <input id="username" placeholder="geef een trefwoord" title="trefwoord" type="text"/>
          </div>

          <select style="width:25px">
            <option value="status" selected></option>
            <option value="1">archeologische depots</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <div class="clearfix"></div>

          <div class="placeholder-container" tabindex="-1">
            <label for="username">Context</label>
            <input id="username" placeholder="geef een trefwoord" title="trefwoord" type="text"/>
          </div>

          <select style="width:25px">
            <option value="status" selected></option>
            <option value="1">archeologische depots</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <div class="placeholder-container" tabindex="-1">
            <label for="username">Datering</label>
            <input id="username" placeholder="geef een trefwoord" title="trefwoord" type="text"/>
          </div>


        <div class="placeholder-container" tabindex="-1">
          <label for="username">Stijl en/of Cultuur</label>
          <input id="username" placeholder="geef een trefwoord" title="trefwoord" type="text"/>
        </div>

        <div class="placeholder-container" tabindex="-1">
          <label for="username">Persoon of Groepering</label>
          <input id="username" placeholder="geef een trefwoord" title="trefwoord" type="text"/>
        </div>

        <div class="text-center">
          <a href="#" class="button small">zoeken</a>
        </div>


    </form>




  <div class="large-12 columns">

       <h4>Interessante links</h4>
       <ul class="disk">
        <li><a href="">'Bouwen door de Eeuwen Heen in Vlaanderen'</a></li>
        <li><a href="">Onderzoeksbalans van het Onroerend Erfgoed</a> <span>: Projecten rond inventarisatie van bouwkundig erfgoed of de geschiedenis ervan</span></li>
        <li><a href="">Databank van het beschermd onroerend erfgoed</a> <span>:  Voor specifieke informatie betreffende beschermd onroerend erfgoed</span></li>
      </ul>

  </div>



  </div>
</div>



<div class="large-3 columns">


  <!-- search 5 -->

  <div class="panel fl-block-search">

    <form name="" action="#" method="post" class="clearfix">

      <h3 style="margin-bottom:20px">Zoek</h3>

      <div class="placeholder-container" tabindex="-1">
      <input id="email" placeholder="zoekterm" title="Your Email" type="text"/>
      </div>

     <a href="#" class="button small expand">ZOEKEN</a>

     </form> 

  </div>

 <!-- end search 5 -->


 <!-- nieuwsfeed -->


 <!-- nieuws 2 -->

 <div class="fl-block style-2">

  <h4 class="block-title field"><a href="#">Nieuws</a></h4>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
          <a itemprop="url" href="#">
            <h5 itemprop="name">Herinventarisatie bouwkundig erfgoed in Berendrecht en Zandvliet gestart</h5> 
            <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
          </a>
      </div>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
           <a itemprop="url" href="#">
            <h5 itemprop="name">Klein niet-beschermd erfgoed krijgt subsidies in Limburg</h5> 
            <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
          </a>
      </div>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
         <a itemprop="url" href="#">
          <h5 itemprop="name">Op stap met Napoleon: 100 dagen in de coulissen van Parijs, episode 2</h5> 
          <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
        </a>
      </div>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
       <a itemprop="url" href="#">
        <h5 itemprop="name">Op stap met Napoleon: Deel 3: 100 dagen in de coulissen van Parijs, episode</h5> 
        <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
      </a>
    </div>


    <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
     <a itemprop="url" href="#">
      <h5 itemprop="name">Relict van de maand mei: een populier bij de Vierschaar in Zottegem</h5> 
      <time itemprop="datePublished" datetime="2015-06-09">09-06-2015</time>
    </a>
  </div>




  <div class="field"><a itemprop="url" class="more" href="#">toon alles  &rsaquo;</a></div>


</div>

<!-- end nieuws 2 -->




<!-- downloads  -->
{% include "blokken/downloads-1" %}
<!-- end downloads  --> 

<!-- social 1-->
{% include "blokken/social-1" %}
<!-- end social 1 -->


</div>



</div>


<!-- end content -->


<!-- footer -->
{% include "inventaris-footer" %}
<!-- end footer -->


{% endblock %}