

<div data-alert class="alert-box success">
  This is a colored panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box warning">
  This is a colored panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box info">
  This is a colored panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box alert">
  This is a colored panel 
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box secondary">
  This is a colored panel
  <a href="#" class="close">&times;</a>
</div>



<br><br>


<div data-alert class="alert-box alert-success">
  This is a success alert <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box alert-warning ">
  This is a warning alert <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box alert-info">
  This is an info alert <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box alert-danger">
  This is an alert <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box custom">
  This is a custom alert.
</div>
