
<div data-alert class="panel">
  basis panel
</div>

<div data-alert class="alert-box success">
  succes panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box warning">
  waarschuwing panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box info">
  informatie panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box alert">
  alert panel 
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box secondary">
  grijs panel
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box custom">
  custom panel
</div>


<br><br>


<div data-alert class="alert-box alert-success">
  success panel alternatief <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box alert-warning">
  waarschuwing panel alternatief <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box alert-info">
  info panel alternatief <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>


<div data-alert class="alert-box alert-danger">
  alert panel alternatief <a href="#" class="alert-link">link</a>
  <a href="#" class="close">&times;</a>
</div>



