<form>



<h5>Label bovenaan + placeholder</h5>

<form>

  <div class="row">
    <div class="large-12 columns">

      <label>Naam
        <input type="text" placeholder="naam & voornaam" />
      </label>

      <label>Naam
        <input type="text" placeholder="naam & voornaam" class="error" />
      </label>
      <small class="error">Gelieve bovenstaand veld correct in te vullen</small>

      <label>Naam
        <input type="text" placeholder="naam & voornaam" disabled />
      </label>

      <label>E-mail
        <input type="text" placeholder="naam@naam.be" />
      </label>

      <label>Tel
        <input type="text" placeholder="+32 000 00 00 00" />
        <div style="margin:-16px 0 0 8px"><small id="nameHelpText">extra informatie </small></div>
      </label> 

      <label>Geboortedatum
        <input type="text" placeholder="dd/mm/yyyy" />
      </label> 


       <label>Selecteer box
        <select>
          <option value="0" selected>-- selecteer --</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>

       <label>Textarea Label
        <textarea placeholder="omschrijving"></textarea>
      </label>

    </div>
  </div>









  <div class="row">

    <div class="large-6 columns">
      <label>Label bij radio</label>
      <input type="radio" name="" value="" id="radio1"><label for="radio1">Radio 1</label>
      <input type="radio" name="" value="" id="radio2"><label for="radio2">Radio 2</label>
    </div>

    <div class="large-6 columns">
      <label>Label bij checkbox</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>

  </div>


<div class="row">
   <div class="large-12 columns">
      <form>
        <fieldset>
        <legend>Fieldset Legend</legend>
          <label>Naam
          <input type="text" placeholder="naam & voornaam">
          </label>
          <label>E-mail
          <input type="text" placeholder="naam@naam/be">
          </label>
        </fieldset>
      </form>
    </div>
</div>



<p class="text-center">Switch & slide</p>



<div class="switch tiny">
  <input id="exampleCheckboxSwitch" type="checkbox">
  <label for="exampleCheckboxSwitch"></label>
</div> 

<div class="switch tiny">
  <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
  <label for="exampleRadioSwitch1"></label>
</div> 


<div class="switch round tiny">
  <input id="exampleRadioSwitch3" type="radio" name="testGroup">
  <label for="exampleRadioSwitch3"></label>
</div>

<div class="range-slider" data-slider>
  <span class="range-slider-handle" role="slider" aria-labelledby="ageLabel" aria-describedby="ageHelpText"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
</div>


</form>