<p class="text-center">React form</p>

<form class="clearfix">

<h5>Reacties (0)</h5>

<h6>Reageer op dit artikel</h6>


 <div class="row">
    <div class="large-12 columns">
      <label>Naam
        <input type="text" placeholder="naam" />
      </label>
    </div>
  </div>


 <div class="row">
    <div class="large-12 columns">
      <label>Email adres
       <input type="text" id="label2" placeholder="email">
      </label>
    </div>
  </div>


 <div class="row">
    <div class="large-12 columns">
      <label>Reactie
        <textarea placeholder="omschrijving"></textarea>
      </label>
    </div>
 </div>


<a href="#" class="button right tiny">Plaats reactie</a>

</form>

<hr>