
    <!-- images list  -->

  <div class="large-12 columns">
  
     <div class="row">

        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225473?size=medium"/></a></div>
        </div>
        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225567?size=medium"/></a></div>
        </div>
        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/193401?size=medium"/></a></div>
        </div>
        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/222989?size=medium"/></a></div>
        </div>

     </div>

    <div class="row">

        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/187980?size=medium"/></a></div>
        </div>
        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225438?size=medium"/></a></div>
        </div>
        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""></div>
        </div>
        <div class="large-3 columns">
        <div class="img-vert-list"><a href=""></div>
        </div>
    </div>

  </div>
 




