
<!-- start large images -->



    <!-- images list + text -->

    <div class="large-12 columns">

    <div class="panel">

    <div class="row">


    <h4 class="header-img-panel" style="margin-left:20px">Recent toegevoegd</h4>

    <div class="large-3 columns img-vert-list-block text-center">
        <a href="">
          <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225473?size=medium"/></div>
          <div>
          <h5>WEERHAAG VAN HOOGSTAMBOOMGAARD</h5>
          <span><small>ID : 3345</small></span>
          </div>
        </a>
    </div>

    <div class="large-3 columns img-vert-list-block text-center">
       <a href="" class="text-center">
        <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225567?size=medium"/></div>
        <div>
        <h5>OPGAANDE ES</h5>
        <span><small>ID : 3345</small></span>
      </div>
      </a>
    </div>


    <div class="large-3 columns img-vert-list-block text-center">
       <a href="">
        <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/193401?size=medium"/></div>
        <div>
        <h5>Britse betonnen militaire post 'Swan Chateau'</h5>
         <span><small>ID : 3345</small></span>
        </div>
       </a>
    </div>


    <div class="large-3 columns img-vert-list-block text-center">
       <a href="">
        <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/222989?size=medium"/></div>
        <div>
        <h5>Versteende noodwoning Koning Albertfonds</h5>
         <span><small>ID : 3345</small></span>
      </div>
      </a>
    </div>

    </div>

    <div class="row">

    <div class="large-3 columns img-vert-list-block text-center">
       <a href="">
         <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/188592?size=medium"/></div>
           <div>
           <h5>WEERHAAG VAN MEIDOORN BIJ HOOGSTAMBOOMGAARD</h5>
           <span><small>ID : 3345</small></span>
           </div>
       </a>
    </div>

    <div class="large-3 columns img-vert-list-block text-center">
       <a href="">
        <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/222417?size=medium"/></div>
          <div>
          <h5>OPGAANDE ES</h5>
          <span><small>ID : 3345</small></span>
          </div>
       </a>
    </div>


    <div class="large-3 columns img-vert-list-block text-center">
       <a href="">
        <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/187980?size=medium"/></div>
          <div>
          <h5>Britse betonnen militaire post 'Swan Chateau'</h5>
          <span><small>ID : 3345</small></span>
          </div>
       </a>
    </div>


    <div class="large-3 columns img-vert-list-block text-center">
       <a href="">
        <div class="img-vert-list"><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/225438?size=medium"/></div>
          <div>
          <h5>Versteende noodwoning Koning Albertfonds</h5>
          <span><small>ID : 3345</small></span>
          </div>
       </a>
    </div>

  </div>  

  <div class="fl-block">
        <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>   
  </div>

  </div>       

  </div>


<!-- end large images -->


