<section>
<h5>Geordende lijst</h5>

<ol>
  <li>Lijst item with a much longer <a href="">description</a> or more content.</li>
  <li>Lijst item</li>
  <li>Lijst item
    <ol>
      <li>Geneste lijst <a href="">Lijst Item link</a></li>
      <li>Geneste lijst item</li>
      <li>Geneste lijst item</li>
    </ol>
  </li>
  <li>Lijst item</li>
  <li>Lijst item</li>  
  <li>Lijst item</li>
 </ol>

 </section>