
<section>
<h5>Geen cirkel lijst item</h5>
<ul class="nodisk">
  <li><a href="">List item with a much longer description or more content.</a></li>
  <li>Lijst <a href="">List item with a much longer description or more content.</a> item</li>
  <li>Lijst item </li>
 </ul>
</section>