

<section>
<h5>Geordende lijst zonder nummering</h5>

<ol class="nonumbers">
  <li>Lijst item met meer inhoud <a href="">een link</a> en nog meer inhoud.</li>
  <li>Lijst item</li>
  <li>Lijst item</li>
</ol>

</section>
