
table-app
<table class="table-app">
    <thead>
      <tr>
        <th>#</th>
        <th>Onderwerp</th>
        <th>Datum indienen</th>
        <th>Archeoloog</th>
        <th>Erkenningsnummer</th>
        <th>Beslissing</th>
        <th style="width:20px;"></th>
        <th style="width:100px;">Acties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>20</td>
        <td><a href="">vooronderzoek</a></td>
        <td>00-00-2016</td>
        <td>Naam+Voornaam</td>
        <td>OE/erk/Archeoloog/2015/00009</td>
        <td>Bekrachtiging</td>
        <td><div class="label-dot bg-success">&nbsp;</div></td>
        <td><a href=""><a href=""><i class="fa fa-eye"></i></a></i></a></td>
      </tr>
       <tr>
        <td>20</td>
        <td><a href="">vooronderzoek</a></td>
        <td>00-00-2016</td>
        <td>Naam+Voornaam</td>
        <td>OE/erk/Archeoloog/2015/00009</td>
        <td>In behandeling</td>
         <td><div class="label-dot bg-warning">&nbsp;</div></td>
        <td><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i class="fa fa-eye"></i></a> <a href=""><i class="fa fa-trash"></i></a></td>
      </tr>
      <tr>
        <td>24</td>
        <td><a href="">vooronderzoek</a></td>
        <td>00-00-2016</td>
        <td>Naam+Voornaam</td>
        <td>OE/erk/Archeoloog/2015/00009</td>
        <td>Bekrachtiging met voorwaarden</td>
        <td><div class="label-dot bg-warning">&nbsp;</div></td>
        <td><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i class="fa fa-eye"></i></a> <a href=""><i class="fa fa-trash"></i></a></td>
      </tr>
      <tr>
        <td>24</td>
        <td><a href="">vooronderzoek</a></td>
        <td>00-00-2016</td>
        <td>Naam+Voornaam</td>
        <td>OE/erk/Archeoloog/2015/00009</td>
        <td>Weigeren</td>
        <td><div class="label-dot bg-success">&nbsp;</div></td>
        <td><a href=""><i class="fa fa-eye"></i></a></td>
      </tr>
    </tbody>
</table>

<div class="right">
<div class="label-dot bg-success left" style="margin:7px 10px 0 0">&nbsp;</div> <small class="left">Verzonden</small>
<div class="label-dot bg-warning left" style="margin:7px 10px 0 10px">&nbsp;</div> <small class="left">Te verzenden</small>
</div>







