
base table
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Naam vinder</th>
        <th>Gemeente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
        </tr>
      <tr>
        <td>3</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
      </tr>
    </tbody>
</table>


table-app
<table class="table-app">
    <thead>
      <tr>
        <th>#</th>
        <th>Naam vinder</th>
        <th>Gemeente</th>
        <th>Acties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
        <td><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i class="fa fa-eye"></i></a> <a href=""><i class="fa fa-trash"></i></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
        <td><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i class="fa fa-eye"></i></a> <a href=""><i class="fa fa-trash"></i></td>
        </tr>
      <tr>
        <td>3</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
        <td><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i class="fa fa-eye"></i></a> <a href=""><i class="fa fa-trash"></i></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Naam, voornaam</td>
        <td>Brussel</td>
        <td><a href=""><i class="fa fa-pencil"></i></a> <a href=""><i class="fa fa-eye"></i></a> <a href=""><i class="fa fa-trash"></i></td>
      </tr>
    </tbody>
</table>
<small><a href="" class="right">refresh <i class="fa fa-refresh"></i></a></small>
