ul.socialbox{list-style: none;padding:0;margin-bottom:1em;position: relative;}
ul.socialbox:after {content: " ";visibility: hidden;display: block;height: 0;clear: both;}
ul.socialbox > li{float:left;display:block;margin-right:0.4em;line-height:0;}
ul.socialbox > li > a,ul.socialbox > li > span,ul.socialbox li i{
  display:inline-block;line-height:2.4em;height:2.4em;padding:0 0.8em;
  overflow:hidden;color:#ffffff;
  -ms-border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
ul.socialbox li i{padding:0;display:inline;float:none;} 
ul.socialbox li a:hover{text-decoration: none;}
ul.socialbox li.more span{
  padding:0 1.2em;cursor:pointer;
  background: rgba(0,0,0,0.2) url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgOTMuMzMzIDkzLjMzMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTMuMzMzIDkzLjMzMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNOTMuMzMzLDQxLjk4djkuMzY4SDUxLjM0OXY0MS45ODRoLTkuMzYzVjUxLjM0OEgwVjQxLjk4aDQxLjk4NlYwaDkuMzYzVjQxLjk4SDkzLjMzM3oiLz4NCjwvc3ZnPg0K') no-repeat center center;
}
ul.socialbox li.more span.open{background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgOTMuMzMzIDEwMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTMuMzMzIDEwMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNOTMuMzMzLDQ2LjgxNnY5LjM2N0gwdi05LjM2N0g5My4zMzN6Ii8+DQo8L3N2Zz4NCg==');}

ul.socialbox li.toggle{display:none;}
ul.socialbox.open li.toggle{display:block;}

/* dropdown */
ul.socialbox li ul{display:none;background-color:#ffffff;list-style:none;padding:0;position: absolute;} 
ul.socialbox li ul li{padding:0;} 
ul.socialbox li ul li a{padding:0 1em;display:block;} 
ul.socialbox li ul li a i{padding-right:0.3em;} 
ul.socialbox li:hover ul{display:block;} 
ul.socialbox li ul li a:hover{background-color:#fbfbfb;} 

/* background colors */
ul.socialbox > li.facebook > a{background-color:#3567a6;}
ul.socialbox > li.facebook > a:hover{background-color:#255592;}
ul.socialbox > li.twitter > a{background-color:#2da5da;}
ul.socialbox > li.twitter > a:hover{background-color:#2690bf;}
ul.socialbox > li.linkedin > a{background-color:#007ab9;}
ul.socialbox > li.linkedin > a:hover{background-color:#006ca4;}
ul.socialbox > li.mail > a{background-color:#926da5;}
ul.socialbox > li.mail > a:hover{background-color:#7a588b;}
ul.socialbox > li.print > a{background-color:#888888;}
ul.socialbox > li.print > a:hover{background-color:#6e6e6e;}
ul.socialbox li li.linkedin a,ul.socialbox li li.linkedin a i{color:#007ab9;}
ul.socialbox li  li.mail a,ul.socialbox li  li.mail a i{color:#926da5;}
ul.socialbox li  li.print a,ul.socialbox li  li.print a i{color:#888888;}

/* dropdown */
ul.socialbox li ul{display:none;background-color:#ffffff;list-style:none;padding:0;position: absolute;} 
ul.socialbox li ul li{padding:0;} 
ul.socialbox li ul li a{padding:0 1em;display:block;} 
ul.socialbox li ul li a i{padding-right:0.3em;} 
ul.socialbox.dropdown li.more:hover span{background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgOTMuMzMzIDEwMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTMuMzMzIDEwMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNOTMuMzMzLDQ2LjgxNnY5LjM2N0gwdi05LjM2N0g5My4zMzN6Ii8+DQo8L3N2Zz4NCg==');} 
ul.socialbox li:hover ul{display:block;} 
ul.socialbox li ul li a:hover{background-color:#fbfbfb;} 

/* background colors */
ul.socialbox > li.facebook > a{background-color:#3567a6;}
ul.socialbox > li.twitter > a{background-color:#2da5da;}
ul.socialbox > li.linkedin > a{background-color:#007ab9;}
ul.socialbox > li.mail > a{background-color:#926da5;}
ul.socialbox > li.print > a{background-color:#888888;}
ul.socialbox li li.linkedin a,ul.socialbox li li.linkedin a i{color:#007ab9;}
ul.socialbox li  li.mail a,ul.socialbox li  li.mail a i{color:#926da5;}
ul.socialbox li  li.print a,ul.socialbox li  li.print a i{color:#888888;}