
<!-- agentschappen -->
<div class="row">
<div class="block-holder clearfix">

    <div class="fl-block style-1">
      
        <h4 class="block-title field">Agentschappen</h4>

            <div class="block-text field">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh: </p>
                <ul>
                    <li><a href="#">Departement Onderwijs en Vorming</a> </li>
                    <li>Agentschap voor Hoger Onderwijs, Volwassenen </li>
                    <li>Onderwijs en Studietoelagen </li>
                    <li>Agentschap voor Infrastructuur in het Onderwijs </li>
                    <li>Agentschap voor Kwaliteitszorg in Onderwijs en Vorming </li>
                </ul>
             </div>

    </div>

</div>
</div>