   

<!-- downloads -->

   <div class="fl-block style-3">
      
      <h4 class="block-title field">Downloads</h4>
      <div class="field full download"><a href="#">De Onderwijsspiegel 2013  <i class="fa fa-download"></i></a></div>
      <div class="field full download"><a href="#">Studietoelagen 2013 <i class="fa fa-download"></i></a></div>
      <div class="field full download"><a href="#">Subsidies &amp; steun 2013 <i class="fa fa-download"></i></a></div>
      <div class="field"><a class="more" href="#">meer downloads  &rsaquo;</a></div>

   </div>

<!-- end downloads -->