


<!-- evenementen -->

    <div class="fl-block style-2">
    
            <h4 class="block-title field">Evenementen</h4>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5><p> Ronde van Vlaanderen voor directies uit het secundair onderwijs</p></a></div>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5><p> Ronde van Vlaanderen voor directies uit het secundair onderwijs</p></a></div>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5><p> Ronde van Vlaanderen voor directies uit het secundair onderwijs</p></a></div>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5><p> Ronde van Vlaanderen voor directies uit het secundair onderwijs</p></a></div>
       
    </div>

<!-- end evenementen-->