   
     
<!-- nieuwsfeed -->
<div class="row">
      <div class="fl-block style-2">

        <h4 class="block-title fullfeed"><a href="#">Nieuws</a></h4>

          <div class="field full news">
             <a href="#">
                <time itemprop="datePublished" datetime="" class="right">16u</time>
                <h5>Vlaamse overheid is werkgever van het jaar</h5>  
                <p>Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora</p>
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <time itemprop="datePublished" datetime="" class="right">16u</time>
            <h5>De stemmen zijn geteld</h5> 
            <p>Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora</p>
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <time itemprop="datePublished" datetime="" class="right">14u</time>
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
          <p>Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora</p>
          </a>
      </div>

   

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

    </div>
</div>
<!-- end nieuwsfeed  -->