
     
<!-- nieuws 2 -->
<div class="row">
      <div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>

          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
            <h5>De stemmen zijn geteld</h5> 
            <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
          <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
          </a>
      </div>

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

    </div>
</div>
<!-- end nieuws 2 -->