

<!-- nieuws + content-->
<div class="row">
<div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>
        
          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.     
            </a>
          </div>

          <div class="field full news">
            <a href="#">
               <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
               <h5>De stemmen zijn geteld</h5> 
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales.
            </a>
          </div>
   
          <div class="field full news">
            <a href="#">
            <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </a>
          </div>

          <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    
</div>
</div>
<!-- end nieuws + content -->