<br>
<p class="text-center">nieuwspromo zonder beeld</p>     
    
 
<!-- promo -->

<div class="block-holder clearfix">
  
    <div class="fl-block style-3">

        <div class="block-date field"><i class="fa fa-calendar-o"></i> 23 april, 2013 </div>
        
        <div class="block-text field">

        <h4><a href="#">Onderwijs bepalend voor succes in volwassen leven </a></h4>
        
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Quis nostrum eliat sempris quam.</p>
        <p><a class="more" href="#">lees verder  &rsaquo;</a></p>
        </div>
 
    </div>

</div>

<!-- end promo -->
