<br>
<p class="text-center">zoek</p>  

<div class="panel Searchbox">
<!-- search -->
     <form name="" action="#" method="post" class="clearfix">
        <div class="searchBox">
          <input type='text' placeholder='zoek foto' />
          <button>zoeken</button>
  			<small><a href="">uitgebreid zoeken</a> &rsaquo;</small> 
        
        <!-- optional -->
        <fieldset>
        <input type="checkbox" name="" id="website" value="website">
        <label for="website">Zoek binnen deze  dqdqsd  cqsdswebsite</label>
        <input type="checkbox" name="" id="vlaanderen" value="vlaanderen">
        <label for="vlaanderen">Zoek binnen Vlaanderen.be</label>
		</fieldset>	
  		<!-- end optional -->
        
        </div>
     </form>
<!-- end search -->
</div>