
{% block content %} 

<div style="height:100%">

	<div class="text-center" style="padding:20px 0">
		<h1 style="font-size:60px">
			<i class="fa fa-warning"></i> 401
		</h1>

		<h3>Paswoord vereist.</h3>
		<h4 style="color:#753F7F !important"><strong>Je kan deze pagina alleen maar bekijken als je beschikt over een paswoord. <br>Heb je net geprobeerd om in te loggen? Dan was je login om de een of andere reden ongeldig. </strong></h4>
	</div>





	<div class="row">

		<div class="large-12 columns">

			<div class="panel">
		
				<div class="text-center">
					
					<div class="small-10 small-centered columns" style="padding:20px 0">
						
						<h5 class="text-left" style="">Wat kan je zelf doen?</h5>
						<ul class="disk text-left" style="margin-bottom:10px;">
							<li><strong>Mail naar <a href="mailto:ict@onroerenderfgoed.be">ict@onroerenderfgoed.be</a> om dit probleem te melden</strong></li>
						</Ul>


					</div>

				</div>

			</div>	
			
			<!-- search 2 -->
					<form>
					    <div class="panel fl-block-search" style="margin-top:30px">

								<form name="" action="#" method="post" class="clearfix">
								<div class="searchBox">
								    <input type='text' placeholder='zoek' />
								    <button class="tiny">zoeken</button>
								</div>
								</form> 

					    </div>
					</form>
			<!-- end search 2 -->

		</div>


	</div>



</div>

{% endblock %}