
{% block content %} 
  


<div style="background-color:#753F7F;height:100%">


<div class="text-center" style="padding:20px 0">
	<h1 style="font-size:100px;color:#fff">
		<i class="fa fa-warning" style="color:#fff"></i>
		<span style="color:#fff">404</span>
	</h1>
</div>

<div class="row">
<div class="large-12 columns">

	<div class="panel">
		<div class="text-center">
			<h2>Sorry - er is iets mis gegaan.</h2>
		</div>

<hr>

	<h5>Wat kan dit veroorzaakt hebben ?</h5>

	- Een technisch fout loopt op onze site .<br>
	- We kunnen de pagina hebben verwijderd. <br>
	- De link die u hebt aangeklikt zou hierdoor ‘verouderd' kunnen zijn. <br>
	- U kan per ongeluk de verkeerde URL ingetypt hebben in de adresbalk .<br>


	<h5>Wat u kunt doen ?</h5>

	- Typ de URL over in en probeer opnieuw.<br>
	- Ga terug naar de <a href="/">homepage</a><br>
	- Maak gebruik van de sitemap onderaan deze pagina om te vinden wat u zoekt.

	<h5>Helpen?</h5>

	Wilt u ons helpen dit probleem op te lossen?<br>

	-Neem contact nog in te vullen mailadres !!!!!!!!!!!! met ons op en omschrijf wat er mis ging .<br>
	-Laat ons ook weten welke web browser en besturingssysteem u gebruikte toen dit gebeurde.

		</div>

</div>
</div>




</div>




     
  




{% endblock %}