{% layout "actoren-frontlayout" %}
{% block content %} 
  




<!-- content -->


<!-- search 3 extended -->
<div class="row">

    <div class="large-12 columns">
        <div class="panel fl-block-search">

        <form name="" action="#" method="post" class="clearfix">
            
      
              <div class="row">

              <div class="large-4 medium-4 columns">         
                      <select>
                        <option value="">filter op</option>
                        <option value="">ID</option>
                        <option value="">Naam</option>
                        <option value="">Organisatie</option>
                        <option value="">4</option>
                      </select>
              </div>

              <div class="large-8 medium-8 columns">
              
              <div class="searchBox">
                   <input type='text' placeholder='zoek actoren' />
                   <button>zoek</button>
                   </div>                 
                </div>      
             </div>

            <ul class="tag-label clearfix">
              <li>Jouw selectie</li>
              <li><a href="#">Fotograaf / <strong>iPhone</strong></a> <a href="#"><span>&#10006;</span></a></li>
              <li><a href="#">Fotograaf / <strong>iPhone</strong></a> <a href="#"><span>&#10006;</span></a></li>
              <li><a href="#">Alle filters verwijderen <span>&#10006;</span></a></li>
            </ul>
            <hr>

        </form> 



        <div class="row">
            
               <div class="large-8 medium-8 columns">
                  <h5 style="padding-top:10px">Er zijn 5 resultaten beschikbaar</h5>
               </div>     

              <div class="large-4 medium-4 columns">
                  <select>
                  <option value="">sorteer op</option>
                  <option value="">datum/aflopend</option>
                  <option value="">datum/oplopend</option>
                  <option value="">titel/aflopend</option>
                  <option value="">titel/oplopend</option>            
                  </select>

              </div>


        </div>


<div class="row">
            
    <div class="large-3 medium-3 columns">
    <div class="panel" style="padding:0;background:#efefef">
        <h3 style="padding:10px"><a href="">Van Daele<br>Koen</a></h3>
            <ul class="source" style="margin:0;padding:10px;">
            <li>ID : 1</li>
            <li><span class="" itemprop="" itemscope itemtype="">Onroerend Erfgoed</span></li>
            </ul>  
    </div>    
   </div>  

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3><a href="">Naam</a></h3>
        <section>
        <ul class="source">
        <li>ID : 2</li>
        <li>Adres :
        <span class="" itemprop="streetAddress" itemscope itemtype="http://schema.org/PostalAddress">Koning Albertlaan 5</span>
        <span class="" itemprop="postalCode" itemscope itemtype="http://schema.org/postalCode">0000</span>
        <span class="" itemprop="addressLocality" itemscope itemtype="http://schema.org/addressLocality">Brussel</span>
        <span class="" itemprop="" itemscope itemtype="">Onroerend Erfgoed</span>
        </li>
        </ul>
        </section> 
    </div>    
   </div>  

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3><a href="actorenfront/detail">Naam</a></h3>
        <section>
        <ul class="source">
        <li>ID : 3</li>
        <li>Adres :
        <span class="" itemprop="streetAddress" itemscope itemtype="http://schema.org/PostalAddress">Koning Albertlaan 5</span><br>
        <span class="" itemprop="postalCode" itemscope itemtype="http://schema.org/postalCode">0000</span>
        <span class="" itemprop="addressLocality" itemscope itemtype="http://schema.org/addressLocality">Brussel</span>
        </li>
        </ul>
        </section> 
    </div>    
   </div>  

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3>Naam</h3>
        <section>
        <dl class="source">
        <dt>ID : 4</dt>
        <dd></dd>
        <dt>Adres :</dt>
        <dd>
        <span class="" itemprop="streetAddress" itemscope itemtype="http://schema.org/PostalAddress">Koning Albertlaan 5</span>
        <span class="" itemprop="postalCode" itemscope itemtype="http://schema.org/postalCode">0000</span>
        <span class="" itemprop="addressLocality" itemscope itemtype="http://schema.org/addressLocality">Brussel</span>
        </dd>
        </dl>
        </section> 
    </div>    
   </div>  

</div>  







       </div>
    </div>

</div>

<!-- end search 3 extended-->



<div class="row">
            
    <div class="large-3 medium-3 columns">
    <div class="panel" style="padding:0">
        <h3 style="padding:10px"><a href="">Van Daele<br>Koen</a></h3>
            <ul class="source" style="margin:0;padding:10px;background:#efefef">
            <li>ID : 1</li>
            <li><span class="" itemprop="" itemscope itemtype="">Onroerend Erfgoed</span></li>
            </ul>    
    </div>    
   </div>  

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3><a href="">Naam</a></h3>
        <section>
        <ul class="source">
        <li>ID : 2</li>
        <li>Adres :
        <span class="" itemprop="streetAddress" itemscope itemtype="http://schema.org/PostalAddress">Koning Albertlaan 5</span>
        <span class="" itemprop="postalCode" itemscope itemtype="http://schema.org/postalCode">0000</span>
        <span class="" itemprop="addressLocality" itemscope itemtype="http://schema.org/addressLocality">Brussel</span>
        <span class="" itemprop="" itemscope itemtype="">Onroerend Erfgoed</span>
        </li>
        </ul>
        </section> 
    </div>    
   </div>  

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3><a href="actorenfront/detail">Naam</a></h3>
        <section>
        <ul class="source">
        <li>ID : 3</li>
        <li>Adres :
        <span class="" itemprop="streetAddress" itemscope itemtype="http://schema.org/PostalAddress">Koning Albertlaan 5</span><br>
        <span class="" itemprop="postalCode" itemscope itemtype="http://schema.org/postalCode">0000</span>
        <span class="" itemprop="addressLocality" itemscope itemtype="http://schema.org/addressLocality">Brussel</span>
        </li>
        </ul>
        </section> 
    </div>    
   </div>  

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3>Naam</h3>
        <section>
        <dl class="source">
        <dt>ID : 4</dt>
        <dd></dd>
        <dt>Adres :</dt>
        <dd>
        <span class="" itemprop="streetAddress" itemscope itemtype="http://schema.org/PostalAddress">Koning Albertlaan 5</span>
        <span class="" itemprop="postalCode" itemscope itemtype="http://schema.org/postalCode">0000</span>
        <span class="" itemprop="addressLocality" itemscope itemtype="http://schema.org/addressLocality">Brussel</span>
        </dd>
        </dl>
        </section> 
    </div>    
   </div>  

</div>  


<div class="row">

    <div class="large-3 medium-3 columns">
    <div class="panel">
    <h3>Naam</h3>
    <p>ID:5</p>
    <p>Adres : Ipsum dolor sit amet</p>
    </div>    
   </div>  

</div>  


<!-- page navigation 2 -->

<div class="pagination-centered">
  <ul class="pagination">
    <li><a href=""><</a></li>
    <li class="unavailable"><a href="">1</a> </li>
    <li class=""><a href="">2</a></li>
    <li class=""><a href="">3</a></li>
    <li class=""><a href="">4</a></li>
    <li class=""><a href="">5</a></li>
    <li class="unavailable"><a href="">...</a></li>
    <li class=""><a href="">10</a></li>
    <li class=""><a href="">20</a></li>
    <li class=""><a href="">30</a></li>

    <li><a href="">></a></li>
  </ul>
</div>







{% endblock %}