{% layout "besluiten-layout" %}
{% block content %} 



<div class="row">

	<div class="large-9 columns">

		<div class="panel clearfix">


			<br>

			<div class="row">


				<div class="large-12 medium-12 columns">


					<h1>Agentschap Onroerend Erfgoed</h1>

<hr>
					<ul class="disk">
						<li>Koning Albert II-laan 19, bus 5</li>
						<li>1210 Brussel</li>
						<li>T. 02 553 16 50</li>
						<li><a href="mailto:info@onroerenderfgoed.be">info@onroerenderfgoed.be</a></li>
					</ul>	
					 
  <hr>

<h4>Heb je een algemene vraag voor het agentschap? </h4>
Vul dan onderaan op de contactpagina van de Onroerend Erfgoed site het <a href="https://www.onroerenderfgoed.be/nl/over-ons/contact/" target="blank">formulier in</a>. We helpen je graag verder.

Naast het hoofdkantoor in Brussel zijn er <a href="https://www.onroerenderfgoed.be/nl/over-ons/contact/" target="blank">5 provinciale diensten en een archeologisch depot</a>. 

<br><br>
kaart ? 



				</div>

			</div>




		</div>

	</div>



	<div class="large-3 columns">

		<div class="panel fl-block-search">

			<form name="" action="#" method="post" class="clearfix">

				<h3 style="margin-bottom:20px">Zoeken</h3>


				<div class="placeholder-container" tabindex="-1">
					<label for="email">Tekst </label>
					<input id="email" placeholder="trefwoord" title="tekstveld" type="text"/>
				</div>

				<select style="">
					<option value="">sorteer op</option>
					<option value="">bouwkundig relict</option>
					<option value="">(bouwkundig) geheel</option>
					<option value="">3</option>
					<option value="">4</option>
				</select>

				<form>

					<ul class="nodisk small-list">
						<li><a href="" title="">Beschermingstypes <i class="fa fa-caret-right right"></i></a></li>
						<li><a href="" title="">Provincies <i class="fa fa-caret-right right"></i></a></li>
						<li><a href="" title="">Rechtsgevolgen <i class="fa fa-caret-right right"></i></a></li>


					</ul>
				</form>


				<br>

				<a href="besluitenresult" class="button tiny expand">ZOEKEN</a>


			</form> 




		</div>

	</div>
</div>



</div>
<div id="footerContainer">
		<!-- footer -->
		{% include "app-footer" %}
		<!-- end footer -->
</div>



{% endblock %}