{% layout "erfgoedstijl-layout" %}
{% block content %}

<!-- content -->




<div class="row">

<div class="large-9 columns">
    <h1>Archeologische ensemble melden</h1>
    
<form>

<div class="row">
<div class="large-12 columns">

<div class="panel">
          
        <h4>Gebruiker</h4>  
          <div class="large-12 columns text-center">
            <input type="radio" name="" value="" id="radio1"><label for="radio1">Natuurlijk persoon</label>
            <input type="radio" name="" value="" id="radio2" checked><label for="radio2">Rechtspersoon</label>
          </div>

  <br>
  <br>

   <div class="row">

            <div class="large-6 columns">
              <label>Naam <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="naam" required />
              </label>
            </div>


            <div class="large-6 columns">
              <label>Voornaam <small class="form-small-caps">verplicht</small>
              <input type="text" placeholder="voornaam" class="error" />
              </label>
              <small class="error">Gelieve bovenstaand veld correct in te vullen</small>
            </div>

          </div>


          <!-- div class="row">

            <div class="large-6 columns">
              <label>Naam <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="naam" required />
              </label>
              <label>Straat <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="straat" required />
              </label>
              <label>Postcode <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="postcode" required />
              </label>
              <label>Land
                <input type="text" placeholder="land" required />
              </label>
            </div>


            <div class="large-6 columns">
              <label>Voornaam <small class="form-small-caps">verplicht</small>
              <input type="text" placeholder="voornaam" class="error" />
              </label>
              <small class="error">Gelieve bovenstaand veld correct in te vullen</small>
              <label>Nr / Bus <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="Nr / Bus" required />
              </label>
              <label>Gemeente <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="Gemeente" required />
              </label>
               <label>E-mail
                <input type="text" placeholder="E-mail" required />
              </label>
            </div>

          </div>

      <input id="checkbox1" type="checkbox"><label for="checkbox1">publiekrechtelijk</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">privaatrechtelijk</label -->


<!-- for illustration purposes-->

<div style="border:2px solid #efefef;padding:10px;margin-bottom:10px">

<div class="row">
  <div class="large-2 columns" style="margin-top:8px">Land</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option>België</option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">Gemeente <i class="fa fa-info-circle"></i></div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>
         
<div class="row">
  <div class="large-2 columns">Postcode</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

<div class="row">
  <div class="large-2 columns">Straat</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>            

<div class="row">
  <div class="large-2 columns">Huisnr</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

<div class="row">
  <div class="large-2 columns">Busnr.</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

         </div>


    <input id="checkbox1" type="checkbox"><label for="checkbox1">publiekrechtelijk</label>
    <input id="checkbox2" type="checkbox"><label for="checkbox2">privaatrechtelijk</label>


</div>

</div>
</div>


<div class="row">
<div class="large-12 columns">

<div class="panel">

          <h4>Zakelijkrechthouder</h4>
       
            <div class="large-12 columns text-center">
              <input type="radio" name="" value="" id="radio1"><label for="radio1">Natuurlijk persoon</label>
              <input type="radio" name="" value="" id="radio2" checked><label for="radio2">Rechtspersoon</label>
            </div>
     
     <br><br>

          <div class="row">

            <div class="large-6 columns">
              <label>Naam <small class="form-small-caps">verplicht</small>
                <input type="text" placeholder="naam" required />
              </label>
            </div>


            <div class="large-6 columns">
              <label>Voornaam <small class="form-small-caps">verplicht</small>
              <input type="text" placeholder="voornaam" />
              </label>
      
            </div>

          </div>


<!-- for illustration purposes-->

<div style="border:2px solid #efefef;padding:10px;margin-bottom:10px">

<div class="row">
  <div class="large-2 columns" style="margin-top:8px">Land</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option>België</option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">Gemeente <i class="fa fa-info-circle"></i></div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>
         
<div class="row">
  <div class="large-2 columns">Postcode</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

<div class="row">
  <div class="large-2 columns">Straat</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>            

<div class="row">
  <div class="large-2 columns">Huisnr</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

<div class="row">
  <div class="large-2 columns">Busnr.</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

         </div>

      <input id="checkbox1" type="checkbox"><label for="checkbox1">publiekrechtelijk</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">privaatrechtelijk</label>


</div>

</div>
</div>




<div class="row">
<div class="large-12 columns">

<div class="panel">

          <h4>Bewaarplaats</h4>
         

         <!-- for illustration purposes-->

<div style="border:2px solid #efefef;padding:10px;margin-bottom:10px">

<div class="row">
  <div class="large-2 columns" style="margin-top:8px">Land</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option>België</option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">Gemeente <i class="fa fa-info-circle"></i></div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>
         
<div class="row">
  <div class="large-2 columns">Postcode</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

<div class="row">
  <div class="large-2 columns">Straat</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>            

<div class="row">
  <div class="large-2 columns">Huisnr</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>
</div>   

<div class="row">
  <div class="large-2 columns">Busnr.</div>
  <div class="large-10 columns">
            <select style="border:0">
                <option></option>
                <option></option>
                <option></option>
            </select>
  </div>

</div>   

  
          </div>



<strong>Bewaarplaats is een erkend onroerenderfgoeddepot</strong> 
<small class="form-small-caps">verplicht</small>

 <div class="large-12 columns">
      <input type="radio" name="" value="" id="radio1"><label for="radio1">ja</label>
      <input type="radio" name="" value="" id="radio2"><label for="radio2">nee</label>
</div>

<br><br><br>

<strong>Referentie met CAI</strong>

<div class="placeholder-container" tabindex="-1">
  <label for="url-${id}">URL</label>
  <input data-dojo-attach-point='url' class="placeholder-input-border" style="width:90%; float:left;" type="text" id="url-${id}" pattern=""/>
  <a href="#" data-dojo-attach-event="onClick: _addUrl" class="plus-icon-link"><i class="fa fa-trash plus-icon"></i></a>
</div>


<div class="placeholder-container" tabindex="-1">
  <label for="url-${id}">URL</label>
  <input data-dojo-attach-point='url' class="placeholder-input-border" style="width:90%; float:left;" type="text" id="url-${id}" pattern=""/>
  <a href="#" data-dojo-attach-event="onClick: _addUrl" class="plus-icon-link"><i class="fa fa-plus plus-icon"></i></a>
</div>




<div class="text-center">
<a href="#" data-reveal-id="myModal1" class="tiny button">Verzenden</a>
</div>


<!-- modal -->
<div id="myModal1" class="reveal-modal" data-reveal>
 <a class="close-reveal-modal" style="padding: 12px 18px">&#215;</a>

<h3>Archeologische ensemble aanmaken</h3>
<hr>
<p>Archeologisch ensemble met ID xx werd aangemaakt.’</p>
<hr>
<div class="text-center">
<a href="#" class="tiny button">Sluit</a>
</div>

</div>
<!--end modal -->





</div>

</div>
</div>



</div>


<div class="large-3 columns">



<!-- search 6 -->

<div class="">

<div class="panel fl-block-search">

<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Archeologisch ensemble zoeken</h3>


    <div class="placeholder-container" tabindex="-1">
      <input id="email" placeholder="trefwoord" title="Your Email" type="text"/>
    </div>
    
    
    <a href="#" class="button small expand">ZOEKEN</a>

</form> 



    </div>
</div>

<!-- end search 6 -->



</div>

</div>


<!-- end content -->



<!-- end content -->



<!-- footer -->

<!-- end footer -->

 
  
{% endblock %}