 {% layout "erfgoedstijl-layout" %}
{% block content %}

<!-- content -->




<div class="row">
<div class="large-9 columns">

     <div class="row">
      <div class="large-12">
       <div style="padding:20px">
         <h1>Archeologische ensembles <strong>ID: 24</strong></h1>
          <div class="right">
          <button class="button tiny">gegevens wijzigen</button>
          <button class="button tiny">contactgegevens aanvragen</button>
          </div>
         <time itemprop="datePublished" datetime="2015-06-09" class="time-block">donderdag 11-06-2015</time>
       </div>

</div>
</div>


    
<div class="row">
<div class="large-12 columns">

<div class="panel">
          <h4>Zakelijkrechthouder</h4>
          <hr>

          <div class="row">

            <div class="large-6 columns">
              <dl>
                <dt>Naam</dt>
                <dd>...</dd>
                <dt>Straat</dt>
                <dd>...</dd>
                <dt>Postcode</dt>
                <dd>...</dd>
                <dt>Land</dt>
                <dd>...</dd>
              </dl>
            </div>

            <div class="large-6 columns">
              <dl>
                <dt>Voornaam</dt>
                <dd>...</dd>
                <dt>Nr / Bus</dt>
                <dd>...</dd>
                <dt>Gemeente</dt>
                <dd>...</dd>
                <dt>E-mail</dt>
                <dd>...</dd>
              </dl>
            </div>

          </div>

</div>


<div class="panel">

        <h4>Gebruiker</h4>
        <hr>
        <div class="row">
          <div class="large-6 columns">
            <dl>
              <dt>Naam</dt>
              <dd>...</dd>
              <dt>Straat</dt>
              <dd>...</dd>
              <dt>Postcode</dt>
              <dd>...</dd>
              <dt>Land</dt>
              <dd>...</dd>
            </dl>
          </div>
          <div class="large-6 columns">
            <dl>
              <dt>Voornaam</dt>
              <dd>...</dd>
              <dt>Nr / Bus</dt>
              <dd>...</dd>
              <dt>Gemeente</dt>
              <dd>...</dd>
              <dt>E-mail</dt>
              <dd>...</dd>
            </dl>
          </div>
       </div>

</div>



<div class="panel">


        <h4>Bewaarplaats</h4>
        <hr>

        <div class="row">

          <div class="large-6 columns">
            <dl>
              <dt>Straat</dt>
              <dd>...</dd>
              <dt>Postcode</dt>
              <dd>...</dd>
              <dt>Land</dt>
              <dd>...</dd>
            </dl>
          </div>

          <div class="large-6 columns">
            <dl>
              <dt>Nr / Bus</dt>
              <dd>...</dd>
              <dt>Gemeente</dt>
              <dd>...</dd>
            </dl>
          </div>
        
        </div>     

</div>

</div>
</div>

  
  <div class="right">
    <button class="button tiny">gegevens wijzigen</button>
    <button class="button tiny">contactgegevens aanvragen</button>
  </div>

</div>


<div class="large-3 columns">



<!-- search 6 -->
<!--a href="" class="button expanded">Archeologisch ensemble melden</a-->

<!--div class="panel fl-block-search">

<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Archeologisch ensemble zoeken</h3>

    <div class="placeholder-container" tabindex="-1">
      <input id="email" placeholder="trefwoord" title="Your Email" type="text"/>
    </div>
    
    <a href="#" class="button small expand">ZOEKEN</a>

</form> 

</div-->

<!-- end search 6 -->

<!-- downloads -->

<div class="fl-block style-3">
<h4 itemprop="name" class="block-title field">Link <i class="fa fa-link"></i></h4>
<div class="field full download"><a itemprop="url" href="#">Archeologienota ID: 16</a></div>
<!--div class="field full download"><a itemprop="url" href="#">nota <i class="fa fa-download"></i></a></div>
<div class="field full download"><a itemprop="url"  href="#">eindverslag  <i class="fa fa-download"></i></a></div>
<div class="field full download"><a itemprop="url"  href="#">CAI  <i class="fa fa-download"></i></a></div-->
</div>

<!-- end downloads -->


</div>

</div>


<!-- end content -->



<!-- end content -->



<!-- footer -->

<!-- end footer -->

 
  
{% endblock %}