{% layout "erfgoedstijl-layout" %}
{% block content %}

<!-- content -->




<div class="row">

<div class="large-12 columns">
  <div class="panel">
  <i class="fa fa-info-circle"></i> Op deze website kan je het register terugvinden van de zakelijkrechthouders, gebruikers en bewaarplaatsen van archeologische ensembles. Enkel de gegevens van de publiekrechterlijke rechtspersonen en erkende onroerenderfgoedepots worden publiek beschikbaar gemaakt
</div>
</div>


<div class="large-9 columns">
    

<div class="fl-block style-2">



  <div class="clearfix">


 <div itemscope="" itemtype="http://schema.org/Article" class="field full result">

<div style="padding:20px">

  <div class="large-9 columns" style="padding:0">
          <h1>Archeologische ensembles</h1>
    <div class="left">
    <p><strong>1</strong> resultaat voor <strong>ID: 24</strong> </p>
    </div>
  </div>
 <div class="large-3 columns" style="padding:0;">

      <form >
          <select style="">
            <option value="status" selected>-- Sorteer op --</option>
            <option value="1">ID - aflopend</option>
            <option value="2">ID - oplopend</option>
            <option value="3">Datum - aflopend</option>
            <option value="4">Datum - oplopend</option>
          </select>
      </form>
</div>
</div>

</div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="arch-ensembles-detail">
                <h5 itemprop="name">ID: 24</h5>
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">donderdag 11-06-2015</time>
               </a>
          </div>

      

  </div>

</div>




<div class="pagination-centered">
  <ul class="pagination">
    <li><a href="">Vorige</a></li>
    <li class="arrow unavailable"><a href="">1</a></li>
    <li class="active"><a href="">2</a></li>
    <li class=""><a href="">3</a></li>
    <li class=""><a href="">4</a></li>
    <li><a href="">Volgende</a></li>
  </ul>
</div>


</div>


<div class="large-3 columns">



<!-- search 6 -->
<a href="" class="button expanded">Archeologisch ensemble melden</a>

<div class="">


<div class="panel fl-block-search">

<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Archeologisch ensemble zoeken</h3>


    <div class="placeholder-container" tabindex="-1">
      <input id="email" placeholder="trefwoord" title="Your Email" type="text"/>
    </div>
    
    
    <a href="#" class="button small expand">ZOEKEN</a>

</form> 



    </div>
</div>

<!-- end search 6 -->


</div>

</div>


<!-- end content -->



<!-- end content -->



<!-- footer -->

<!-- end footer -->

 
  
{% endblock %}