
{% block content %}



<div class="row">

   <div class="large-9 columns">

       <div class="panel clearfix">

		       
<h1>Mijn besluit</h1>


<div class="row">
<div class="large-12 columns data">

<ul class="disk">              
<li>opheffingsbesluiten</li>               
<li>koninklijke besluiten</li>                        
<li>voorlopige opheffingsbesluiten</li>           
</ul>                    
            
<hr>

<h3>Besluiten secretaris-generaal</h3>
                    
	 <dl class="def-besluit">
		<dt>Ondertekend door</dt>
		<dd>Koning Leopold III</dd>

		<dt>Archeologische zone</dt>
		<dd>Antwerpen</dd>
		<dt>Landschap</dt>
		<dd>Limburg</dd>
		<dt>Monument</dt>
		<dd>Stads of dorpsgezicht</dd>           
 
		<dt>Ankerplaats</dt>
		<dd>West-Vlaanderen</dd>

		<dt>Opmerkingen</dt>
		<dd>Er valt niets op aan te merken. Er valt niets op aan te merken. Er valt niets op aan te merken. Er valt niets op aan te merken.</dd>

		<dt>Voorafgegaan door</dt>
		<dd><a href=""><time class="date" datetime="2013-12-01">01/12 <span>2013</span></time></a></dd>
	</dl>



</div>
</div>



	<ul class="source">
	<li>Aangemaakt door anoniem op 17-06-2015 10:27.</li>
	<li>Laatst bewerkt door nepgebruiker op 24-06-2015 11:16.</li>
	<li>Huidige status: <em class="status">Actief</em> (Laatst gewijzigd door vandaemi op 03-12-2006 00:00).</li>
	</ul>

</div>
</div>



<div class="large-3 columns">

	<div class="fl-block style-3">
      
      <h3 itemprop="name" class="block-title field">ID 1
	  <span class="right" style="font-size:0.8em">Activatie &nbsp;<i class="fa fa-check" style="margin-top:4px"></i></span>
      </h3>
     
 		<div class="field full download">
 			<a itemprop="url" href="#">
 			<i class="fa fa-download" style="margin-top:8px"></i><h4>Belgisch staatsblad</h4>
 			<time>2012-11-18</time><br>
 			(jaargang 200, nummer 74)
 			</a>
 		</div>
      	
      	<div class="field">Datum ondertekening<br><time>2012-11-17</time></div>
  	    <div class="field">Betekening &amp; steun 2013<br><time>2012-11-19</time></div>


   </div>

   </div>





<!-- start footer -->
<!-- end footer -->
 



{% endblock %}