{% layout "besluiten-layout" %}
{% block content %}



<div class="row">

   <div class="large-9 columns">


  
  <div class="panel clearfix">

      <h1>Mijn besluit</h1>
  
		<div class="row" style="margin-top:20px">
		<div class="large-12 columns data">
      <div class="panel" style="margin-bottom:30px">
      <p><i class="fa fa-info-circle"></i> <small>Dit besluit gaat over landschappen, monumenten in Antwerpen, Limburg.</small></p>
      </div>
      <h4><strong>Definitieve beschermingsbesluiten, opheffingsbesluiten</strong></h4>
                 
<table class="def-besluit">
<tr>
  <td>Uitgevaardigd als</td>
  <td>Koninklijk besluiten</td>
</tr>
<tr>
  <td>Ondertekend door</td>
  <td>Koning Leopold III</td>
</tr>
<tr>
  <td>Datum ondertekening</td>
  <td><time>2012-11-17</time></td>
</tr>

<tr>
  <td>Datum betekening</td>
  <td><time>2012-11-19</time></td>
</tr>
<tr>
  <td>Opmerkingen</td>
  <td>Er valt niets op aan te merken. Er valt niets op aan te merken. Er valt niets op aan te merken. Er valt niets op aan te merken.</td>
</tr>




</table>

		
</div>

</div>


	<ul class="source" style="margin:0">
	<li>Aangemaakt door anoniem op 17-06-2015 10:27.</li>
	<li>Laatst bewerkt door nepgebruiker op 24-06-2015 11:16.</li>
	<li>Huidige status: <em class="status">Actief</em> (Laatst gewijzigd door vandaemi op 03-12-2006 00:00).</li>
	</ul>
  
  <small><a href="" class="right"><i class="fa fa-pencil"></i> bewerk</a></small>

</div>



<h5 style="margin:30px 0">Voorafgegaan door</h5>


<div class="fl-block style-2 clearfix"> 


       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <time class="date left" datetime="2013-12-01" style="margin-bottom:20px"><span class="alert-time label">01/12/2013</span> &nbsp;&nbsp;</time>
                  <h5 itemprop="name" style="margin-left:30px">Religieuze en openbare gebouwen</h5>
                  <small>Opheffingsbesluiten</small>         
            </a>
       </div>

       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <time class="date left" datetime="2013-12-01" style="margin-bottom:20px">
                  <span class="alert-time label">01/12/2013</span> &nbsp;&nbsp;</time>
                  <h5 itemprop="name">Begijnhof met woningen,poortgebouw en bidplaats en het geheel van Begijnhof</h5> 
                  <small>Opheffingsbesluiten</small>         
            </a>
       </div>

       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <time class="date left" datetime="2013-12-01" style="margin-bottom:20px">
                  <span class="alert-time label">01/12/2013</span> &nbsp;&nbsp;</time>
                  <h5 itemprop="name">Religieuze en openbare gebouwen</h5>
                  <small>Opheffingsbesluiten</small>
            </a>
       </div>


 </div>


<div class="text-center">
<a href="#" class="button tiny">meer tonen</a>
</div>


<h5 style="margin:30px 0">Gevolgd door</h5>

<div class="fl-block style-2 clearfix"> 

	 
      <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <time class="date left" datetime="2013-12-01" style="margin-bottom:20px">
                  <span class="alert-time label">01/12/2013</span>  &nbsp;&nbsp;</time>
                  <h5 itemprop="name">Religieuze en openbare gebouwen</h5> 
                  <small>Opheffingsbesluiten</small>        
            </a>
      </div>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <time class="date left" datetime="2013-12-01" style="margin-bottom:20px">
                  <span class="alert-time label">01/12/2013</span>  &nbsp;&nbsp;</time>
				          <h5 itemprop="name">Religieuze en openbare gebouwen</h5>
                  <small>Opheffingsbesluiten</small>       
            </a>
      </div>

 </div>



<h5 style="margin:30px 0">Alle bestanden</h5>

<!-- row -->
<div class="row">

<div class="large-4 columns">

  <div class="panel" style="font-size:0.8em">
  <div class="text-center">
  <h3>Plan</h3>
  <h4>4777_plan1_verso.jpeg </h4>
  <a href="besluitenpagina" class="button tiny" style="margin:0 0 10px 0"><i class="fa fa-download"></i> downloaden (704.6 KB)</a>
  <br>
  <small>MD5 : 74837c966deab38ee7743a158724b4ebd</small>
  </div>
  </div>

</div>

<div class="large-4 columns">

  <div class="panel" style="font-size:0.8em">
  <div class="text-center">
  <h3>Plan</h3>
  <h4>4777_plan1_verso.jpeg </h4>
  <a href="besluitenpagina" class="button tiny" style="margin:0 0 10px 0"><i class="fa fa-download"></i> downloaden (704.6 KB)</a>
  <br>
  <small>MD5 : 74837c966deab38ee7743a158724b4ebd</small>
  </div>
  </div>

</div>

<div class="large-4 columns">

  <div class="panel" style="font-size:0.8em">
  <div class="text-center">
  <h3>Plan</h3>
  <h4>4777_plan1_verso.jpeg </h4>
  <a href="besluitenpagina" class="button tiny" style="margin:0 0 10px 0"><i class="fa fa-download"></i> downloaden (704.6 KB)</a>
  <br>
  <small>MD5 : 74837c966deab38ee7743a158724b4ebd</small>
  </div>
  </div>

</div>

</div>

<div class="text-center">
<a href="#" class="button tiny">meer tonen</a>
</div>

<!-- end row -->



 </div>



<div class="large-3 columns">


<!-- search 6 -->

<div class="panel fl-block-search">

<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Zoeken</h3>


    <div class="placeholder-container" tabindex="-1">
      <label for="email">Tekst</label>
      <input id="email" placeholder="'S Gravenvoeren" title="'S Gravenvoeren" type="text"/>
    </div>
    

<a href="besluitenpagina" class="button tiny expand">ZOEKEN</a>


</form> 

</div>

<!-- end search 6 -->


<!-- start ID -->
<div class="fl-block style-3">

    <h3 itemprop="name" class="block-title field">ID 1
    <span class="right" style="font-size:0.8em">Activatie &nbsp;<i class="fa fa-check" style="margin-top:4px"></i></span>
    </h3>

     <div class="field full download">
       <a itemprop="url" href="#">
         <i class="fa fa-book" style="margin-top:2px;font-size:2em;color:#ccc"></i><h5><strong>Belgisch staatsblad</strong></h5>

        <small> <time>2012-11-18</time> jaargang 200, nummer 74</small>
        <!--hr>
         <small>Datum ondertekening : <time>2012-11-17</time><br>
         Datum betekening : <time>2012-11-19</time>
         </small -->
      </a>
     </div>

</div>
<!-- end ID -->
   
<!-- downloads -->

   <div class="fl-block style-3">
      
      <h4 itemprop="name" class="block-title field">Downloads</h4>

      <div class="field full download">
      <a itemprop="url" href="#">
      <i class="fa fa-download"></i>
      Plan : 4777_plan1_verso.jpeg<br>
      <small>(704.6 KB)</small><br>
      <small>MD5 : 74837c966deab38ee7743a158724b4ebd</small>
      </a>
      </div>

      <div class="field full download">
      <a itemprop="url" href="#">
      <i class="fa fa-download"></i>
      Plan : 4777_plan1_verso.jpeg<br>
      <small>(704.6 KB)</small><br>
      <small>MD5 : 74837c966deab38ee7743a158724b4ebd</small>
      </a>
      </div>

      <div class="field full download">
      <a itemprop="url" href="#">
      <i class="fa fa-download"></i>
      Plan : 4777_plan1_verso.jpeg<br>
      <small>(704.6 KB)</small><br>
      <small>MD5 : 74837c966deab38ee7743a158724b4ebd</small>
      </a>
      </div>

    

   </div>

<!-- end downloads -->
















<!-- downloads -->
<!-- end downloads -->



<!-- start social -->
<!-- end  social -->




</div>





{% endblock %}