{% layout "besluiten-layout" %}
{% block content %} 



<div class="row">

   <div class="large-9 columns">

       <div class="panel clearfix">

		       
		<h1>Welkom op de besluitendatabank</h1>
			

<br>


			<div class="row">

				<div class="large-6 medium-6 columns">
	              <p>Het beheer van onroerend erfgoed is een ruim begrip. Het slaat op alle werken, maatregelen en handelingen die de waarden en kenmerken van het erfgoed in stand houden, verbeteren of herstellen.</p>
	           	  <!--p>Daarbij is het belangrijk na te denken over de ambities op langere termijn.</p-->	
	           	   <p>Die kun je concretiseren in een beheersplan voor het onroerend goed: een document waarin je onder meer vastlegt welke werkzaamheden waar en wanneer nodig zijn.</p> 
	            
	            </div>


	            <div class="large-6 medium-6 columns vruler">
	             
	              <i class="fa fa-search icon-large-left"></i>
	               <h3>Op zoek in de databank?</h3>
	               <p>Ben je op zoek naar een beschermd item? Deze kun je vinden in onze <a href="https://beschermingen.onroerenderfgoed.be">beschermingsdatabank</a>.</p> 

	               <i class="fa fa-question-sign icon-large-left"></i>
	               <h3>Vragen?</h3>
	               <p>Stel je fouten vast of heb je een vraag over een beschermingsbesluit? Mail dan naar <a href="mailto:beschermen@onroerenderfgoed.be">beschermen@onroerenderfgoed.be</a>.</p>    
	             
	            </div>

	 		</div>

	



       </div>

   </div>



    <div class="large-3 columns">

	<div class="panel fl-block-search">
		
<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Zoeken</h3>


    <div class="placeholder-container" tabindex="-1">
      <label for="email">Tekst </label>
      <input id="email" placeholder="trefwoord" title="tekstveld" type="text"/>
    </div>
    
     <select style="">
       <option value="">sorteer op</option>
       <option value="">bouwkundig relict</option>
       <option value="">(bouwkundig) geheel</option>
       <option value="">3</option>
       <option value="">4</option>
     </select>

<form>

<ul class="nodisk small-list">
	<li><a href="" title="">Beschermingstypes <i class="fa fa-caret-right right"></i></a></li>
	<li><a href="" title="">Provincies <i class="fa fa-caret-right right"></i></a></li>
  <li><a href="" title="">Rechtsgevolgen <i class="fa fa-caret-right right"></i></a></li>
	

</ul>
</form>


<br>

<a href="besluitenresult" class="button tiny expand">ZOEKEN</a>


</form> 




	</div>

   </div>
</div>



</div>
<div id="footerContainer">

<!-- footer -->
<!-- end footer -->

       <script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/79a9f632dc8e45aa884f7924ee16f7bf?mtime=1421237274"></script>
</div>


<!-- end search 3 extended-->
<!-- end search -->
 



{% endblock %}