{% layout "besluiten-layout" %}
{% block content %}


<!-- content -->

<div class="row">


<div class="large-9 columns">
    

<div class="clearfix">
<h1 class="left">Zoekresultaat</h1> 
</div>


<div class="fl-block style-2"> 

<div itemscope="" itemtype="http://schema.org/Article" class="field full result clearfix">

    <div class="left" style="padding:20px">
    <p><strong>63</strong> resultaten voor <strong>'S Gravenvoeren</strong> > <strong>'S Gravenvoeren</strong> </p>
    </div>

 </div>


           <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="besluitenpagina">
                <small class="right">ID : 43356</small>
                <h5 itemprop="name">'S Gravenvoeren, Sint-Martens-Voeren en Sint-Pieters-Voeren</h5>
            
                <p itemprop="description"><strong>Besluiten tot ontwerp van lijst</strong></p>
                Ankerplaats
               <time itemprop="datePublished" datetime="2015-06-09" class="time-block">11-06-2015</time>
            </a>

          </div>

           <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
              <small class="right">ID : 43356</small>
                <h5 itemprop="name">'S Gravenvoeren, Sint-Martens-Voeren en Sint-Pieters-Voeren</h5>
                  <p itemprop="description"><strong>Definitieve beschermingsbesluiten</strong></p> 
                  Ankerplaats
                  <time itemprop="datePublished" datetime="2015-06-09" class="time-block">11-06-2015</time>
            </a>
          </div>


</div>





<div class="pagination-centered">
  <ul class="pagination">
    <li><a href="">Vorige</a></li>
    <li class="arrow unavailable"><a href="">1</a></li>
    <li class="active"><a href="">2</a></li>
    <li class=""><a href="">3</a></li>
    <li class=""><a href="">4</a></li>
    <li class=""><a href="">5</a></li>
    <li class=""><a href=""> ... 10</a></li>
    <li><a href="">Volgende</a></li>
  </ul>
</div>


</div>


<div class="large-3 columns">



<!-- search 6 -->

<div class="large-12">

<div class="panel fl-block-search">

<form name="" action="#" method="post" class="clearfix">

<h3 style="margin-bottom:20px">Zoeken</h3>


    <div class="placeholder-container" tabindex="-1">
      <label for="email">Tekst</label>
      <input id="email" placeholder="'S Gravenvoeren" title="'S Gravenvoeren" type="text"/>
    </div>
    
     <select style="">
       <option value="">sorteer op</option>
       <option value="">bouwkundig relict</option>
       <option value="">(bouwkundig) geheel</option>
       <option value="">3</option>
       <option value="">4</option>
     </select>



<ul class="nodisk small-list">
  <li><a href="" title="">Beschermingstypes <i class="fa fa-caret-down right"></i></a></li>

<ul class="">
  <li><input type="checkbox" name="" value="" id="1"> <label for="1">monument</label></li>
  <li><input type="checkbox" name="" value="" id="2"> <label for="2">landschap</label></li>

</ul>

  <li><a href="" title="">Provincies <i class="fa fa-caret-right right"></i></a></li>
  <li><a href="" title="">Rechtsgevolgen <i class="fa fa-caret-right right"></i></a></li>
  <li><a href="" title="">Jaar van ondertekening <i class="fa fa-caret-right right"></i></a></li>
  <li><a href="" title="">Personen <i class="fa fa-caret-right right"></i></a></li>
  <li><a href="" title="">Uitvaardigers <i class="fa fa-caret-right right"></i></a></li>

</ul>

<br>

<a href="besluitenpagina" class="button tiny expand">ZOEKEN</a>


</form> 
</div>

</div>

<!-- end search 6 -->



<!-- downloads -->
<!-- end downloads -->



<!-- start social -->
<!-- end  social -->

</div>

</div>


<!-- end content -->




<!-- footer -->
<!-- end footer -->

 
  
{% endblock %}