{% layout "besluiten-layout" %}
{% block content %}



<div class="row">

   <div class="large-9 columns">

       <div class="panel clearfix">
  
		<h1>Mijn besluit</h1>

		<div class="row" style="margin-top:20px">
		<div class="large-12 columns data">


			<div class="panel">
			<p><strong>Dit besluit gaat over landschappen en monumenten in Antwerpen, Limburg.</strong></p>
			</div>


		<h4>Definitieve beschermingsbesluiten, opheffingsbesluiten</h4>
                    
			 <dl class="def-besluit">
				<dt>Ondertekend als</dt>
				<dd>Koninklijk besluiten</dd>
		 
				<dt>Ondertekend door</dt>
				<dd>Koning Leopold III</dd>
		 
				<dt>Opmerkingen</dt>
				<dd>Er valt niets op aan te merken. Er valt niets op aan te merken. Er valt niets op aan te merken. Er valt niets op aan te merken.</dd>

			</dl>

</div>

</div>



	<ul class="source">
	<li>Aangemaakt door anoniem op 17-06-2015 10:27.</li>
	<li>Laatst bewerkt door nepgebruiker op 24-06-2015 11:16.</li>
	<li>Huidige status: <em class="status">Actief</em> (Laatst gewijzigd door vandaemi op 03-12-2006 00:00).</li>
	</ul>

</div>


<h5 style="margin:30px 0">Voorafgegaan door</h5>


<div class="fl-block style-2 clearfix"> 


       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
               
                  <time class="date left" datetime="2013-12-01"><span class="secondary label">01/12/2013</span> &nbsp;</time>
			
                  <h5 itemprop="name" style="margin-left:30px">Religieuze en openbare gebouwen opheffingsbesluiten</h5>        
            </a>
       </div>

       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <div class="left">
                  <time class="date" datetime="2013-12-01"><span class="secondary label">01/12/2013</span></time>
				  </div>
                  <h5 itemprop="name">Begijnhof met woningen,poortgebouw en bidplaats en het geheel van Begijnhof</h5>        
            </a>
       </div>

       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <div class="left" style="height:100px;border:1px solid #C03">
                  	<time class="date" datetime="2013-12-01"><span class="secondary label">01/12/2013</span></time>
				  </div>
				  <div class="left" style="">
                  <h5 itemprop="name" style="margin-bottom:5px">Religieuze en openbare gebouwen qdkqmsldk kc mlkcqmlsk k k kqmlkqsmkk  km kmkmk mk k kdlqmkds lmk mkmlkm</h5>
                  <small>Opheffingsbesluiten</small>
                  </div> 
            </a>
       </div>

       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <div class="left">
                  	<time class="date" datetime="2013-12-01" style="margin-right:20px;background:#666;color:#fff;padding:5px 10px;font-size:0.8em">01/12/2013</time>
				  </div>
                  <h5 itemprop="name">Religieuze en openbare gebouwen</h5> 
                  <small>opheffingsbesluiten</small>       
            </a>
       </div>

              <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <div class="left">
                  	<time class="date" datetime="2013-12-01" style="margin-right:20px;background:#666;color:#fff;padding:5px 10px;font-size:0.8em">01/12/2013</time>
				  </div>
                  <h5 itemprop="name">Religieuze en openbare gebouwen</h5>      
                  <small>opheffingsbesluiten</small>  
            </a>
       </div>

 </div>


<div class="text-center">
<a href="#" class="button tiny">meer tonen</a>
</div>


<h5 style="text-transform:uppercase;margin:30px 0">Gevolgd door</h5>

<div class="fl-block style-2 clearfix"> 

	 
       <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <div class="left">
                  	<time class="date" datetime="2013-12-01" style="margin-right:20px;background:#efefef;padding:5px 10px;font-size:0.8em">01/12/2013</time>
				  </div>
                  <h5 itemprop="name">Religieuze en openbare gebouwen opheffingsbesluiten</h5>        
            </a>
       </div>

              <div itemscope="" itemtype="http://schema.org/Article" class="field full result">
            <a itemprop="url" href="#">
                  <div class="left">
                  	<time class="date" datetime="2013-12-01" style="margin-right:20px;background:#efefef;padding:5px 10px;font-size:0.8em">01/12/2013</time>
				  </div>
                  <h5 itemprop="name">Religieuze en openbare gebouwen opheffingsbesluiten</h5>        
            </a>
       </div>

 </div>
 </div>



<div class="large-3 columns">



<!-- search 6 -->

   <div class="fl-block style-3">

     <h3 itemprop="name" class="block-title field">ID 1
       <span class="right" style="font-size:0.8em">Activatie &nbsp;<i
class="fa fa-check" style="margin-top:4px"></i></span>
     </h3>

     <div class="field full download">
       <a itemprop="url" href="#">
         <i class="fa fa-book"
style="margin-top:2px;font-size:2em;color:#ccc"></i><h4>Belgisch
staatsblad</h4>
         <time>2012-11-18</time><br>
         jaargang 200, nummer 74
       </a>
     </div>

     <div class="field">Datum
ondertekening<br><time>2012-11-17</time></div>
     <div class="field">Betekening &amp; steun
2013<br><time>2012-11-19</time></div>
   </div>
 </div>


<!-- end search 6 -->



<!-- downloads -->
<!-- end downloads -->



<!-- start social -->
<!-- end  social -->








<!-- start footer -->
<!-- end footer -->
 



{% endblock %}