{% layout "erfgoedstijl-layout" %}

{% block content %}  





<br>
<h1 class="text-center">Blokken</h1>

<div class="row">

<div class="large-12 columns">



<!-- nieuws + content-->

<p class="text-center">nieuws + content</p>     
{% include "blokken/nieuws-1" %}

<!-- nieuws compact-->
<p class="text-center">nieuws compact</p>   
{% include "blokken/nieuws-2" %}

<!-- nieuwsfeed-->
<p class="text-center">nieuwsfeed</p>   
{% include "blokken/nieuws-3" %}


<!-- nieuwsbrief-->
<p class="text-center">nieuwsbrief</p>   
{% include "blokken/nieuwsbrief" %}


<!-- zoek -->
<p class="text-center">zoekbox-1</p>   
{% include "blokken/search-1" %}

<!-- zoek 2 -->
<p class="text-center">zoekbox-2</p>   
{% include "blokken/search-2" %}
   
<!-- zoek 3 -->
<p class="text-center">zoekbox-3 extended</p>   
{% include "blokken/search-3ext" %}

<!-- zoek 4 -->
<p class="text-center">zoekbox-4</p>   
{% include "blokken/search-4" %}

<!-- zoek 5 -->
<p class="text-center">zoekbox-5</p>   
{% include "blokken/search-5" %}

<!-- zoek 6 -->
<p class="text-center">zoekbox-6</p>   
{% include "blokken/search-6" %}



<!-- promo-->
<p class="text-center">promo-1</p> 
{% include "blokken/promo-1" %}

<!-- promo 2 -->
<p class="text-center">promo-2</p> 
{% include "blokken/promo-2" %}

<!-- promo 3 -->
<p class="text-center">promo-3</p> 
{% include "blokken/promo-3" %}

<!-- promo 4 -->
<p class="text-center">promo-4</p> 
{% include "blokken/promo-4" %}


<!-- agentschap 1 -->
<br>   
<p class="text-center">agentschappen</p>   

{% include "blokken/agentschap-1" %}

<!-- downloads  -->
<br>   
<p class="text-center">downloads</p>   
{% include "blokken/downloads-1" %}

<!-- evenementen  -->
<br>   
<p class="text-center">evenementen</p>  
{% include "blokken/evenementen-1" %}


<!-- social block -->
<br>   
<p class="text-center">social</p>  
{% include "blokken/social-1" %}



<!-- social twitter -->
<br>   
<p class="text-center">twitter social nog te maken</p>  





</div>

</div>

{% endblock %}