{% layout "erfgoedstijl-layout" %}

{% block content %} 
  
<br>

<div class="large-12 columns">
<div class="panel">


<h1 class="text-center">Colors</h1>

<div class="row">

<h3>Web/mobile</h3> 
<br>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#753F7F">dark-purple  <br>#753F7F</div>
		<div class="color-cube" style="background-color:#944EA1">mid-purple (primary) <br> #944EA1</div>
		<div class="color-cube" style="background-color:#B05DBF">light-purple  <br>#B05DBF</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#FF0000">alert <br>#FF0000</div>
		<div class="color-cube" style="background-color:#43AC6A">success <br>#43AC6A</div>
		<div class="color-cube" style="background-color:#f08a24">warning <br>#f08a24</div>
		<div class="color-cube" style="background-color:#a0d3e8">info <br>#a0d3e8</div>
		<div class="color-cube" style="background-color:#FFFFCC">custom <br>#FFFFCC</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#000000">black <br> #000000</div>
		<div class="color-cube" style="background-color:#3F3840">dark-gray <br> #3F3840</div>
		<div class="color-cube" style="background-color:#D5D5D5">gray <br> #D5D5D5</div>
		<div class="color-cube" style="background-color:#EDEDED">mid-gray <br> #E5E5E5</div>
		<div class="color-cube" style="background-color:#EDEDED">light-gray <br> #EDEDED</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#333333">jet <br> #333333</div>
		<div class="color-cube" style="background-color:#666666">steel <br> #666666</div>
		<div class="color-cube" style="background-color:#888888">jumbo <br> #888888</div>
		<div class="color-cube" style="background-color:#989898">silver <br> #989898</div>
		<div class="color-cube" style="background-color:#efefef">aluminum <br> #efefef</div>
		<div class="color-cube" style="background-color:#FAFAFA">ghost <br> #FAFAFA</div>
		<div class="color-cube" style="background-color:#fbfbfb">white-gray <br> #fbfbfb</div>
		</div>

</div>





<div class="row">

<br><br>
<h4><strong>// OE specific</strong></h4>
<br>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#2da5da">soc-twitter <br>#2da5da</div>
		<div class="color-cube" style="background-color:#2690bf">soc-twitter_hover <br>#2690bf</div>
		</div>
		<div style="clear:both">
		<div class="color-cube" style="background-color:#3567a6">soc-facebook <br>#3567a6</div>
		<div class="color-cube" style="background-color:#255592">soc-facebook_hover <br>#255592</div>
		</div>
		<div style="clear:both">
		<div class="color-cube" style="background-color:#926da5">soc-mail <br>#926da5</div>
		<div class="color-cube" style="background-color:#7a588b">soc-mail_hover <br>#7a588b</div>
		</div>
		<div style="clear:both">
		<div class="color-cube" style="background-color:#007ab9">soc-linkedin <br>#007ab9</div>
		<div class="color-cube" style="background-color:#006ca4">soc-linkedin_hover <br>#006ca4</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#2da3ce">fresh-blue <br>#2da3ce</div>
		<div class="color-cube" style="background-color:#86abbe">gray-blue <br>#86abbe</div>
		<div class="color-cube" style="background-color:#F5F5F5">background-color <br>#F5F5F5</div>
		</div>
</div>


<div class="row">

<br><br>
<h3>Print (taken from pdf)</h3>
<br>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#753F7F;">
		CMYK 64-85-17-4<br>RGB 117-63-127<br>PANTONE 520C 2622U<br>HEX #753F7F</div>
		<div class="color-cube" style="background-color:#944EA1;">
		CMYK 52-78-0-0<br>RGB 148-78-161<br>PANTONE 258C 2602U<br>HEX #944EA1</div>
		<div class="color-cube" style="background-color:#B05DBF;">
		CMYK 46-70-0-0<br>RGB 176-93-191<br>PANTONE 258C 513U<br>HEX #B05DBF</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#3F3840;">
		CMYK 69-66-50-56<br>RGB 63-56-64<br>PANTONE Black 7C 7449U<br>HEX #3F3840</div>
		<div class="color-cube" style="background-color:#989898;">
		CMYK 41-32-32-11<br>RGB 152-152-152<br>PANTONE Cool gray 7C Cool gray 7U
		<br>HEX #989898</div>
		<div class="color-cube" style="background-color:#D5D5D5;">
		CMYK 19-13-14-1<br>RGB 213-213-213<br>PANTONE Cool gray 2C Cool gray 2U
		<br>HEX #D5D5D5</div>
		<div class="color-cube" style="background-color:#E5E5E5;">
		CMYK 12-8-9-0<br>RGB 229-229-229<br>PANTONE 7541C 7541U<br>HEX #E5E5E5</div>
		<div class="color-cube" style="background-color:#EDEDED;">
		CMYK 8-6-7-0<br>RGB 237-237-237<br>PANTONE 7541C 7541U<br>HEX #EDEDED</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#37876D;">
		CMYK 77-26-63-9<br>RGB 89-134-109<br>PANTONE 555C 3415U<br>HEX #37876D</div>
		<div class="color-cube" style="background-color:#48B290;">
		CMYK 69-2-54-0<br>RGB 115-177-144<br>PANTONE 346C 338U<br>HEX #48B290</div>
		<div class="color-cube" style="background-color:#4BCFA5;">
		CMYK 59-0-44-0<br>RGB 75-207-165<br>PANTONE 338C 337U<br>HEX #4BCFA5</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#176D8A;">
		CMYK 85-42-30-14<br>RGB 23-109-138<br>PANTONE 7468C 634U<br>HEX #176D8A</div>
		<div class="color-cube" style="background-color:#1491BB;">
		CMYK 79-26-15-2<br>RGB 20-145-187<br>PANTONE 7459C 639U<br>HEX #1491BB</div>
		<div class="color-cube" style="background-color:#16B8EE;">
		CMYK 70-4-0-0<br>RGB 22-184-238<br>PANTONE 298C 2985U<br>HEX #16B8EE</div>
		</div>

		<div style="clear:both">
		<div class="color-cube" style="background-color:#827A43;">
		CMYK 44-37-81-25<br>RGB 130-122-67<br>PANTONE 5825C 112U<br>HEX #827A43</div>
		<div class="color-cube" style="background-color:#A79C51;">
		CMYK 33-28-78-11<br>RGB 167-156-81<br>PANTONE 618C 613U<br>HEX #A79C51</div>
		<div class="color-cube" style="background-color:#C0B458;">
		CMYK 25-21-77-5<br>RGB 192-180-88<br>PANTONE 618C 611U<br>HEX #C0B458</div>
		</div>


</div>

<div class="row">

<br><br>
<h4><strong>// HEX adjusted for screen (taken from visual in PDF)</strong></h4>
<br>

<div style="clear:both">
<div class="color-cube" style="background-color:#3f3840">dark-gray <br>#221e24</div>
<div class="color-cube" style="background-color:#747473">mid-gray  <br>#747473</div>
<div class="color-cube" style="background-color:#bebebe">gray  <br>#bebebe</div>
<div class="color-cube" style="background-color:#d7d5d4">light-gray  <br>#d7d5d4</div>
<div class="color-cube" style="background-color:#e5e4e1">white-gray  <br>#e5e4e1</div>
</div>

<div style="clear:both">
<div class="color-cube" style="background-color:#2d6345">#2d6345</div>
<div class="color-cube" style="background-color:#3f9666">#3f9666</div>
<div class="color-cube" style="background-color:#59a87e">#59a87e</div>
</div>


<div style="clear:both">
<div class="color-cube" style="background-color:#1a4866">#1a4866</div>
<div class="color-cube" style="background-color:#1f6ca2">#1f6ca2</div>
<div class="color-cube" style="background-color:#2c98e5">#2c98e5</div>
</div>


<div style="clear:both">
<div class="color-cube" style="background-color:#5e551e">#5e551e</div>
<div class="color-cube" style="background-color:#8a7a23">#8a7a23</div>
<div class="color-cube" style="background-color:#aa9724">#aa9724</div>
</div>
</div>



</div>
</div>

{% endblock %}