{% layout "erfgoedstijl-layout" %}
{% block content %}


 
  
<!-- content -->


<div class="row">
<div class="large-9 columns">
  <div class="panel">

<article class="" itemscope itemtype="http://schema.org/Article">

<h1>Contactformulier</h1> 
       
<section itemprop="articleBody">

 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Cras leo lacus, ultrices in orci id, porttitor finibus metus</strong>. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque <a itemprop="url" href="">habitant morbi tristique</a> senectus et netus et malesuada fames ac turpis egestas.</p>  



<form>

 <div class="row">


        <div class="large-8 columns small-centered">

          <div class="placeholder-container" tabindex="">
            <label for="username">Voornaam</label>
            <input id="username" placeholder="Voornaam" title="Your Username" type="text"/>
          </div>

          <div class="placeholder-container" tabindex="">
            <label for="surname">Naam</label>
            <input id="surname" placeholder="Naam" title="Your Ssername" type="text"/>
          </div>


          <div class="row">
           <div class="large-9 columns">
              <div class="placeholder-container" tabindex="">
                <label for="street">Straat</label>
                <input id="street" placeholder="Straatnaam" title="Street" type="text"/>
              </div>
           </div>
           <div class="large-3 columns">
           <div class="placeholder-container" tabindex="">
                <label for="surname">Nr</label>
                <input id="surname" placeholder="" title="Nr" type="text"/>
              </div>
          </div>
          </div>

          <div class="row">
           <div class="large-3 columns">
              <div class="placeholder-container" tabindex="">
                <label for="street">Postcode</label>
                <input id="street" placeholder="" title="Street" type="text"/>
              </div>
           </div>
           <div class="large-9 columns">
           <div class="placeholder-container" tabindex="">
                <label for="surname">Gemeente</label>
                <input id="surname" placeholder="" title="Gemeente" type="text"/>
              </div>
          </div>
          </div>

          <div class="placeholder-container" tabindex="">
            <label for="email">E-mail</label>
            <input id="email" placeholder="name@mail.com" title="Email" type="text"/>
          </div>

         
      
  <div class="row">
        <div class="large-12 columns">
            <select>
              <option value="" selectes>Ik heb een vraag over ...</option>
              <option value="1">Ik wil een fout melden</option>
              <option value="2">Ik heb een algemene vraag</option>
              <option value="3">Inventaris</option>
              <option value="4">Bescherm</option>
              <option value="5">Dossiers</option>
              <option value="6">Premies</option>
              <option value="7">Vergunning</option>
              <option value="8">Andere</option>
  

            </select>

in geval van Inventaris

            

 




   <div class="row">
           <div class="large-3 columns">

            <div class="placeholder-container" tabindex="">
                    <label for="ID">ID</label>
                    <input id="ID" placeholder="nummer" title="ID" type="text"/>
            </div>
             
           </div>
           <div class="large-9 columns">
                 <select>
                  <option value="" selectes>Kies een beheerder ...</option>
                  <option value="1">Algemeen</option>
                  <option value="2">Bouwkundig erfgoed</option>
                  <option value="3">Centrale Archeologische INventaris</option>
                  <option value="4">Landschappelijk erfgoed</option>
                  <option value="3">Varend erfgoed</option>
                  <option value="3">Wereldoorlogerfgoed</option>
                  <option value="3">Beelden</option>
              </select>
          </div>
          </div>









        </div>
  </div>


  <div class="row">
          <div class="large-12 columns">
              <textarea placeholder="omschrijving" style="height:30px"></textarea>
          </div>
  </div>


  <div class="placeholder-checkbox" tabindex=" ">
          <input type="checkbox" id="chk" checked />
          <label class="placeholder-checkbox-label" for="chk">Stuur mij een kopie van mijn bericht</label>
  </div>


  <a href="#" class="button tiny right">Verzend</a>



</form>
<!-- end form type 1 -->




</section>

</article>

      </div>

  </div>


<div class="large-3 columns">
      
{% include "blokken/nieuws-3" %}
{% include "blokken/social-1" %}


</div>


</div>


<!-- end content -->



<!-- footer -->
{% include "footer" %}
<!-- end footer -->

 
  
{% endblock %}