{% layout "erfgoedstijl-layout" %}
{% block content %}


 
  
<!-- content -->


<div class="row">
<div class="large-9 columns">
  <div class="panel">

<article class="" itemscope itemtype="http://schema.org/Article">

<h1>Contactformulier</h1> 
       
<section itemprop="articleBody">


 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Cras leo lacus, ultrices in orci id, porttitor finibus metus</strong>. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque <a itemprop="url" href="" >habitant morbi tristique</a> senectus et netus et malesuada fames ac turpis egestas.</p>  



<hr>


<form>


  <div class="row">
    <div class="large-12 columns">
      <label class="inline">Maak een keuze
        <select>
          <option value="" selectes>Maak een keuze</option>
          <option value="1">Ik wil een fout melden</option>
          <option value="2">Ik heb een algemene vraag</option>
        </select>
      </label>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns">
      <label>Omschrijving
        <textarea placeholder="omschrijving"></textarea>
      </label>
    </div>
  </div>


</form>
<!-- end form type 1 -->


</section>

</article>

      </div>

  </div>


<div class="large-3 columns">
      
{% include "blokken/nieuws-3" %}
{% include "blokken/social-1" %}


</div>


</div>


<!-- end content -->



<!-- footer -->
{% include "footer" %}
<!-- end footer -->

 
  
{% endblock %}