{% layout "erfgoedstijl-layout" %}
{% block content %}

<!-- content -->

Downloadcenter

<div class="row">
<div itemscope itemtype="http://schema.org/Table">

<h6 itemprop="about">KML formaat
<small data-tooltip aria-haspopup="true" class="has-tip" title=" Keyhole Markup Language is een op XML gebaseerde standaardopmaaktaal voor geografische data.
  Het wordt met name gebruikt voor programma's zoals Google Earth en Google Maps. 
  Het KML-bestand beschrijft een aantal features zoals (locaties (placemarks), beelden/figuren (images), 3D-modellen, 
tekstuele beschrijvingen) ">(?)</small></h6>

<table style="width:100%">

<tbody>
  <tr>
    <td><a href="">Relicten bouwkundig erfgoed</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
  <tr>
    <td><a href="">Gehelen bouwkundig erfgoed</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
    <tr>
    <td><a href="">Orgelinventaris</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td>
    <td><a href=""><i class="fa fa-download"></i></a></td>  
  </tr>
  <tr>
    <td><a href="">Relicten wereldoorlogerfgoed</a><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td>
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
</tbody>
</table>
</div>





<div itemscope itemtype="http://schema.org/Table">


<h6 itemprop="about">Shapefile formaat
<small data-tooltip aria-haspopup="true" class="has-tip" title="De ESRI Shapefile is een veelgebruikt uitwisselingsformaat voor 
geografische informatie.Shapefiles zijn geschikt voor geometrieën die bestaan uit stuksgewijs rechte lijnen of polygonen van stuksgewijs rechte lijnen
">(?)</small></h6>

<table>

<tbody>
  <tr>
    <td><a href="">Beschermd onroerend erfgoed</a></td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
  <tr>
    <td><a href="">Inventaris archeologisch erfgoed</a></td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
    <tr>
    <td><a href="">Inventaris bouwkundig erfgoed</a></td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td>  
  </tr>
  <tr>
    <td><a href="">Inventaris landschappelijk erfgoed</a></td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
    <tr>
    <td><a href="">Inventaris wereldoorlog erfgoed</a></td>
    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ante nisl, sodales dignissim ante quis, consectetur rutrum velit. Cras hendrerit lorem in risus pellentesque, vel accumsan dui commodo. </td>
    <td><small>(40KB)</small></td> 
    <td><a href=""><i class="fa fa-download"></i></a></td> 
  </tr>
</tbody>
</table>
</div>
</div>




















 Shapefile formaat
<span data-tooltip aria-haspopup="true" class="has-tip" title=" De ESRI Shapefile is een veelgebruikt uitwisselingsformaat voor 
geografische informatie. 

De door ESRI gepubliceerde specificaties van juli 1998 vermelden drie componenten waaruit een shapefile bestaat:

een .shp-bestand met de ligging van objecten;
een .dbf-bestand met attributen van die objecten in XBase-formaat;
een .shx-bestand dat de voor elk object de index in het .shp-bestand bevat.
De drie bestanden hebben behalve de laatste drie letters de rest van de naam gemeenschappelijk.

Shapefiles zijn geschikt voor geometrieën die bestaan uit stuksgewijs rechte lijnen of polygonen van stuksgewijs rechte lijnen
 ">(?)</span>







<!-- end content -->



<!-- footer -->

<!-- end footer -->

 
  
{% endblock %}