{% layout "erfgoedstijl-layout" %}

{% block content %} 
  

<br>
<h1 class="text-center">Elementen</h1>



<div class="row">
<hr>	
		<dl class="sub-nav text-center">
		  <dt><!-- title --></dt>
		  <dd><a href="#buttons">Buttons</a></dd>
		  <dd><a href="#lists">Lists</a></dd>
		  <dd><a href="#tables">Tables</a></dd>
		  <dd><a href="#utilities">Utilities</a></dd>
		  <dd><a href="#buttons">Tooltips</a></dd>
		  <dd><a href="#lists">Statistieken</a></dd>
		  <dd><a href="#tables">Tables</a></dd>
		  <dd><a href="#social">Social artikel buttons</a></dd>
		  <dd><a href="#panels">Callout panels & alerts</a></dd>
		  <dd><a href="#componenten">Componenten</a></dd>
		</dl>
<hr>
</div>





<div class="row">

<div class="large-12 columns">


<!-- buttons -->

<a name="buttons"></a> 
<p class="text-center">Buttons</p>


{% include "elements/buttons" %}


<!-- tooltips -->
<hr>
<p class="text-center">Tooltips</p>

<span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">link met tooltip</span>


<!-- Lists -->
<hr>
<a name="lists"></a> 
<h1 class="text-center">Lists</h1>

<p class="text-center">List 1</p>
{% include "elements/list-1" %}
<hr>
<p class="text-center">List 2</p>
{% include "elements/list-2" %}
<hr>
<p class="text-center">List 3</p>
{% include "elements/list-3" %}
<hr>
<p class="text-center">List 4</p>
{% include "elements/list-4" %}
<hr>
<p class="text-center">List 5</p>
{% include "elements/list-5" %}
<hr>



<!-- Tables -->
<a name="tables"></a> 
<h1 class="text-center">Tables</h1>

<p class="text-center">Table 1</p>
{% include "elements/table-1" %}
<hr>
<p class="text-center">Table 2</p>
{% include "elements/table-2" %}
<hr>
<p class="text-center">Table 3</p>
{% include "elements/table-3" %}


<!-- Utilities -->

<hr>
<a name="utilities"></a> 
<h1 class="text-center">Utilities</h1>

<!-- Form-->

<p class="text-center">Form + error</p>     
{% include "elements/form-1" %}

<hr>
<p class="text-center">Form 2</p>     
{% include "elements/form-2" %}

<hr>
<p class="text-center">Form reaction</p>     
{% include "elements/form-2react" %}

<hr>
<a name="statistieken"></a> 
<h1 class="text-center">Statistics</h1>     
{% include "elements/statistieken-1" %}

<hr>
<a name="social"></a> 
<h1 class="text-center">Social in article</h1>   
{% include "blokken/social-2" %}

<hr>
<a name="panels"></a> 
<h1 class="text-center">Callout panels & alerts</h1>   
{% include "elements/alerts" %}

<hr>
<a name="componenten"></a> 
<h1 class="text-center">Componenten</h1>   
{% include "elements/components" %}



	</div>

</div>





{% endblock %}