{% layout "erfgoedstijl-layout" %}

{% block content %}  


<h1 class="text-center">Grid types</h1>
<p class="text-center">
<small>+ panels onvolledige rijen, verwijderen van padding, centreren, ordenen
</small></p>

<p class="text-center">type 1</p>
{% include "grids/grid-1" %}

<p class="text-center">type 2</p>
{% include "grids/grid-2" %}

<p class="text-center">type 3</p>
{% include "grids/grid-3" %}

<p class="text-center">type 4</p>
{% include "grids/grid-4" %}

<p class="text-center">type 5</p>
{% include "grids/grid-5" %}  

<p class="text-center">type 6</p>
{% include "grids/grid-6" %}

<p class="text-center">type 7</p>
{% include "grids/grid-7" %}

<p class="text-center">type 8</p>
{% include "grids/grid-8" %}

<p class="text-center">type 9</p>
{% include "grids/grid-9" %}

<p class="text-center">type 10</p>
{% include "grids/grid-10" %}

<p class="text-center">type 11</p>
{% include "grids/grid-11" %}

<p class="text-center">type 12</p>
{% include "grids/grid-12" %}

<p class="text-center">type 13</p>
{% include "grids/grid-13" %}

<!-- gebruikt als inventaris lay out voorbeeld -->
<!--p class="text-center">type 14</p>
{% include "grids/grid-13" %} -->

<hr>
<p class="text-center">type 15 - onvolledige rijen</p>
{% include "grids/grid-15" %}
<hr>
<p class="text-center">type 16 - verwijderen van padding</p>
{% include "grids/grid-16" %}
<hr>
<p class="text-center">type 17 - centreren</p>
{% include "grids/grid-17" %}
<hr>
<p class="text-center">type 18 - ordenen</p>
{% include "grids/grid-18" %}


{% endblock %}