{% layout "erfgoedstijl-layout" %}

{% block content %} 
  

<div class="row">
  <div class="large-12 columns">

  <h1 class="text-center">Header bg images <small>(1800x140px)</small></h1>



  <div class="">

<div class="row">
Website Onroerend Erfgoed beeld  + abstracte versie  (nog te bepalen)<br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br>


</div>  

<div class="row">
INVENTARIS 
    <img src="/static/img/pyoes/header-arch.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-bouw.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-img.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-land.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-varend.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-woi.jpg" width=""><br><br>

</div>  


<div class="row">
APPS

    <img src="/static/img/pyoes/app-toevalsvondsten.jpg" width=""><br>Archeologische vondsten<br><br>
    <img src="/static/img/pyoes/app-plannen.jpg" width=""><br>Plannen<br><br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br>

</div>  


  </div>
 
  </div>
</div>















{% endblock %}