{% layout "erfgoedstijl-layout" %}

{% block content %} 
  
  <br>

<h1 class="text-center">Headers</h1>

 <!-- header -->


<!-- embed -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/5499d8dc0848446e91022c6dba9db343?mtime=1421237274"></script>
<!-- end embed vlaanderen -->



<!-- header bg image -->
<div class="bgimage"></div>
<!-- end header bg image -->

<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">

<!-- sub nav -->
    <ul id="service-navigation" class="clearfix">
    <li><a href="/">home onroerend erfgoed</a></li>
    </ul>
<!-- end sub nav -->



<!-- logo -->
<div class="logo-block">
<a href="/">
<div class="logo-block-title" style="width:260px"><h1 style="font-size:1.8rem;margin-top:-10px">Agentschap<br>Onroerend Erfgoed</h1></div>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
</a>
</div>
<!-- end logo -->

</div>
</div>




<nav class="top-bar" data-topbar role="navigation">
 
  <ul class="title-area">
    <li class="name">
      <h1> <!-- a href="#">Title pagina</a --> </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

   <section class="top-bar-section inner-nav">

<ul>
 <li class="active"><a href="/">Home</a></li>
      <li><a href="">Bouwkundig</a></li>
      <li><a href="">Landschappelijk</a></li>
      <li><a href="">Varend</a></li>
      <li><a href="">Wereldoorlog</a></li>
      <li class="has-dropdown">
        <a href="#">Andere</a>
        <ul class="dropdown">
          <li class=""><a href="#">FAQ</a></li>
          <li class=""><a href="#">Status</a></li>
        </ul>
      </li>
      <li class="right"><a href="#">Aanmelden</a></li>
    </ul>

  </section>

</nav>


 <!-- end header -->









 <!-- header -->


<!-- embed -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/5499d8dc0848446e91022c6dba9db343?mtime=1421237274"></script>
<!-- end embed vlaanderen -->



<!-- header bg image -->
<div class="bgimage"></div>
<!-- end header bg image -->

<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">

<!-- sub nav -->
    <ul id="service-navigation" class="clearfix">
    <li><a href="/">home onroerend erfgoed</a></li>
    </ul>
<!-- end sub nav -->



<!-- logo -->
<div class="logo-block">
<a href="/">
<div class="logo-block-title"><h1>Inventaris</h1></div>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is erfgoed</h4>
</a>
</div>
<!-- end logo -->

</div>
</div>




<nav class="top-bar" data-topbar role="navigation">
 
  <ul class="title-area">
    <li class="name">
      <h1> <!-- a href="#">Title pagina</a --> </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

   <section class="top-bar-section inner-nav">

<ul>
 <li class="active"><a href="/">Home</a></li>
      <li><a href="">Bouwkundig</a></li>
      <li><a href="">Landschappelijk</a></li>
      <li><a href="">Varend</a></li>
      <li><a href="">Wereldoorlog</a></li>
      <li class="has-dropdown">
        <a href="#">Andere</a>
        <ul class="dropdown">
          <li class=""><a href="#">FAQ</a></li>
          <li class=""><a href="#">Status</a></li>
        </ul>
      </li>
      <li class=""><a href="#">Aanmelden</a></li>
    </ul>

  </section>

</nav>


 <!-- end header -->

















    <div class="row">
      <div class="large-12 columns">
     







<div class="container">
  <div id="appLayout">
<div class="header-public" id="uniqName_0_0" widgetid="uniqName_0_0">
  <div class="clearfix">

    <div class="left">
      <div class="header-title left">
        <div><h1>Toevalsvondst melden</h1></div>
        <div class="header-logo" title="Onroerend Erfgoed" data-dojo-attach-event="onClick: _oeClick">
          <h2>Vlaanderen</h2>
          <h4>is erfgoed</h4>
        </div>
        <div class="trianglePlaceholder"></div>
      </div>


  <div class="header-toolbar left">
  <div class="adres-search" id="dijit__TemplatedMixin_3" widgetid="dijit__TemplatedMixin_3">

  <i class="fa fa-spinner fa-1 fa-pulse" data-dojo-attach-point="searchSpinner" title="Gegevens worden opgehaald"></i>
  <i class="fa fa-1 fa-warning" data-dojo-attach-point="searchError" title="Er is een fout opgetreden"></i>
  
  <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitComboBox dijitValidationTextBox zoekenAdres" id="widget_dijit_form_FilteringSelect_0" role="combobox" aria-haspopup="true" data-dojo-attach-point="_popupStateNode" widgetid="dijit_form_FilteringSelect_0"><div class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="_buttonNode" role="presentation" style="display: none;"><input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="button presentation" aria-hidden="true"></div><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" type="text" autocomplete="off" data-dojo-attach-point="textbox,focusNode" role="textbox" aria-autocomplete="both" tabindex="0" id="dijit_form_FilteringSelect_0" placeholder="Typ hier een gemeente, straat of adres ..." aria-required="false" value="" aria-invalid="false"><input type="hidden" name="zoekenAdres" value=""></div></div>

  <i class="fa fa-1 fa-times-circle" data-dojo-attach-point="searchClear" data-dojo-attach-event="onClick: _clearAdresSearch"></i>
  <a class="button" href="#" title="Zoeken" data-dojo-attach-event="onClick: _clickSearchButton">
    <i class="fa fa-search"></i>
  </a>
</div>
        <a class="tool" href="#" data-dojo-attach-event="onClick: _showLayers" title="Wijzig de achtergrondlaag van de kaart">
          <i class="fa fa-map"></i>lagen</a>
      </div>
    </div>

    <div class="header-toolbar right">
      <a class="tool" href="#" data-dojo-attach-event="onClick: _showInfo" title="Meer info over toevalsvondsten">
        <i class="fa fa-info-circle"></i>info</a>
    </div>
  </div>

</div>
  </div>







    </div>
</div>













{% endblock %}