{% layout "erfgoedstijl-layout" %}

{% block content %} 
  

<div class="row">
  <div class="large-12 columns">

  <h1 class="text-center">Header bg images <small>(2000x140px)</small></h1>



  <div class="">

<div class="row">
<!--Website Onroerend Erfgoed beeld  + abstracte versie<br>
(nog te bepalen)<br><br-->
    <!--img src="/static/img/pyoes/.jpg" width=""><br><br>
    <img src="/static/img/pyoes/.jpg" width=""><br><br-->


</div>  

<div class="row">
<p class="text-center">INVENTARIS</p>

    <img src="/static/img/pyoes/header-arch.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-bouw.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-img.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-land.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-varend.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-woi.jpg" width=""><br><br>

</div>  


<div class="row">
<p class="text-center">APPS</p>
    <img src="/static/img/pyoes/app-toevalsvondsten.jpg" width="">Archeologische vondsten<br><br>
    <img src="/static/img/pyoes/plannen.jpg" width=""><br>Plannen<br><br>
    <img src="/static/img/pyoes/beheersplannen.jpg" width="">Beheersplannen<br><br>
    <img src="/static/img/pyoes/besluiten.jpg" width="">Besluiten<br><br>
   
</div>  


<div class="row">
<p class="text-center">VARIA </p>
    <img src="/static/img/pyoes/header-dak.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-Orgel.jpg" width=""><br><br>  
    <img src="/static/img/pyoes/header-schilderen.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-schildering-2.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-schildering-3.jpg" width=""><br><br>  
    <img src="/static/img/pyoes/header-loket.jpg" width=""><br><br>
    <img src="/static/img/pyoes/header-stenen.jpg" width=""><br><br>   
</div>  



  </div>
 
  </div>
</div>















{% endblock %}