{% layout "erfgoedstijl-layout" %}

{% block content %} 
  
  <br>

    <div class="row">
      <div class="large-12 columns">
     




<h1 class="text-center">Headers</h1>


<div class="container">
  <div id="appLayout">
<div class="header-public" id="uniqName_0_0" widgetid="uniqName_0_0">
  <div class="clearfix">

    <div class="left">
      <div class="header-title left">
        <div><h1>Toevalsvondst melden</h1></div>
        <div class="header-logo" title="Onroerend Erfgoed" data-dojo-attach-event="onClick: _oeClick">
          <h2>Vlaanderen</h2>
          <h4>is erfgoed</h4>
        </div>
        <div class="trianglePlaceholder"></div>
      </div>


  <div class="header-toolbar left">
  <div class="adres-search" id="dijit__TemplatedMixin_3" widgetid="dijit__TemplatedMixin_3">

  <i class="fa fa-spinner fa-1 fa-pulse" data-dojo-attach-point="searchSpinner" title="Gegevens worden opgehaald"></i>
  <i class="fa fa-1 fa-warning" data-dojo-attach-point="searchError" title="Er is een fout opgetreden"></i>
  
  <div class="dijit dijitReset dijitInline dijitLeft dijitTextBox dijitComboBox dijitValidationTextBox zoekenAdres" id="widget_dijit_form_FilteringSelect_0" role="combobox" aria-haspopup="true" data-dojo-attach-point="_popupStateNode" widgetid="dijit_form_FilteringSelect_0"><div class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="_buttonNode" role="presentation" style="display: none;"><input class="dijitReset dijitInputField dijitArrowButtonInner" value="▼ " type="text" tabindex="-1" readonly="readonly" role="button presentation" aria-hidden="true"></div><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="Χ " type="text" tabindex="-1" readonly="readonly" role="presentation"></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" type="text" autocomplete="off" data-dojo-attach-point="textbox,focusNode" role="textbox" aria-autocomplete="both" tabindex="0" id="dijit_form_FilteringSelect_0" placeholder="Typ hier een gemeente, straat of adres ..." aria-required="false" value="" aria-invalid="false"><input type="hidden" name="zoekenAdres" value=""></div></div>

  <i class="fa fa-1 fa-times-circle" data-dojo-attach-point="searchClear" data-dojo-attach-event="onClick: _clearAdresSearch"></i>
  <a class="button" href="#" title="Zoeken" data-dojo-attach-event="onClick: _clickSearchButton">
    <i class="fa fa-search"></i>
  </a>
</div>
        <a class="tool" href="#" data-dojo-attach-event="onClick: _showLayers" title="Wijzig de achtergrondlaag van de kaart">
          <i class="fa fa-map"></i>lagen</a>
      </div>
    </div>

    <div class="header-toolbar right">
      <a class="tool" href="#" data-dojo-attach-event="onClick: _showInfo" title="Meer info over toevalsvondsten">
        <i class="fa fa-info-circle"></i>info</a>
    </div>
  </div>

</div>
  </div>







    </div>
</div>













{% endblock %}