{% layout "erfgoedstijl-layout" %}
{% block content %} 
  

<div class="row">
	<div class="large-12 columns">

		<h1 class="text-center">Beelden : verticale & horizontale oplijsting</h1> 

		{% include "elements/images-1" %}
		{% include "elements/images-2" %}
		{% include "elements/images-3" %}
		{% include "elements/images-4" %}

	</div>
</div>





{% endblock %}