{% layout "erfgoedstijl-layout" %}
{% block content %} 
  

<div class="row">
	<div class="large-12 columns">


<h1 class="text-center">Images</h1> 


{% include "elements/images-1" %}


<hr>

{% include "elements/images-2" %}

<hr>

{% include "elements/images-3" %}


	</div>
</div>





{% endblock %}