{% layout "erfgoedstijl-layout" %}

{% block content %} 
  

<br>
<div class="row"> 
<div class="large-12 columns text-right">
<a href="#" data-reveal-id="myModal1" class="tiny button">Hoe te gebruiken ?</a>
</div>
</div>

<!-- pop menu -->
<div id="myModal1" class="reveal-modal" data-reveal>

<a class="close-reveal-modal" style="padding: 12px 18px">&#215;</a>

  <header class="clearfix" style="margin-bottom:0px">
        <h3>Hoe te gebruiken ?</h3>
          <hr>
            <p>Gebruik deze styleguide door de broncode van de respectievelijke browserpagina op te vragen, het gewenste element te zoeken en de html te copiëren</p>

            <p>Deze stylegids voor Onroerend Erfgoed websites en applicaties is ook beschikbaar op
            <a href="https://github.com/OnroerendErfgoed/erfgoedstijl" target="_blank">https://github.com/OnroerendErfgoed/erfgoedstijl</a>.<br>
            Er wordt gebruikt gemaakt van het framework Foundation 5.<br>
            HTML/css en scss of html/css export en tal van lay out voorbeelden zijn beschikbaar
  </header> 

</div>
<!-- end postregistratie menu -->

  <div class="row large-12 columns small-centered">

    <div class="large-3 columns text-center subnav-panel">
      <a href="logo">
      <div class="subnav-panel2">
      <span><h3>Logo's</h3>
      </span>
      </div>
      </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
      <a href="colors">
      <div class="subnav-panel2">
      <span><h3>Kleuren</h3></span>
      </div>
      </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="typo">
        <div class="subnav-panel2">
        <span><h3>Lettertype / hoofding / paragrafen / visibiliteit</h3></span>
        </div>
        </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="icons">
        <div class="subnav-panel2">
        <span><h3>Iconen</h3></span>
        </div>
        </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
      <a href="grids">
      <div class="subnav-panel2">
      <span><h3>Grid</h3></span>
      </div>
      </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
      <a href="headers">
      <div class="subnav-panel2">
      <span><h3>Header</h3>
      </span>
      </div>
      </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="navigation">
        <div class="subnav-panel2">
        <span><h3>Navigatie</h3></span>
        </div>
        </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="blokken">
        <div class="subnav-panel2">
        <span><h3>Blokken/ Patterns</h3></span>
        </div>
        </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="elements">
        <div class="subnav-panel2">
        <span><h3>Elementen</h3></span>
        </div>
        </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="images">
        <div class="subnav-panel2">
        <span><h3>Beelden : verticale & horizontale oplijsting</h3></span>
        </div>
        </a>
    </div>

    <div class="large-3 columns text-center subnav-panel">
        <a href="header-bg-images">
        <div class="subnav-panel2">
        <span><h3>Header achtergrondbeelden<br>(in opbouw)</h3></span>
        </div>
        </a>
    </div>

   <div class="large-3 columns text-center subnav-panel end">
        <a href="media">
        <div class="subnav-panel2">
        <span><h3>Media (in opbouw)</h3></span>
        <!--li><a href="media">Media</a></li--> 
        </div>
        </a>
    </div>


  </div>


<br>
<p class="text-center">Lay-out voorbeelden website</p>

    <div class="row">
      <div class="large-12 columns">

             <div class="panel">

                <ul>
                <li><a href="home">Basic home page</a></li>
                <li><a href="article">Basic article page 8/4</a></li>
                <li><a href="article9-3">Basic article page 9/3</a></li>
                <li><a href="401">Error 401 page</a></li>
                <li><a href="403">Error 403 page</a></li>
                <li><a href="404">Error 404 page</a></li>
                <li><a href="404colored">Error 404 colored</a></li>
                <li><a href="500">Error 500 page</a></li>
                <li><a href="contactform">Contactformulier</a></li>
                </ul> 

            </div>

   

       </div>
   </div>


<p class="text-center">Lay-out voorbeelden thema site Inventaris</p>

    <div class="row">
      <div class="large-12 columns">

             <div class="panel">

              <ul>
                <li><a href="inventaris/index">Home</a></li>
                <!--li><a href="inventaris/indexv2">Theme Inventaris 2</a></li>
                <li><a href="inventaris/indexv3">Theme Inventaris 3</a></li>
                <li><a href="inventaris/indexv4">Theme Inventaris 4</a></li-->
                <li><a href="inventaris/indexv5">Home 5</a></li>
                <li><a href="inventaris/indexv6">Home 6</a></li>
                <li><a href="inventaris/indexv7">Home 7</a></li>
                <!-- li><a href="inventaris/result">Theme Inventaris result news</a></li -->
                <li><a href="inventaris/resultv2">Resulaat lijst (relicten)</a></li>
                <li><a href="inventaris/resultarticle">Resultaat artikel</a></li>
                <li><a href="inventaris/resultarticlev2">Resultaat article v2</a></li>
                <li><a href="inventaris/resultnews">Resultaat lijst nieuws artikels </a></li>
                <li><a href="inventaris/article">Basis artikel <small>(schets) 9/3</small></a></li>
                <!--li><a href="inventaris/articleID">Theme Inventaris article ID 2 col 9/3 <small>(schets)</small></a></li -->
                <!--li><a href="inventaris/articleIDv2">Theme Inventaris article ID 2 col 9/3 <small>(schets)</small></a></li -->
                <!-- li><a href="inventaris/articleIDfull">Theme Inventaris article ID full portrait <small>(schets)</small></a></li -->
                <!--li><a href="inventaris/articleIDfullv3">Theme Inventaris article ID full landscape <small>(schets)</small></a></li -->
                <li><a href="inventaris/articleIDfullv2">Artikel ID 8/4<small>(schets)</small></a></li>
                <li><a href="inventaris/articleIDfullv20">Article ID 9/3<small>(schets)</small></a></li>
                <!-- li><a href="inventaris/articleIDfullv21">Theme Inventaris article ID full v21 width 9/3<small>(schets)</small></a></li -->
                <!-- li><a href="inventaris/zoekoverzicht">Theme Inventaris zoekoverzicht 2 col <small>(schets)</small></a></li -->
                <li>Print article (nog aanmaken)</li>
              </ul> 
               

            </div>

       </div>
   </div>

     
<p class="text-center">Lay-out voorbeelden applicaties</p>

    <div class="row">
      <div class="large-12 columns">

          <div class="panel">
          
          <ul>
              <li><a href="app-home">App-home opbouw</a></li>
              <li>Application guide</li> 
              <li><a href="beeldbank/index">Theme Beeldbank</a></li>
              <li><a href="beeldbank/uitgebreid-zoeken">Theme Beeldbank uitgebreid zoeken</a></li>
              <li><a href="beeldbank/detail">Theme Beeldbank detail</a></li>   
              <li><a href="geoportaal">Theme Geoportaal</a></li>
              <li><a href="beheersplannen">Theme Beheersplannen</a></li>
              <li><a href="actorenzoek">Zoekactoren</a></li>
              <li><a href="actorenfront">Zoekactoren front-end</a></li>
              <li><a href="beheersplannen">Beheersplannen</a></li>
              <li><a href="postregistratie/aanmaken">Postregistratie</a> (front-end / back-end app)</li>
              <li><a href="besluitendatabank">Besluitendatabank</a></li>
              <li><a href="overzichtspagina">Overzichtspagina</a></li>
              <li><a href="downloadcenter">Downloadcenter</a></li>
              <li><a href="arch-ensembles">Arch ensembles</a></li>
            </ul>     

            </div>
      </div>
   </div>

  <div class="large-12 columns" style="position:fixed;bottom:-20px;z-index:100">
    <div data-alert class="alert-box alert-info">
      Deze website maakt gebruik van cookies. <a href="cookie-text" class="alert-link">Meer informatie</a>
      <a href="#" class="close">&times;</a>
    </div>
  </div>


</div>


{% endblock %}