{% layout "erfgoedstijl-layout" %}

{% block content %} 
  

<div class="row">
  <div class="large-12 columns">

  <h1 class="text-center">Logo 's</h1>
  <p class="text-center">Illustrator & PNG</p>

  <div class="panel">


<div class="row">


<div class="large-4 columns text-center">
  <img src="/static/img/Vlaanderen_is_erfgoed_naakt.png" width="200"><br><br>
  <a class="button tiny" href="/static/downloads/Vlaanderen _is_erfgoed_vol.zip">downloaden (zip)</a>
</div>  

<div class="large-4 columns text-center">
  <img src="/static/img/Vlaanderen_is_erfgoed_vol.png" width="200"><br><br>
  <a class="button tiny" href="/static/downloads/Erfgoedprijs.zip">downloaden (zip)</a>
</div>  

<div class="large-4 columns text-center">
  <img src="/static/img/Label_onroerend_erfgoed.png" width="200"><br><br>
  <a class="button tiny" href="/static/downloads/Vlaanderen_is_erfgoed_naakt.zip">downloaden (zip)</a>
</div>  


</div>  


  </div>
 
  </div>
</div>















{% endblock %}