{% layout "erfgoedstijl-layout" %}

{% block content %} 
  


<div class="row">
  <div class="large-12 columns">

    
    
<div class="flanders-slider">
  <ul class="slides clearfix">
    <li>
      <img src="/sites/default/files/flanders-backbone/img/photo-demo-slide3.jpg" />
    </li>
    <li>
      <footer><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4></footer>
      <img src="/sites/default/files/flanders-backbone/img/photo-demo-slide2.jpg" />
    </li>
    <li>
      <footer><h4>Onderwijs bepalend voor succes in volwassen leven</h4> (bron VRT)</footer>
      <h2>West-Vlaamse ondernemers vertellen hun eigen verhaal</h2>
    </li>
    <li>
      <footer><h4>Onderwijs bepalend voor succes in volwassen leven</h4> (bron VRT)</footer>
      <img src="/sites/default/files/flanders-backbone/img/photo-demo-slide1.jpg" />
    </li>
  </ul>
  <div class="slider-counter"><span class="current-slide">1</span>/<span class="total-slides"></span></div>
</div>



</div>
</div>




<div class="row">
  <div class="large-12 columns">

<div class="flanders-video">
  <img src="http://webstijlgids.vlaanderen.be/sites/default/files/flanders-backbone/img/photo-demo-slide1.jpg">
    <h4>Onderwijs bepalend voor succes in volwassen leven</h4>
    <span youtubeId="r5rwQY2RB6c" class="play-btn"><i class="fa fa-play"></i></span>  
  </footer>
</div>

</div>
</div>



{% endblock %}