{% layout "erfgoedstijl-layout" %}
{% block content %} 
  

<br>
<h1 class="text-center">Navigation</h1>
<div class="row">
<div class="large-12 columns">


  

<!-- navigation type 1-->
<p class="text-center">type 1</p>
{% include "navigation/navtype-1" %}


<!-- navigation type 2-->
<p class="text-center">type 2</p>
{% include "navigation/navtype-2" %}


<!-- navigation type 2-->
<p class="text-center">type 3</p>
{% include "navigation/navtype-3" %}


<!-- sub navigation -->
<p class="text-center">subnavigation type 1</p>
{% include "navigation/subnavtype-1" %}


<!-- breadcrumbs -->
<p class="text-center">subnavigation type 2 breadcrumbs</p>
{% include "navigation/subnavtype-2" %}


<!-- page navigation 1 -->
<p class="text-center">subnavigation type 3 page navigation</p>
{% include "navigation/subnavtype-3" %}


<!-- page navigation 2 -->
<p class="text-center">subnavigation type 4 page navigation numbers</p>
{% include "navigation/subnavtype-4" %}

<!-- tab navigation  -->
<p class="text-center">subnavigation type 5 tab navigation</p>
{% include "navigation/subnavtype-5" %}


</div>
</div>  

{% endblock %}