{% layout "erfgoedstijl-layout" %}
{% block content %} 
  

<br>
<h1 class="text-center">Navigatie</h1>
<div class="row">
<div class="large-12 columns">


  

<!-- navigation type 1-->
<p class="text-center">type 1</p>
{% include "navigation/navtype-1" %}


<!-- navigation type 2-->
<p class="text-center">type 2</p>
{% include "navigation/navtype-2" %}


<!-- navigation type 2-->
<p class="text-center">type 3</p>
{% include "navigation/navtype-3" %}


<!-- sub navigation -->
<p class="text-center">subnavigatie type 1</p>
{% include "navigation/subnavtype-1" %}


<!-- breadcrumbs -->
<p class="text-center">subnavigatie type 2 : broodkruimelpad</p>
{% include "navigation/subnavtype-2" %}


<!-- page navigation 1 -->
<p class="text-center">subnavigatie type 3 : page navigation</p>
{% include "navigation/subnavtype-3" %}


<!-- page navigation 2 -->
<p class="text-center">subnavigatie type 4 : page navigation numbers</p>
{% include "navigation/subnavtype-4" %}

<!-- tab navigation  -->
<p class="text-center">subnavigatie type 5 : tab navigation</p>
{% include "navigation/subnavtype-5" %}

<!-- large panel navigation  -->
<p class="text-center">subnavigatie type 6 : panel navigation</p>
{% include "navigation/subnavtype-6" %}

</div>
</div>  

{% endblock %}