{% layout "erfgoedstijl-layout" %}
{% block content %}

<!-- content -->


<div class="row">

  <div class="large-6 columns">
  	

      <div class="panel">
        <h3>Adviezen</h3> 
        <a href="https://adviezen.onroerenderfgoed.be/" target="_blank">
        https://adviezen.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
      <div class="panel">
        <h3>Atramhasis/thesaurus</h3> 
        <a href="https://thesaurus.onroerenderfgoed.be/" target="_blank">
        https://thesaurus.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>

      <div class="panel">
        <h3>Beeldbank</h3> 
        <a href="https://beeldbank.onroerenderfgoed.be/" target="_blank">
        https://beeldbank.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
      
      <div class="panel">
        <h3>Beheersplannen</h3> 
        <a href="https://plannen.onroerenderfgoed.be/" target="_blank">
        https://plannen.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
      
      <div class="panel">
        <h3>Besluiten</h3> 
        <a href="https://besluiten.onroerenderfgoed.be/" target="_blank">
        https://besluiten.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
      
  </div>



	

  <div class="large-6 columns">
      
      <div class="panel">
        <h3>Geoportaal</h3> 
        <a href="https://geoportaal.be/" target="_blank">
        https://geoportaal.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
       <div class="panel">
        <h3>Postregistratie</h3> 
        <a href="https://post.onroerenderfgoed.be/ target="_blank"">
        https://post.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
      <div class="panel">
        <h3>Vondstmeldingen</h3> 
        <a href="https://dev-vondstmeldingen.onroerenderfgoed.be/ target="_blank"">
        https://dev-vondstmeldingen.onroerenderfgoed.be/</a>
        <small class="right">status : gepubliceerd</small>
      </div>
      
      

  </div>


</div>






<!-- end content -->



<!-- footer -->

<!-- end footer -->

 
  
{% endblock %}