{% layout "erfgoedstijl-layout" %}

{% block content %} 


<div class="row">
  <div class="large-12 columns">
    <h1 class="text-center">Lettertype</h1>

    <div class="panel clearfix">
      
      <div class="large-4 columns">
          <div class="demo-light">Flanders Art Sans Light<br>
          ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>0123456789 @ # & é " ' ( § è ! ç à ) - ^ ¨ * $ % + / \ , . ? ; : € </div>
      </div>
      
      <div class="large-4 columns">
          <div class="demo-regular">Flanders Art Sans Regular<br>
          ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>0123456789 @ # & é " ' ( § è ! ç à ) - ^ ¨ * $ % + / \ , . ? ; : € </div>
      </div>

      <div class="large-4 columns">        
          <div class="demo-medium">Flanders Art Sans Medium<br>
          ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>0123456789 @ # & é " ' ( § è ! ç à ) - ^ ¨ * $ % + / \ , . ? ; : € </div>
    </div>

   </div>


<div class="row">
  <div class="large-12 columns">
       
        <h1 class="text-center">Hoofding</h1>
            <div class="panel">

            <article itemtype="http://schema.org/Article">

              <header>
                <h1 itemprop="name">Heading 1 (H1)</h1>
              </header>

              <p itemprop="description">Maecenas ac tortor nec <strong>ligula facilisis commodo</strong>. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per <a href="#" itemprop="url">inceptos himenaeos</a>. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
              </p>

            </article>

            <h2 itemprop="name">Heading 2 (H2)</h2>
            <p itemprop="description">
              <strong>Maecenas ac tortor nec ligula facilisis commodo</strong>. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, <a href="#" itemprop="url">inceptos himenaeos</a>, mi arcu iaculis metus.
            </p>

            <h3 itemprop="name">Heading 3 (H3)</h3>
            <p itemprop="description">
              Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
            </p>

            <h4 itemprop="name">Heading 4 (H4)</h4>
            <p itemprop="description">
              Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
            </p>

            <h5 itemprop="name">Heading (H5)</h5>
            <p itemprop="description">
              Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
            </p>

            <h6 itemprop="name">Heading 6 (H6)</h6>
            <p itemprop="description">
              Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
            </p>

          </div>
        </div>
      </div>



      <h1 class="text-center">Paragrafen / uitlijnen</h1>

      <div class="row">
        <div class="large-12 columns">
          <div class="panel">

            <p class="text-left">

             <p>
              <strong>Paragraaf -</strong> Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
            </p>

            <hr>

              <strong>Tekst italic -</strong> <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em>
            </p>
            <hr>
            <p class="text-left">
              <strong>Tekst bold -</strong> <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
            </p>
           
            <hr>

            <p class="text-left">
              <strong>Tekst links -</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>

            <hr>   

            <p class="text-right">
              <strong>Tekst rechts -</strong> Cras leo lacus, ultrices in orci id, porttitor finibus metus. 
            </p>

            <hr>

            <p class="text-center">
              <strong>Tekst gecentreerd -</strong> Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. 
            </p>

            <hr>

            <p class="text-justify">
              <strong>Tekst 'uitgelijnd'- </strong>Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>

          </div>
        </div>
      </div>




 <h1 class="text-center">Visibiliteit</h1>


 <div class="row">
        <div class="large-12 columns">
          <div class="panel">

            <p class="text-center">Tekst tonen</p>

              <strong class="show-for-small-only">Tekst tonen enkel op een klein scherm.</strong>
              <strong class="show-for-medium-up">Tekst tonen enkel op een medium scherm en hoger</strong>
              <strong class="show-for-medium-only">Tekst tonen enkel op een medium scherm</strong>
              <strong class="show-for-large-up">Tekst tonen enkel op een groter scherm en hoger.</strong>
              <strong class="show-for-large-only">Tekst tonen enkel op een groter screen.</strong>
              <strong class="show-for-xlarge-up">Tekst tonen enkel op een XL scherm en hoger.</strong>
              <strong class="show-for-xlarge-only">Tekst tonen enkel op een XL scherm.</strong>
              <strong class="show-for-xxlarge-up">Tekst tonen enkel op een XXL scherm en hoger.</strong>
           
            <hr>

            <p class="text-center">Tekst verbergen</p>
            
            <strong class="hide-for-small-only">Niet op een klein scherm.</strong>
            <strong class="hide-for-medium-up">Niet op een medium, large, xlarge, or xxlarge scherm en hoger</strong>
            <strong class="hide-for-medium-only">Niet op een medium scherm</strong>
            <strong class="hide-for-large-up">Niet op een large, xlarge, or xxlarge scherm en hoger</strong>
            <strong class="hide-for-large-only">Niet op een large scherm</strong>
            <strong class="hide-for-xlarge-up">Niet op een xlarge scherm en hoger</strong>
            <strong class="hide-for-xlarge-only">Niet op een xlarge scherm</strong>
            <strong class="hide-for-xxlarge-up">Niet op een xxlarge scherm</strong>
            
            <hr>

            <p class="text-center">Responsive</p>
            
            <strong class="show-for-landscape">Tekst tonen in landscape </strong>
            <strong class="show-for-portrait">Tekst tonen in portrait</strong>
            
            <hr>


           <p class="text-center">Voor touch</p>
            <strong class="show-for-touch">Touch-enabled toestel.</strong>
            <strong class="hide-for-touch">Geen touch-enabled toestel</strong>
          

            <hr>            
            
            <p class="text-center">Print</p>
            classes toevoegen: <br>
            .show-for-print , .print-only (zichtbaar)<br>
            .hide-for-print , .hide-on-print (niet zichtbaar)


     </div>
        </div>
      </div>














 </div>





      {% endblock %}