

<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <nav class="footer-doormat clearfix">
          
    <ul class="menu">
        <li style="margin:15px 0;color:#000;text-transform:uppercase">Ik zoek een ...</li>
        <li><a href="/dibe/relict/zoeken" title="Zoeken naar gebouwen, beelden, waterpompen, ...">bouwkundig relict</a></li>
        <li><a href="/dibe/gehelen/zoeken" title="Zoeken naar straten, gemeentes, plaatsen, begijnhoven, ...">(bouwkundig) geheel</a></li>
        <li><a href="/ile/park/zoeken" title="Zoeken naar tuinen en parken">tuin of park</a></li>
        <li><a href="/ile/boom/zoeken" title="Zoeken naar bomen, struiken, boomgaarden, bossen, ...">boom of struik</a></li>
        <li><a href="/ivm/varend/zoeken" title="Zoeken naar varend erfgoed">vaartuig</a></li>
        <li><a href="/woi/relict/zoeken" title="Zoeken naar bunkers, loopgraven, gedenktekens, ...">oorlogsrelict</a></li>
        <li><a href="/dibe/orgels/zoeken" title="Zoeken naar orgels met erfgoedwaarde">orgel</a></li>
        <li><a href="/dibe/personen/zoeken" title="Zoeken naar (tuin)architecten, bouwmeesters, orgelbouwers, ...">persoon of collectief</a></li>
    </ul>

      
    <ul>
         <li style="margin:15px 0;color:#000;text-transform:uppercase">Informatie</li>
        <li><a href="https://geo.onroerenderfgoed.be" title="Al het onroerend erfgoed op één kaart">Geoportaal</a></li>
        <li><a href="/portaal/kaarten" title="Kaartlagen over onroerend erfgoed">Kaart</a></li>
        <li><a href="/dibe/rechtsgevolgen" title="Meer over de rechtsgevolgen van deze inventaris">Rechtsgevolgen</a></li>
        <li><a href="https://www.onroerenderfgoed.be/nl/diensten/publicaties/tags/inventariseren" title="Publicaties over de inventaris zoals de folder 'Erfgoed in mijn Straat' en de handleiding 'Inventariseren van bouwkundig erfgoed'.">Publicaties</a></li>
      <li><a href="/faq" title="Ga naar onze vaak gestelde vragen">Vraag en antwoord</a></li>
      <li><a href="/portaal/contacteren" title="Stel ons een vraag">Contact</a></li>
    </ul>
        
      
    <ul>
        <li style="margin:15px 0;color:#000;text-transform:uppercase">Thesaurus</li>
        <li><a href="thesaurus">Wat is een thesaurus?</a></li>
        <li><a href="/thesaurus/typologie">Typologie</a></li>
        <li><a href="/thesaurus/datering">Datering</a></li>
        <li><a href="/thesaurus/stijl">Stijlen en culturen</a></li>
        <li><a href="/thesaurus/materiaal">Materiaal</a></li>
        <li><a href="/thesaurus/soort">Soort</a></li>
        <li><a href="/thesaurus/gebeurtenis">Gebeurtenis</a></li>
    </ul>
        
    
    <article style="margin-top:68px">
          
    <small>Deze site is een realisatie van Onroerend Erfgoed,
    een agentschap van de Vlaamse Overheid dat onroerend erfgoed in Vlaanderen
    inventariseert, onderzoekt, beschermt, beheert en de ontsluiting ervan stimuleert.</small>

<br><br>

    <small>
    VOLG ONS &nbsp;
        <span class="twitter"><i class="fa fa-twitter"></i> <a href="#">Twitter</a></span> &nbsp;
        <span class="facebook"><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></span> &nbsp;
        <span class="linkedin"><i class="fa fa-linkedin"></i> <a href="#">LinkedIn</a></span>
    </small>



    </article>

      </nav>
    </div>
  </footer>
<!-- end footer -->

 

<!-- embed vlaanderen -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/79a9f632dc8e45aa884f7924ee16f7bf?mtime=1421237274"></script>
<!-- end embed vlaanderen -->
