

<!-- footer -->
 
  
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">



      <nav class="footer-doormat clearfix">

         
            
            <div class="large-6 columns">
          
                <ul style="padding:0">
                    <li><a href="https://www.onroerenderfgoed.be/toegankelijkheid" target="_blank">- Toegankelijkheid</a></li>
                    <li><a href="https://www.onroerenderfgoed.be/nl/juridisch" target="_blank">- Juridische Informatie onroerend erfgoed</a></li>
                </ul>

            </div>

            <div class="large-6 columns right">
                <ul class="soclogolist right">
                    <li><span class="facebook"><a href="https://www.facebook.com/onroerenderfgoed" target="_blank"><i class="fa fa-facebook-square"></i></a></span></li>
                    <li><span class="twitter"><a href="https://twitter.com/vioe" target="_blank"><i class="fa fa-twitter"></i></a></span></li>
                    <li><span class="linkedin"><a href="https://www.linkedin.com/company/onroerend-erfgoed-flanders-heritage-" target="_blank"><i class="fa fa-linkedin"></i></a></span></li>
                    <li><span class="slideshare"><a href="http://www.slideshare.net/VIOE" target="_blank"><i class="fa fa-slideshare"></i></a></span></li>
                </ul>
            </div>

       


      </nav>
    </div>
  </footer>
<!-- end footer -->

 

<!-- embed vlaanderen -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/79a9f632dc8e45aa884f7924ee16f7bf?mtime=1421237274"></script>
<!-- end embed vlaanderen -->
