

<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <nav class="footer-doormat clearfix">
          
    <ul class="menu">

        <li style="margin:15px 0;color:#000;text-transform:uppercase">Informatie over deze app</li>
        <li><a href="">- Toegankelijkheid</a></li>
        <li><a href="">- Juridische Informatie onroerend erfgoed</a></li>
        <li><a href="https://www.onroerenderfgoed.be/nl/diensten/publicaties/tags/inventariseren" title="Publicaties over de inventaris zoals de folder 'Erfgoed in mijn Straat' en de handleiding 'Inventariseren van bouwkundig erfgoed'.">- Publicaties</a></li>
        <li><a href="app-contact" title="Stel ons een vraag">- Contact</a></li>
     
    </ul>

      
    <ul>
        <li style="margin:15px 0;color:#000;text-transform:uppercase">Onroerend Erfgoed Apps</li>
        <li><a href="https://geo.onroerenderfgoed.be" title="Al het onroerend erfgoed op één kaart">- Geoportaal Onroerend Erfgoed</a></li>
        <li><a href="https://dev-vondstmeldingen.onroerenderfgoed.be/" title="">- Vondstmeldingen Onroerend Erfgoed</a></li>
        <li><a href="https://actoren.onroerenderfgoed.be/" title="">- Actoren Onroerend Erfgoed</a></li>
        <li><a href="https://adviezen.onroerenderfgoed.be/" title="">- Adviezen Onroerend Erfgoed</a></li>
        <li><a href="https://beeldbank.onroerenderfgoed.be/" title="">- Beeldbank Onroerend Erfgoed</a></li>   
        <li><a href="https://plannen.onroerenderfgoed.be/" title="">- Beheersplannen Onroerend Erfgoed</a></li>
        <li><a href="https://besluiten.onroerenderfgoed.be/" title="">- Besluiten Onroerend Erfgoed</a></li>
        <li><a href="https://https://post.onroerenderfgoed.be/" title="">- Postregistratie Onroerend Erfgoed</a></li>
    </ul>
        
      
    <ul style="height:200px">
        <li style="margin:15px 0;color:#000;text-transform:uppercase;">Onroerend Erfgoed Websites</li>
        <li><a href="http://www.onroerenderfgoed.be">- OnroerendErfgoed.be</a></li>
        <li><a href="https://inventaris.onroerenderfgoed.be">- Inventaris Onroerend Erfgoed</a></li>
        <li><a href="https://thesaurus.onroerenderfgoed.be/">- Atramhasis/thesaurus</a></li>
    </ul>
        


    
    <article style="margin-top:68px">
          
    <small>Deze site is een realisatie van Onroerend Erfgoed,
    een agentschap van de Vlaamse Overheid dat onroerend erfgoed in Vlaanderen
    inventariseert, onderzoekt, beschermt, beheert en de ontsluiting ervan stimuleert.</small>

<br><br>

    <small>
    VOLG ONS &nbsp;
        <span class="twitter"><i class="fa fa-twitter"></i> <a href="#">Twitter</a></span> &nbsp;
        <span class="facebook"><i class="fa fa-facebook-square"></i> <a href="#">Facebook</a></span> &nbsp;
        <span class="linkedin"><i class="fa fa-linkedin"></i> <a href="#">LinkedIn</a></span>
    </small>



    </article>

      </nav>
    </div>
  </footer>
<!-- end footer -->

 

<!-- embed vlaanderen -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/79a9f632dc8e45aa884f7924ee16f7bf?mtime=1421237274"></script>
<!-- end embed vlaanderen -->
