
<!-- header -->
<div class="wrapper-short-white clearfix">
<div class="main-navigation-inner clearfix">

<!-- logo -->
<div class="logo-block-short-white left">
<a href="/">
<div class="logo-block-short-title-white"><h1>Postregistratie</h1></div>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2><br>
<h4>is erfgoed</h4>
</a>
</div>
<!-- end logo -->

<nav class="left">
 <a href="#" data-reveal-id="myModal1" class="tiny button" style="margin-top:10px"><i class="fa fa-bars"></i> Menu</a>
</nav>

<nav class="right">
  <ul class="nav-short-item">
  <li>
    <a href="">
    <i class="fa fa-user"></i> <br><span>AANMELDEN</span>
    </a>
  </li>
</ul>
</nav>

</div>
</div>

<br><br>
 <!-- end header -->