 <!-- header -->


<!-- embed -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/5499d8dc0848446e91022c6dba9db343?mtime=1421237274"></script>
<!-- end embed vlaanderen -->



<!-- header bg image -->

<!-- end header bg image -->

<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">

<!-- sub nav -->
    <ul id="service-navigation" class="clearfix">
    <li><a href="/">home onroerend erfgoed</a></li>
    </ul>
<!-- end sub nav -->



<!-- logo -->
<div class="logo-block">
<a href="/">
<div class="logo-block-title"><h1>Besluiten</h1></div>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>
<!-- end logo -->



</div>
</div>




<nav class="top-bar" data-topbar role="navigation">
 
  <ul class="title-area">
    <li class="name">
      <h1> <!-- a href="#">Title pagina</a --> </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

   <section class="top-bar-section inner-nav">

 <ul class="left">

           <li class="active"><a href="/">Over deze site</a></li>

           <li><a href="/help">Help</a></li>

           <li><a href="#">Contact</a></li>

           <li><a href="/beheer">Beheer</a></li>

     </ul>



         <ul class="right">
           <li class="has-dropdown">
             <a href="#">nepgebruiker</a>
             <ul class="dropdown">

                 <li><a href="/profiel">Profiel</a></li>
                 <li><a href="/afmelden">Afmelden</a></li>

             </ul>
           </li>
         </ul>

  </section>

</nav>


 <!-- end header -->
