{% layout "actoren-layout" %}
{% block content %} 
  


<div class="row">

      


  <div class="large-12 columns">



    <div class="button-bar" style="width:290px;margin:0 auto;">
        <ul class="button-group">
          <li><a href="#" data-reveal-id="myModal1" class="small button">Actoren</a></li>
          <li><a href="#" data-reveal-id="myModal2" class="small button">VKBO</a></li>
          <li><a href="#" data-reveal-id="myModal3" class="small button">VKBP</a></li>
        </ul>
    </div>


<div class="panel">


<!-- zoek actoren -->

<div id="myModal1" class="reveal-modal" data-reveal>

  <a class="close-reveal-modal">&#215;</a>

    <header class="clearfix">
        <h3 class="left" style="margin:6px 20px 0 0">Actoren</h3>
            <dl class="tabs left" data-tab>
              <dd class="active" style="margin-right:1px"><a href="#panel1">zoeken</a></dd>
              <dd><a href="#panel2">aanmaken</a></dd>
            </dl>
    </header>

<div class="tabs-content">

  <div class="content active" id="panel1">

  <form style="padding-top:10px">

  <div class="row">
            

  <div class="large-4 columns">
         <input type="text" placeholder="naam " />
         <input type="text" placeholder="voornaam" />
         <input type="text" placeholder="email " />
         <input type="text" placeholder="telefoon" />
  </div>

  <div class="large-4 columns">
        <input type="text" placeholder="straat" />
        <input type="text" placeholder="nummer" class="left" style="width:45%;" />
        <input type="text" placeholder="postbus" class="right" style="width:45%" />
        <div class="clearfix" style="clear:both;">
        <input type="text" placeholder="postcode" class="left"  style="width:30%" />
        <input type="text" placeholder="gemeente" class="right" style="width:60%" />
        </div>
              
       <select>
          <option value="0">België</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>

  </div>

      <div class="large-4 columns">

       <select>
          <option value="0">actortype</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>

      <input type="text" placeholder="pers id" /> 
      <input type="text" placeholder="rijksregisternummer" />


  </div>
               

  </div>

  <hr>
  <div class="clearfix">
        <a class="small button right">Zoek</a>
  </div> 

</form>

</div>


<!-- start aanmaken-->

<div class="content" id="panel2">


<div class="row">
            

  <div class="large-4 columns">

      <input type="text" readonly="readonly" value="naam" />
  
      <input type="text" readonly="readonly" value="achternaam" />
   
      <input type="text" readonly="readonly" value="e-mail" />

      <input type="text" readonly="readonly" value="mobile nummer" />

      <div style="margin-bottom:10px"><small><a href="">nieuw veld</a></small></div>

      <div style="margin-bottom:10px"><small>nieuwe dropdownlijst</small></div>

        <select>
          <option value="0">aantal velden</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
       </select>

    <div class="clearfix">
        <input type="text" placeholder="Lijst label ingeven" value="" style="width:90%" class="left" />
        <span class="right" style="padding-top:8px"><a href="#"><i class="fa fa-trash-o"></i></a></span>
    </div>


     <div class="clearfix">
        <input type="text" placeholder="Lijst label ingeven" value="" style="width:90%" class="left" />
        <span class="right" style="padding-top:8px"><a href="#"><i class="fa fa-trash-o"></i></a></span>
    </div>

  </div>


  <div class="large-4 columns">

        <input type="text" readonly="readonly" value="straat" />

        <input type="text" readonly="readonly" value="nummer" class="left" style="width:45%;" />
        <input type="text" readonly="readonly" value="postbus" class="right" style="width:45%;" />

        <div class="clearfix" style="clear:both;">
        <input type="text" readonly="readonly" value="postcode" class="left" style="width:30%" />
        <input type="text" readonly="readonly" value="gemeente" class="right" style="width:60%" />
        </div>
              
        <input type="text" readonly="readonly" value="land" />
          


      <div style="margin-bottom:10px"><small><a href="">nieuw veld</a></small></div>

      <div style="margin-bottom:10px"><small></i> <a href="">nieuwe dropdownlijst</a></small></div>

  </div>

    <div class="large-4 columns">

       <select>
          <option value="0">actortype</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>
       <small style="">nieuw lijstitem toevoegen</small>

        <div class="clearfix" style="margin-bottom:20px">
            <input type="text" placeholder="Lijst label ingeven" value="" style="width:90%" class="left" />
            <span class="right" style="padding-top:8px"><a href="#"><i class="fa fa-trash-o"></i></a></span>
        </div>


      <input type="text" readonly="readonly" value="ID : 00-ABC-DEFGHIJ" />
      <input type="text" readonly="readonly" value="RR : 00.00.00-000.00" />


      <div style="margin-bottom:10px"><small><a href="">nieuw veld</a></small></div>

      <div style="margin-bottom:10px"><small><a href="">nieuwe dropdownlijst</a></small></div>


  </div>
  </div>
                
<hr>

  <a href="" class="small button right">bewaar <i class="fa fa-save"></i></a>
  


</div>

<!-- end aanmaken -->


</div>

</div>
<!-- end zoek actoren -->






<div id="myModal2" class="reveal-modal" data-reveal>

<h3>Zoek VKBO</h3>
 
<form>
 <hr>
  <div class="row">
            
      <div class="large-4 columns">

       <select>
          <option value="0">actortype</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>

      <input type="text" placeholder="pers id" /> 
      <input type="text" placeholder="rijksregisternummer" />
  </div>

  <div class="large-4 columns">
         <input type="text" placeholder="naam " />
  </div>

  <div class="large-4 columns">
        <input type="text" placeholder="straat" />
        <input type="text" placeholder="nummer" style="width:80px;float:left;margin-right:18px" />
        <input type="text" placeholder="postbus" style="width:80px" />
        <input type="text" placeholder="gemeente" style="width:204px;float:left;margin-right:18px" />
        <input type="text" placeholder="postcode" style="width:80px" />
  </div>

                     
   </div>
<hr>
<div class="clearfix">
    <a class="small button right">Zoek</a>
</div>



</form>
  <a class="close-reveal-modal">&#215;</a>


</div>



<div id="myModal3" class="reveal-modal" data-reveal>

  <h3>Zoek VKBP</h3>

  <form>
 <hr>
  <div class="row">
            
      <div class="large-4 columns">

       <select>
          <option value="0">actortype</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>

      <input type="text" placeholder="pers id" /> 
      <input type="text" placeholder="rijksregisternummer" />
  </div>

  <div class="large-4 columns">
         <input type="text" placeholder="naam " />
  </div>

  <div class="large-4 columns">
        <input type="text" placeholder="straat" />
        <input type="text" placeholder="nummer" style="width:80px;float:left;margin-right:18px" />
        <input type="text" placeholder="postbus" style="width:80px" />
        <input type="text" placeholder="gemeente" style="width:204px;float:left;margin-right:18px" />
        <input type="text" placeholder="postcode" style="width:80px" />
  </div>

                     
   </div>
<hr>
<div class="clearfix">
    <a class="small button right">Zoek</a>
</div>



</form>
  <a class="close-reveal-modal">&#215;</a>

</div>





<h5>Je zocht in Actoren op "naam"</h5>

<table class="table">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Pers ID</th>
        <th>Mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#" data-reveal-id="myModal4">Thomas bell</a></td>
        <td></td>
        <td></td>
        <td><div class="right">
        <span class="[success secondary] label ">updated</span>
        <a href="#" data-reveal-id="myModal4"><i class="fa fa-pencil "></i></a>
        </div>

        </td>

      </tr>
      <tr>
        <td>Yan Chapel</td>
        <td></td>
        <td></td>
        <td><a href="#" data-reveal-id="myModal4"><i class="fa fa-pencil right "></i></a></td>
      </tr>
      <tr>
        <td>Pit Sampras</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Yan Chapel</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>


    </div>
  </div>
</div>
<!-- end content -->



<!-- zoek detail -->
  <div id="myModal4" class="reveal-modal" data-reveal>


<header class="clearfix">
<h3 class="left" style="margin:6px 20px 0 0">Actoren</h3>
<dl class="tabs left" data-tab>
  <dd class="active" style="margin-right:1px"><a href="#panel3">profiel</a></dd>
  <dd><a href="#panel4">bewerken</a></dd>
</dl>
</header>


<!-- tab person content -->
<div class="tabs-content">

<div class="content active" id="panel3">

<form style="padding-top:10px">

  <div class="large-4 columns">
         <input type="text" readonly="readonly" value="Thomas" />
         <input type="text" readonly="readonly" value="Bell" />
         <input type="text" readonly="readonly" value="Thomas@yahoo.com " />
         <input type="text" readonly="readonly" value="0000/000000" />
  </div>

  <div class="large-4 columns">

        <input type="text" readonly="readonly" value="Bellstraat" />
        <input type="text" readonly="readonly" value="00" class="left" style="width:45%;" />
        <input type="text" readonly="readonly" value="postbus" class="right" style="width:45%;" />

        <div class="clearfix" style="clear:both;">
        <input type="text" readonly="readonly" value="0000" class="left" style="width:30%" />
        <input type="text" readonly="readonly" value="Antwerpen" class="right" style="width:60%" />
        </div>

        <input type="text" readonly="readonly" value="België" />
              
  </div>

    <div class="row">
            
      <div class="large-4 columns">
      <input type="text" readonly="readonly" value="Actortype: 1" />
      <input type="text" readonly="readonly" value="00-ABC-DEFGHIJ" />
      <input type="text" readonly="readonly" value="00.00.00-000.00" />
  </div>
        
  </div>


</form>

</div>


<div class="content active" id="panel4">

<form style="padding-top:10px">
 
 <div class="row">
            

  <div class="large-4 columns">
         <input type="text" placeholder="Thomas " />
         <input type="text" placeholder="Bell" />
         <input type="text" placeholder="Thomas@yahoo.com " />
         <input type="text" placeholder="0000/000000" />
  </div>

  <div class="large-4 columns">
        <input type="text" placeholder="Bell straat" />
        <input type="text" placeholder="00" class="left" style="width:45%;" />
        <input type="text" placeholder="postbus" class="right" style="width:45%" />
        <div class="clearfix" style="clear:both;">
        <input type="text" placeholder="0000" class="left"  style="width:30%" />
        <input type="text" placeholder="Antwerpen" class="right" style="width:60%" />
        </div>
              
       <select>
          <option value="0">België</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>

  </div>

      <div class="large-4 columns">

       <select>
          <option value="0">actortype</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
       </select>

      <input type="text" placeholder="ID: 00-ABC-DEFGHIJ" /> 
      <input type="text" placeholder="RR: 00.00.00-000.00" />

  </div>
               

  </div>


  <hr>

  <a href="" class="small button right">bewaar <i class="fa fa-save"></i></a>
  

</form>

</div>

</div>
<!-- end tab person content -->


<a class="close-reveal-modal">&#215;</a>

</div>


{% endblock %}