{% block content %} 
  

<!-- header -->
<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">
<div class="logo-block">
<a href="/">
<h1>Styleguide</h1>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>
</div>
</div>
<!-- end header -->



<br>
<h1 class="text-center">Blokken</h1>



<div class="row">

<!-- start -->
<p class="text-center">nieuws + content</p>     
    
<!-- nieuws + content-->

<div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>
        
          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                 
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
            <h5>De stemmen zijn geteld</h5> 
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales.
           
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        
         
          </a>
      </div>

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

</div>
<!-- end nieuws + content -->


<!-- start -->
<p class="text-center">zoek</p>     
    

<div class="panel Searchbox">
<!-- search -->
     <form name="" action="#" method="post" class="clearfix">
        <div class="searchBox">
          <input type='text' placeholder='zoek foto' />
          <button>zoeken</button>
          <small><a href="">Uitgebreid zoeken</a> &rsaquo;</small> 
        </div>
     </form>
<!-- end search -->
</div>


<!-- start -->
<p class="text-center">zoek alt</p>   



<div class="panel Searchbox">

<!-- search -->
     <form name="" action="#" method="post" class="clearfix">

        <div class="searchBox">
          <input type='text' placeholder='zoek foto' />
          <button>zoeken</button>

    <fieldset>
        <input type="checkbox" name="" id="website" value="website">
        <label for="website">Zoek binnen deze website</label>
        <input type="checkbox" name="" id="vlaanderen" value="vlaanderen">
        <label for="vlaanderen">Zoek binnen Vlaanderen.be</label> 
    </fieldset>

          <small><a href="">Uitgebreid zoeken</a> &rsaquo;</small> 

        </div>
     </form>
<!-- end search -->

</div>









<!-- start -->
<p class="text-center">nieuws small</p>     
    
<!-- nieuws -->

      <div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>

          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
            <h5>De stemmen zijn geteld</h5> 
            <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
          <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
          </a>
      </div>

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

</div>
<!-- end nieuws -->



<!-- start -->
<p class="text-center">nieuwspromo</p>     
    
 
<!-- promo -->

<div class="block-holder clearfix">
  
    <div class="fl-block style-3">
  
        <div class="block-image field full"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTm9hxNly_xBNbjxcbPhKGHvH2raxBfP5jBcRDtPnjl41ROEfJpVw" alt="" /></div>

        <div class="block-date field"><i class="fa fa-calendar-o"></i> 23 april, 2013 </div>
        
        <div class="block-text field">

        <h4><a href="#">Onderwijs bepalend voor succes in volwassen leven </a></h4>
        
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Quis nostrum eliat sempris quam.</p>
        <p><a class="more" href="#">lees verder  &rsaquo;</a></p>
        </div>
 
    </div>

</div>

<!-- end promo -->



<!-- start -->
<p class="text-center">nieuwspromo zonder beeld</p>     
    
 
<!-- promo -->

<div class="block-holder clearfix">
  
    <div class="fl-block style-3">

        <div class="block-date field"><i class="fa fa-calendar-o"></i> 23 april, 2013 </div>
        
        <div class="block-text field">

        <h4><a href="#">Onderwijs bepalend voor succes in volwassen leven </a></h4>
        
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Quis nostrum eliat sempris quam.</p>
        <p><a class="more" href="#">lees verder  &rsaquo;</a></p>
        </div>
 
    </div>

</div>

<!-- end promo -->






<div class="block-holder clearfix">

    <div class="fl-block style-1">
        <div class="shadow">
            <h4 class="block-title field">Agentschappen</h4>
            <div class="block-text field">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh: </p>
                <ul>
                    <li><a href="#">Departement Onderwijs en Vorming</a> </li>
                    <li>Agentschap voor Hoger Onderwijs, Volwassenen </li>
                    <li>Onderwijs en Studietoelagen </li>
                    <li>Agentschap voor Infrastructuur in het Onderwijs </li>
                    <li>Agentschap voor Kwaliteitszorg in Onderwijs en Vorming </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="fl-block style-2">
        <div class="shadow">
            <h4 class="block-title field">Downloads</h4>
            <div class="field full download"><a href="#">De Onderwijsspiegel 2013  <i class="fa fa-download"></i></a></div>
            <div class="field full download"><a href="#">Studietoelagen 2013 <i class="fa fa-download"></i></a></div>
            <div class="field full download"><a href="#">Subsidies &amp; steun 2013 <i class="fa fa-download"></i></a></div>
            <div class="field"><a class="more" href="#">meer downloads <i class="fa fa-chevron-right"></i></a></div>
        </div>
    </div>

    <div class="fl-block style-1">
        <div class="shadow">
            <h4 class="block-title field">Evenementen</h4>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs</a></div>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs</a></div>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs</a></div>
            <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs</a></div>
        </div>
    </div>
    
    <div class="fl-block style-2">
        <div class="shadow">
            <h4 class="block-title field">Nieuws</h4>
            <div class="field full news">
                <a href="#">
                        <h5>Vlaamse overheid is werkgever van het jaar</h5> 
                        21 mei 2014
                </a>
            </div>
            <div class="field full news">
                <a href="#">
                    <figure><img src="img/news-item.png" alt="Alt descritpion" /></figure>
                        <h5>De stemmen zijn geteld</h5> 
                        23 mei 2014
                </a>
            </div>
            <div class="field full news">
                <a href="#">
                    <figure><img src="img/news-item.png" alt="Alt descritpion" /></figure>
                        <h5>Vermijd problemendoor hitte en ozon</h5> 
                        20 mei 2014
                </a>
            </div>
            <div class="field full news">
                <a href="#">
                        <h5>Huurpremie na 4 jaarwachten op sociale woning</h5> 
                        30 april 2014
                </a>
            </div>
            
            <div class="field"><a class="more" href="#">toon alles <i class="fa fa-chevron-right"></i></a></div>
            
        </div>
    </div>

</div>







<div class="fl-block style-2">
  
        <h4 class="block-title field">Downloads</h4>
        <div class="field full download"><a href="#">De Onderwijsspiegel 2013  <i class="fa fa-download"></i></a></div>
        <div class="field full download"><a href="#">Studietoelagen 2013 <i class="fa fa-download"></i></a></div>
        <div class="field full download"><a href="#">Subsidies &amp; steun 2013 <i class="fa fa-download"></i></a></div>
        <div class="field"><a class="more" href="#">meer downloads <i class="fa fa-chevron-right"></i></a></div>
   
</div>







<div class="fl-block style-1">
  
        <h4 class="block-title field">Evenementen</h4>
        <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs <i class="fa fa-chevron-right v-align-mid"></i></a></div>
        <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs <i class="fa fa-chevron-right v-align-mid"></i></a></div>
        <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs <i class="fa fa-chevron-right v-align-mid"></i></a></div>
        <div class="field full event"><a href="#"><h5>14 oktober 2013</h5> Ronde van Vlaanderen voor directies uit het secundair onderwijs <i class="fa fa-chevron-right v-align-mid"></i></a></div>
  
</div>




Blok met links (table view)

<div class="fl-block style-2">
    <div class="shadow">
        <h4 class="block-title field">Werken in het onderwijs</h4>
        <div class="field full"><a href="#">Algemeen <i class="fa fa-chevron-right"></i></a></div>
        <div class="field full"><a href="#">Solliciteren en loopbaan <i class="fa fa-chevron-right"></i></a></div>
        <div class="field full"><a href="#">Ondersteuning en vorming <i class="fa fa-chevron-right"></i></a></div>
        <div class="field full"><a href="#">Voor specifieke groepen <i class="fa fa-chevron-right"></i></a></div>
        <div class="field full"><a href="#">Laatste nieuws <i class="fa fa-chevron-right"></i></a></div>
    </div>
</div>













<div class="flanders-slider">
    <ul class="slides clearfix">
        <li>
            <img src="img/photo-demo-slide3.jpg" />
        </li>
        <li>
            <footer><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4></footer>
            <img src="img/photo-demo-slide2.jpg" />
        </li>
        <li>
            <footer><h4>Onderwijs bepalend voor succes in volwassen leven</h4> (bron VRT)</footer>
            <h2>West-Vlaamse ondernemers vertellen hun eigen verhaal</h2>
        </li>
        <li>
            <footer><h4>Onderwijs bepalend voor succes in volwassen leven</h4> (bron VRT)</footer>
            <img src="img/photo-demo-slide1.jpg" />
        </li>
    </ul>
    <div class="slider-counter"><span class="current-slide">1</span>/<span class="total-slides"></span></div>
</div>

<!-- for this example we used FlexSlider, feel free to implement your own/other js slider. -->
<script src="js/jquery.flexslider.min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flanders-slider').flexslider({
            animation: "slide",
            controlNav: false,
            prevText: "<i class='fa fa-angle-left'></i>", 
            nextText: "<i class='fa fa-angle-right'></i>", 
            pauseOnAction: false,
            animationSpeed: 400,
            pauseOnHover: true,
            start: function(slider) {
        $('.total-slides').text(slider.count);
      },
      after: function(slider) {
        $('.current-slide').text((slider.currentSlide)+1);
      }
        });
    }); 
</script>







</div>





{% endblock %}