{% layout "erfgoedstijl-layout" %}

{% block content %}  





<br>
<h1 class="text-center">Blokken</h1>


<!-- nieuws + content-->

<p class="text-center">nieuws + content</p>     
{% include "blokken/nieuws-1" %}

<!-- zoek -->
{% include "blokken/zoek-1" %}
   
<!-- nieuws compact-->
{% include "blokken/nieuws-2" %}

<!-- promo-->
{% include "blokken/promo-1" %}

<!-- promo 2 -->
{% include "blokken/promo-2" %}

<!-- agentschap 1 -->
<br>   
<p class="text-center">agentschappen</p>   

{% include "blokken/agentschap-1" %}

<!-- downloads  -->
<br>   
<p class="text-center">downloads</p>   
{% include "blokken/downloads-1" %}

<!-- evenementen  -->
<br>   
<p class="text-center">evenementen</p>  
{% include "blokken/evenementen-1" %}




{% endblock %}