{% layout "beeldbank-layout" %}
{% block content %}


 
<!-- content -->


<div class="row">

  <div class="large-8 columns">
      
       <div class="panel">
      

<article class="" itemscope itemtype="http://schema.org/Article">
   
<h1>Vastgestelde inventaris van het Bouwkundig Erfgoed</h1>

<p>De vaststelling van de inventaris van het bouwkundig erfgoed bepaalt éénduidig in een overzichtelijke lijst per gemeente het gebouwd patrimonium van Vlaanderen. Aangezien de visie op onroerend erfgoed doorheen de jaren evolueert en het patrimonium in Vlaanderen onderhevig is aan veranderingen zoals verbouwingen, sloop en adreswijzigingen, is regelmatige actualisatie van de vastgestelde inventarisgegevens aangewezen. Op 28 november 2013 is een geactualiseerde lijst van de inventaris vastgesteld. Deze werd rechtsgeldig op 14 december 2013, 10 dagen na de publicatie in het Belgisch Staatsblad van 4 december. 
</p>

<h2 id="f_inhoud">Overzicht</h2>

<ul class="">
<li><a href="/dibe/rechtsgevolgen#f_vast_2013">Vaststelling van de  inventaris van het Bouwkundig Erfgoed op 28 november 2013</a></li>
<li><a href="/dibe/rechtsgevolgen#f_jur_kader">Juridisch kader</a></li>
<li><a href="/dibe/rechtsgevolgen#f_leeswijzer">Leeswijzer vastgestelde inventaris</a></li>
<li><a href="/dibe/rechtsgevolgen#f_rechtsgevolgen">Rechtsgevolgen van de vastgestelde inventaris</a></li>
<li><a href="/dibe/rechtsgevolgen#f_rechtsmiddelen">Rechtsmiddelen tegen opname in de vastgestelde inventaris </a></li>
<li><a href="/dibe/rechtsgevolgen#f_archief">Archief</a></li>
<li><a href="/faq">Veelgestelde vragen</a></li>
</ul>

<h2 id="f_vast_2013">Vaststelling van de  inventaris van het Bouwkundig Erfgoed op 28 november 2013</h2>

<div style="margin-top:15px;margin-bottom:30px;background-color:#FFFFCC;padding:10px;height:128px;">
<span><a href="/bestanden/vaststelling/vaststelling_28_11_2013.pdf" title="Download hier het PDF-bestand van de vaststelling, grootte 8.6MB"><img src="https://inventaris.onroerenderfgoed.be/images/milky/pdf2.jpg" style="vertical-align:top;text-align:left;margin:0px 10px 10px 0px;float:left;" alt="Besluit"></a></span>
<p>
<a href="/bestanden/vaststelling/vaststelling_28_11_2013.pdf" title="Download hier het PDF-bestand van de vaststelling, grootte 8.6MB"><strong>Besluit van de administrateur-generaal van 28 november 2013 houdende vaststelling van de inventaris van het bouwkundig erfgoed en vastgestelde lijst.</strong></a></p>
<ul style="font-size:.8em;margin-top:7.5px;margin-left:135px;"><li>Belgisch staatsblad: 04/12/2013</li>
<li>Formaat en grootte: PDF, 8.6MB</li>
<li>MD5: fcc7bf55aff54fd2d5a6608e0667fea0</li>
<li>SHA256: 356f0704e903f33b0ecbb701129f897c1ebd9ad2788be2f1f4abecd87394d430</li>
</ul></div>


<h2 id="f_jur_kader">Juridisch kader</h2> 
<p><strong>Decreet van 3 maart 1976 tot bescherming van monumenten, stads- en dorpsgezichten, art. 12/1.</strong><br>
De Vlaamse Regering stelt een inventaris van het bouwkundig erfgoed vast onder de vorm van een systematische oplijsting per gemeente, waarbij per opgenomen constructie of gezicht een beknopte wetenschappelijke beschrijving wordt gevoegd.<br>
De inventaris wordt beschikbaar gesteld in boekvorm of in een beveiligd gedigitaliseerd bestand.</p>

<p><a href="/dibe/rechtsgevolgen#f_inhoud">Terug naar het overzicht</a></p>



      </div>

  </div>


<div class="large-4 columns">
      

        
{% include "blokken/search-1" %}      
{% include "blokken/nieuws-2" %}
{% include "blokken/downloads-1" %}
{% include "blokken/nieuws-3" %}
{% include "blokken/social-1" %}

  

  </div>

</div>


<!-- end content -->







<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <nav class="footer-doormat clearfix">
        <ul>
          <li><a class="active" href="#">Onderwijs &amp; vorming</a></li>
          <li><a href="#">Leren</a></li>
          <li><a href="#">Werken in het onderwijs</a></li>
          <li><a href="#">A-Z index</a></li>
          <li><a href="#">Wegwijs in de administratie</a></li>
          <li><a href="#">Departementen</a></li>
        </ul>

        <ul>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Nieuwsbrief</a></li>
          <li><a href="#">Statistieken</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Contact</a></li>
          <li><span class="is-vishidden">Language</span>
            <ul class="lang-switch clearfix">
              <li><a class="active" href="#">NL</a></li>
              <li><a href="#">FR</a></li>
              <li><a href="#">DE</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </li>
        </ul>
        
        <article>
          <a href="#"><img alt="Alt tag" src="img/footer-300x250.jpg"></a>
        </article>
      </nav>
    </div>
  </footer>
<!-- end footer -->


<!-- embed -->
<div class="temp-embed"></div>
<!-- end embed vlaanderen -->

 
  
{% endblock %}