{% layout "erfgoedstijl-layout" %}
{% block content %} 
  

<br>
<h1 class="text-center">Elements</h1>



<div class="row">

<div class="large-12 columns">





<p class="text-center">Buttons</p>
{% include "elements/buttons" %}





<hr>
<p class="text-center">Tooltips</p>

<span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">link met tooltip</span>








<br>
<h1 class="text-center">Tables</h1>

<p class="text-center">Table 1</p>
{% include "elements/table-1" %}

<hr>
<p class="text-center">Table 2</p>
{% include "elements/table-2" %}


<hr>
<p class="text-center">Images</p>
{% include "elements/images-1" %}





<br>
<h1 class="text-center">Utilities</h1>




<h1 class="text-center">Forms</h1>

<!-- Form-->

<p class="text-center">form + error</p>     
{% include "elements/form-1" %}

<p class="text-center">form 2</p>     
{% include "elements/form-2" %}



















<h1 class="text-center">social</h1>


<ul class="socialbox dropdown">
    <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="more"><span></span>
        <ul class="clearfix shadow">
            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
            <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li>
        </ul>
    </li>
</ul>















{% endblock %}