{% block content %} 
  

<!-- header -->
<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">
<div class="logo-block">
<a href="/">
<h1>Styleguide</h1>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>
</div>
</div>
<!-- end header -->


<br>
<h1 class="text-center">Elements</h1>





<div class="row">

<div class="large-12 columns">


<!-- p class="text-center">Tabs</p>

<dl class="tabs">
  <dd class="active"><a href="#panel1">Tab 1</a></dd>
  <dd><a href="#panel2">Tab 2</a></dd>
  <dd><a href="#panel3">Tab 3</a></dd>
  <dd><a href="#panel4">Tab 4</a></dd>
</dl>



<p class="text-center">Tabs + panels</p>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Tab 1</a></dd>
  <dd><a href="#panel2">Tab 2</a></dd>
  <dd><a href="#panel3">Tab 3</a></dd>
  <dd><a href="#panel4">Tab 4</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel2">
    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div -->



<p class="text-center">Buttons</p>



<a href="#" class="button">Default Button</a>

<!-- Disabled Class -->
<a href="#" class="button disabled">Disabled Button</a>
<!-- Color Classes -->
<a href="#" class="button [secondary success alert]">Color Button</a>
<!-- Expand Class -->
<a href="#" class="button alert">Alert Button</a>
<!-- Size Classes -->
<a href="#" class="button [tiny small large]">Small Button</a>

<!-- Expand Class -->
<a href="#" class="button expand">Expanded Button</a>


<hr>
<p class="text-center">Labels</p>
 

<span class="label">Regular Label</span>
<span class="[success alert secondary] [round radius] label">Advanced Label</span>



<hr>
<p class="text-center">Images</p>

 
<a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
  <img aria-hidden=true src="https://inventaris.onroerenderfgoed.be/afbeeldingen/200504?size=small"/>
</a>



<ul class="small-block-grid-3">
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
</ul>




<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
</ul>




<ul class="clearing-thumbs small-block-grid-4" data-clearing>
  <li><a href="#"><img data-caption="caption here..." src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
  <li><a href="#"><img data-caption="caption 2 here..." src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
  <li><a href="#"><img data-caption="caption 3 here..." src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
</ul>



<hr>
<p class="text-center">Tooltips</p>

<span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">link met tooltip</span>

<hr>
<p class="text-center">Button group</p>


   
<div class="button-bar">
  <ul class="button-group">
    <li><a href="#" class="small button">Button 1</a></li>
    <li><a href="#" class="small button">Button 2</a></li>
    <li><a href="#" class="small button">Button 3</a></li>
  </ul>
</div>


<hr>
<p class="text-center">Tables</p>


<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Thomas bell</td>
        <td>Brick lane, London</td>
        <td>thomas@yahoo.com</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Yan Chapel</td>
        <td>Toronto, Australia</td>
        <td>Yan@yahoo.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Pit Sampras</td>
        <td>Berlin, Germany</td>
        <td>Pit@yahoo.com</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Yan Chapel</td>
        <td>Toronto, Australia</td>
        <td>Yan@yahoo.com</td>
      </tr>
    </tbody>
</table>

<table class="table border">
    <thead>
      <tr>
        <th></th>
        <th>2008</th>
        <th>2009</th>
        <th>2010</th>
        <th>2011</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>65.565</td>
        <td>487.455</td>
        <td>254.786</td>
        <td>254.786</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>65.565</td>
        <td>487.455</td>
        <td>254.786</td>
        <td>254.786</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>5.565</td>
        <td>487.455</td>
        <td>2.786</td>
        <td>24.786</td>
      </tr>
    </tbody>
</table>



<br>
<h1 class="text-center">Utilities</h1>


<hr>
<p class="text-center">Floats</p>

<div class="clearfix">
    <a class="button right">Float Right</a>
    <a class="button left">Float Left</a>
</div>



<hr>
<p class="text-center">Dropdown button ( click )</p>



<button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Has Dropdown</button>
<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>





       </div>
    </div>






<br><br><br><br>

<h1 class="text-center">Forms</h1>

<hr>
<p class="text-center">Search</p>


<!-- search -->
  <div class="row ">
      <div class="large-12 columns">
        <div class="panel Searchbox">

<form name="" action="#" method="post" class="clearfix">

<div class="searchBox">
    <input type='text' placeholder='zoek foto' />
    <button>zoeken</button>
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    <small><a href="" >Uitgebreid zoeken</a> &rsaquo;</small> 
</div>

  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="zoek">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">ZOEKEN</a>
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>
        </div>
      </div>
    </div>
  </div>

</form> 

        </div>
     </div>
</div>
<!-- end search -->




<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Input Label
        <input type="text" placeholder="large-12.columns" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <div class="row collapse">
        <label>Input Label</label>
        <div class="small-9 columns">
          <input type="text" placeholder="small-9.columns" />
        </div>
        <div class="small-3 columns">
          <span class="postfix">.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Choose Your Favorite</label>
      <input type="radio" name="" value="Red" id="radio1"><label for="radio1">Red</label>
      <input type="radio" name="" value="Blue" id="radio2"><label for="radio2">Blue</label>
    </div>
    <div class="large-6 columns">
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  </div>
</form>



<form>
  <div class="row">

      <div class="row">

        <div class="small-3 columns">
          <label for="label1" class="right inline">Naam</label>
        </div>

        <div class="small-9 columns">
          <input type="text" id="label1" placeholder="Inline Text Input">
        </div>

      </div>

        <div class="row">

        <div class="small-3 columns">
          <label for="label2" class="right inline">Voornaam</label>
        </div>

        <div class="small-9 columns">
          <input type="text" id="label2" placeholder="Inline Text Input">
        </div>

      </div>

  </div>
</form>








<br><br><br><br><br><br><br>


<form>
  <fieldset>
    <legend>Fieldset Legend</legend>

    <label>Input Label
      <input type="text" placeholder="Inputs and other form elements go inside...">
    </label>
  </fieldset>
</form>




<br><br><br><br><br><br><br>


<form>
  <div class="row collapse">
    <div class="small-3 large-2 columns">
      <span class="prefix">http://</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" placeholder="Enter your URL...">
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Hex Value">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Go</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Label</span>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="row collapse postfix-radius">
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
        </div>
        <div class="small-3 columns">
          <span class="postfix">Label</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse prefix-round">
        <div class="small-3 columns">
          <a href="#" class="button prefix">Go</a>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="row collapse postfix-round">
        <div class="small-9 columns">
          <input type="text" placeholder="Value">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix">Go</a>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="switch">
  <input id="exampleCheckboxSwitch" type="checkbox">
  <label for="exampleCheckboxSwitch"></label>
</div> 



<div class="switch">
  <input id="exampleCheckboxSwitch" type="checkbox">
  <label for="exampleCheckboxSwitch"></label>
</div> 

<!-- Using radio buttons – each switch turns off the other two -->
<div class="switch small">
  <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
  <label for="exampleRadioSwitch1"></label>
</div> 

<div class="switch radius">
  <input id="exampleRadioSwitch2" type="radio" name="testGroup">
  <label for="exampleRadioSwitch2"></label>
</div> 

<div class="switch round large">
  <input id="exampleRadioSwitch3" type="radio" name="testGroup">
  <label for="exampleRadioSwitch3"></label>
</div>



<label>
  Name
  <input type="text" name="name" aria-describedby="nameHelpText">
</label>
<p id="nameHelpText">Enter your name.</p>



ERROR


<form>
  <div class="row">
    <div class="large-6 columns">
      <label class="error">Error
        <input type="text" class="error" />
      </label>
      <small class="error">Invalid entry</small>
    </div>
    <div class="large-6 columns error">
      <label>Another Error
        <input type="text" />
      </label>
      <small class="error">Invalid entry</small>
    </div>
  </div>
  <textarea class="error" placeholder="Message..."></textarea>
  <small class="error">Invalid entry</small>
</form>







Label help text


<label>
  Name
  <input type="text" name="name" aria-describedby="nameHelpText">
</label>
<p id="nameHelpText">Enter your name.</p>



Label custom inputs

<label id="ageLabel">Age</label>
<div class="range-slider" data-slider>
  <span class="range-slider-handle" role="slider" aria-labelledby="ageLabel" aria-describedby="ageHelpText"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
</div>
<p id="ageHelpText">How old are you?</p>









<ul class="socialbox">
    <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="toggle linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li class="toggle mail"><a href="#"><i class="fa fa-envelope"></i></a></li>
    <li class="toggle print"><a href="#"><i class="fa fa-print"></i></a></li>
    <li class="more"><span></span></li>
</ul>

<ul class="socialbox dropdown">
    <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="more"><span></span>
        <ul class="clearfix shadow">
            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
            <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li>
        </ul>
    </li>
</ul>

<!-- a little bit of jQuery to spice things up -->
<script type="text/javascript">
  $(function(){ 
        $('li.more > span').click(function(){
            if($(this).hasClass('open')){
                $(this).removeClass('open').parent().parent().find('.toggle').each(function(index){
                    $(this).delay(100*index).hide(300);
                }); 
            }else{
                $(this).addClass('open').parent().parent().find('.toggle').each(function(index){
                    $(this).delay(100*index).show(300);
                });             
            }
        });
    });
</script>






{% endblock %}