{% layout "erfgoedstijl-layout" %}
{% block content %} 
  

<br>
<h1 class="text-center">Elements</h1>



<div class="row">

	<div class="large-12 columns">



<!-- buttons -->
<p class="text-center">Buttons</p>
{% include "elements/buttons" %}


<!-- tooltips -->
<hr>
<p class="text-center">Tooltips</p>

<span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">link met tooltip</span>


<!-- Tables -->
<hr>
<h1 class="text-center">Tables</h1>

<p class="text-center">Table 1</p>
{% include "elements/table-1" %}

<hr>
<p class="text-center">Table 2</p>
{% include "elements/table-2" %}



<!-- Utilities -->
<hr>
<h1 class="text-center">Utilities</h1>




<h2 class="text-center">Forms</h2>

<!-- Form-->

<p class="text-center">form + error</p>     
{% include "elements/form-1" %}

<p class="text-center">form 2</p>     
{% include "elements/form-2" %}



<!-- Form-->

<p class="text-center">statistieken</p>     
{% include "elements/statistieken-1" %}


<hr>
<h1 class="text-center">Images</h1> 
{% include "elements/images-1" %}


<hr>
<h1 class="text-center">social</h1>   
{% include "blokken/social-1" %}

<hr>
<h1 class="text-center">social 2</h1>   
{% include "blokken/social-2" %}


<hr>
<h1 class="text-center">alerts</h1>   
{% include "elements/alerts" %}





	</div>

</div>





{% endblock %}