{% layout "erfgoedstijl-layout" %}

{% block content %}  


<h1 class="text-center">Grids</h1>

<p class="text-center">type 1</p>
{% include "grids/grid-1" %}

<p class="text-center">type 2</p>
{% include "grids/grid-2" %}

<p class="text-center">type 3</p>
{% include "grids/grid-3" %}

<p class="text-center">type 4</p>
{% include "grids/grid-4" %}

<p class="text-center">type 5</p>
{% include "grids/grid-5" %}  

<p class="text-center">type 6</p>
{% include "grids/grid-6" %}

<p class="text-center">type 7</p>
{% include "grids/grid-7" %}

<p class="text-center">type 8</p>
{% include "grids/grid-8" %}

<p class="text-center">type 9</p>
{% include "grids/grid-9" %}

<p class="text-center">type 10</p>
{% include "grids/grid-10" %}

<p class="text-center">type 11</p>
{% include "grids/grid-11" %}

<p class="text-center">type 12</p>
{% include "grids/grid-12" %}



{% endblock %}