{% layout "erfgoedstijl-layout" %}

{% block content %}  
  
<h1 class="text-center">Grids</h1>

{% include "grids/grid-1" %}

{% include "grids/grid-2" %}

{% include "grids/grid-3" %}

{% include "grids/grid-4" %}

{% include "grids/grid-5" %}  

{% include "grids/grid-6" %}

{% include "grids/grid-7" %}

{% include "grids/grid-8" %}

{% include "grids/grid-9" %}

{% include "grids/grid-10" %}

{% include "grids/grid-11" %}

{% include "grids/grid-12" %}


{% endblock %}