{% block content %} 
  

<!-- header -->

<!-- embed -->
<div class="temp-embed"></div>

<!-- large header bg image -->
<div class="bgimage"></div>

<!-- wrapper & responsive navigation -->
<div class="wrapper clearfix">
  <div class="main-navigation-inner clearfix inner">

<!-- service-navigation vlaanderen-->
<ul id="service-navigation" class="clearfix">
<li><a href="/">home onroerend erfgoed</a></li>
</ul>

<!-- logo -->
<div class="logo-block">
  <a href="/">
    <h1>Beeldbank</h1>
    <img src="/img/OE-vlaanderen-logo.png" width="65">
    <h2>Vlaanderen</h2>
    <h4>is Onroerend Erfgoed</h4>
  </a>
</div>

  </div>
</div>


<!-- navigation -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">  
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section inner-nav">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="">test link 1</a></li>
      <li><a href="">test link 2</a></li>
      <li><a href="">test link 3</a></li>
    </ul>
  </section>
</nav>

<!-- end header -->



<!-- content -->
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
 # content
    </div>
  </div>
</div>
<!-- end content -->



<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <nav class="footer-doormat clearfix">
        <ul>
          <li><a class="active" href="#">Onderwijs &amp; vorming</a></li>
          <li><a href="#">Leren</a></li>
          <li><a href="#">Werken in het onderwijs</a></li>
          <li><a href="#">A-Z index</a></li>
          <li><a href="#">Wegwijs in de administratie</a></li>
          <li><a href="#">Departementen</a></li>
        </ul>

        <ul>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Nieuwsbrief</a></li>
          <li><a href="#">Statistieken</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Contact</a></li>
          <li><span class="is-vishidden">Language</span>
            <ul class="lang-switch clearfix">
              <li><a class="active" href="#">NL</a></li>
              <li><a href="#">FR</a></li>
              <li><a href="#">DE</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </li>
        </ul>
        
        <article>
          <a href="#"><img alt="Alt tag" src="img/footer-300x250.jpg"></a>
        </article>
      </nav>
    </div>
  </footer>
<!-- end footer -->

 

<!-- embed -->
<div class="temp-embed"></div>
<!-- end embed vlaanderen -->

 
  
{% endblock %}