{% block content %} 
  

 <!-- header -->


<!-- embed -->
<div class="temp-embed"></div>
<!-- end embed vlaanderen -->



<!-- header -->

<!-- header bg image -->
<div class="bgimage"></div>


<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">

<!-- sub nav -->
<ul id="service-navigation" class="clearfix">
<li><a href="/">home onroerend erfgoed</a></li>
</ul>
<!-- end sub nav -->


<!-- logo -->

<div class="logo-block">

<a href="/">
<h1>Inventaris</h1>

<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">

<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>

<!-- end logo -->



</div>
</div>




<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
     
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section inner-nav">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="">link 1</a></li>
      <li><a href="">link 2</a></li>
      <li><a href="">link 3</a></li>
    </ul>
  </section>
</nav>




 <!-- end header -->



<!-- content -->


<div class="row">


  <div class="large-8 columns">
      
       <div class="panel">

 <h1>Content</h1> 
  <img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/173708?size=full">



        <h2>Content</h2> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>  

  <h3>Content</h3> 
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>  

<ul>
<li>list item 1</li>
<li>list item 2</li>
<li>list item 3</li>

</ul>
      </div>

  </div>


<div class="large-4 columns">
      

<!-- nieuws -->

      <div class="fl-block style-2">

        <h4 class="block-title field"><a href="#">Nieuws</a></h4>

          <div class="field full news">
             <a href="#">
                <h5>Vlaamse overheid is werkgever van het jaar</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
          </div>

      <div class="field full news">
            <a href="#">
            <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" /></figure>
            <h5>De stemmen zijn geteld</h5> 
            <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div>
   
      <div class="field full news">
          <a href="#">
          <h5>Huurpremie na 4 jaar wachten op sociale woning</h5> 
          <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
          </a>
      </div>

    
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div>
    

</div>
<!-- end nieuws -->




  </div>


</div>


<!-- end content -->



<!-- footer -->
  <footer id="footer-bottom" role="contentinfo">
    <div class="footer-bottom-inner inner">
      <nav class="footer-doormat clearfix">
        <ul>
          <li><a class="active" href="#">Onderwijs &amp; vorming</a></li>
          <li><a href="#">Leren</a></li>
          <li><a href="#">Werken in het onderwijs</a></li>
          <li><a href="#">A-Z index</a></li>
          <li><a href="#">Wegwijs in de administratie</a></li>
          <li><a href="#">Departementen</a></li>
        </ul>

        <ul>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Nieuwsbrief</a></li>
          <li><a href="#">Statistieken</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Nieuws</a></li>
          <li><a href="#">Publicaties</a></li>
          <li><a href="#">Contact</a></li>
          <li><span class="is-vishidden">Language</span>
            <ul class="lang-switch clearfix">
              <li><a class="active" href="#">NL</a></li>
              <li><a href="#">FR</a></li>
              <li><a href="#">DE</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </li>
        </ul>
        
        <article>
          <a href="#"><img alt="Alt tag" src="img/footer-300x250.jpg"></a>
        </article>
      </nav>
    </div>
  </footer>
<!-- end footer -->

 

<!-- embed -->
<div class="temp-embed"></div>
<!-- end embed vlaanderen -->

 
  
{% endblock %}