{% block content %} 
  
<!-- header -->
<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">
<div class="logo-block">
<a href="/">
<h1>Styleguide</h1>
<img src="/static/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>
</div>
</div>
<!-- end header -->








<br>

 
    <div class="row">

      <div class="large-12 columns">


        <div class="panel">



    <ul>
      <li><a href="grids">grids</a></li>
      <li><a href="blokken">blokken</a></li>
      <li><a href="typo">typo / headers</a></li>
      <li><a href="navigation">navigation types</a></li>
      <li><a href="elements">elementen</a></li>

  
      <li><a href="media">media</a></li>
      <li><a href="images">images</a></li>
    </ul>

<hr>

  <ul>
  <li><a href="header-footer">Basic page with header , content & footer </a></li>

  </ul> 



    <ul>
      <li><a href="beeldbank">Theme Beeldbank</a></li>
      <li><a href="contact">Theme Beeldbank contact</a></li>
    </ul>  
    
    <ul>
      <li><a href="inventarishome">Theme Inventaris</a></li>
      <li><a href="geoportaal">Theme Geoportaal</a></li>
    </ul>  

     
      </div>

   

       </div>
        </div>


     


    </div>





{% endblock %}