{% layout "erfgoedstijl-layout" %}

{% block content %} 
  



<br>

 
    <div class="row">

      <div class="large-12 columns">


   <div class="panel">

    <ul>
      <li><a href="grids">Grids</a></li>
      <li><a href="blokken">Blokken</a></li>
      <li><a href="typo">Typo / headers</a></li>
      <li><a href="navigation">navigation types</a></li>
      <li><a href="elements">elementen</a></li>
      <li><a href="elements/images-1">images</a></li>
      <li><a href="media">media</a></li> 
        
    </ul>

<hr>

  <ul>
  <li><a href="header-footer">Basic page with header , content & footer </a></li>
  </ul> 



    <ul>
      <li><a href="beeldbank/index">Theme Beeldbank</a></li>
      <li><a href="beeldbank/uitgebreid-zoeken">Theme Beeldbank uitgebreid zoeken</a></li>
      <li><a href="beeldbank/contact">Theme Beeldbank contact</a></li>
    </ul>  
    
    <ul>
      <li><a href="inventarishome">Theme Inventaris</a></li>
      <li><a href="geoportaal">Theme Geoportaal</a></li>
    </ul>  

     
      </div>

   

       </div>
   </div>


     


    </div>





{% endblock %}