{% block content %} 
  

<!-- header -->

<!-- header -->


<!-- header bg image -->



<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">


<!-- logo -->

<!--div class="logo-block">

<a href="/">
<h1>Beeldbank</h1>

<img src="/img/OE-vlaanderen-logo.png" width="65">

<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div -->

<!-- end logo -->


<!-- logo -->

<div class="logo-block">

<a href="/">
<h1>Styleguide</h1>

<img src="/img/OE-vlaanderen-logo.png" width="65">

<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>

<!-- end logo -->



</div>
</div>



 <!-- end header -->










 
    <div class="row">

      <div class="large-12 columns">


        <div class="panel">



    <ul>
      <li><a href="header-footer">header / footer</a></li>
      <li><a href="grids">content grids</a></li>
     
      <li><a href="">blokken</a></li>
      <li><a href="">elementen</a></li>



    </ul>

  
    

     
      </div>

   

       </div>
        </div>


     


    </div>





{% endblock %}