{% block content %} 
  

<!-- header -->
<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">
<div class="logo-block">
<a href="/">
<h1>Styleguide</h1>
<img src="/img/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>
</div>
</div>
</div>

<!-- navigation -->
<!-- place navigation here -->
<!-- end navigation -->

 <!-- end header -->


<br>
<h1 class="text-center">Navigation</h1>



 <div class="row">

     <div class="large-12 columns">


  



<!-- navigation type 1-->
type 1
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">  
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section inner-nav">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="">test link 1</a></li>
      <li><a href="">test link 2</a></li>
      <li><a href="">test link 3</a></li>
    </ul>
  </section>
</nav>


<!-- navigation type 2-->
type 2
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1> <!-- a href="#">Title pagina</a --> </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="">
      <li class="active"><a href="#">Home</a></li>
      <li class=""><a href="#">Link2</a></li>
      <li class=""><a href="#">Link3</a></li>
      <li class="has-dropdown">
        <a href="#">Link 3 drop</a>
        <ul class="dropdown">
          <li class=""><a href="#">link 1 in dropdown</a></li>
          <li class=""><a href="#">link 2 in dropdown actief</a></li>
          <li class="active"><a href="#">link 3 in dropdown</a></li>
          <li class=""><a href="#">link 4 in dropdown</a></li>
        </ul>
      </li>
      <li class=""><a href="#">Link4</a></li>
      <li class=""><a href="#">Link5</a></li>
      <li class=""><a href="#">Link6</a></li>

    </ul>


  </section>
</nav>



<!-- navigation type 3-->
type 3
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1> <!-- a href="#">Titel pagina</a --> </h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#">Link 2 </a></li>
      <li class="has-dropdown">
        <a href="#">Link3 Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">Link 1 dropdown</a></li>
          <li class="active"><a href="#">link 2 dropdown actief</a></li>
          <li><a href="#">Link 3 dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link 1</a></li>
    </ul>
  </section>
</nav>




<!-- sub navigation -->
subnavigation
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Active</a></dd>
  <dd><a href="#">Pending</a></dd>
  <dd><a href="#">Suspended</a></dd>
</dl>


<!-- breadcrumbs -->

breadcrumbs
<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
</ul>


<!-- page navigation -->
page navigation
<div class="pagination-centered">
  <ul class="pagination">
    <li class="arrow unavailable"><a href=""> &lsaquo; vorige</a></li>
    <li class=""><a href="">lijstscherm</a></li>
    <li class="arrow"><a href="">volgende  &rsaquo;</a></li>
  </ul>
</div>






    </div>

    </div>  

{% endblock %}