{% layout "erfgoedstijl-layout" %}

{% block content %} 
  
  <br>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">



<h1 class="text-center">Typo Heading</h1>

   <h1>Heading 1</h1>
   <h2>Heading 2</h2>
   <h3>Heading 3</h3>
   <h4>Heading 4</h4>
   <h5>Heading 5</h5>
   <h6>Heading 6</h6>


<hr>


  
      <h1>Heading 1</h1>
       Maecenas ac tortor nec <strong>ligula facilisis commodo</strong>. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per <a href="#">inceptos himenaeos</a>. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
   
    
       <h2>Heading 2</h2>
       <p>
        <b>Maecenas ac tortor nec ligula facilisis commodo</b>. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
        </p>


        <h3>Heading 3</h3>

        <p>
        Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
        </p>

        <h4>Heading 4</h4>
        <p>
        Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
        </p>

        <h5>Heading 5</h5>
        <p>
        Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
        </p>

        <h6>Heading 6</h6>
        <p>
        Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
        </p>




        </div>
    </div>
</div>




<h1 class="text-center">Parapraphs</h1>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">





   <p>
        Maecenas ac tortor nec ligula facilisis commodo. Etiam cursus augue ac interdum lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse libero magna, volutpat vel massa sed, mollis hendrerit nisi. Quisque non augue a nisi auctor molestie ac sed turpis. Phasellus pulvinar, orci nec condimentum fringilla, mi arcu iaculis metus.
   </p>





<p class="text-left">
Text left - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
   
   

<p class="text-right">
Text right - Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>

<p class="text-center">
Text center - Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>

<p class="text-justify">
Text justify - Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>









        </div>
    </div>
</div>











{% endblock %}