
<form>


      <div class="row">

        <div class="small-2 columns">
          <label for="label1" class="left inline">Naam</label>
        </div>

        <div class="small-10 columns">
          <input type="text" id="label1" placeholder="Inline Text Input">
        </div>

      </div>

      <div class="row">

        <div class="small-2 columns">
          <label for="label2" class="left inline">Voornaam</label>
        </div>

        <div class="small-10 columns">
          <input type="text" id="label2" placeholder="Inline Text Input">
        </div>



      </div>


<a href="#" class="button right [tiny small large]">Default Button</a>

</form>
