    <!-- thumb -->

    <div class="row">

      <div class="large-12 columns">

        <a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
        <img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/200504?size=small"/>
        </a>

     
      </div>
    
    </div>
