

 
<a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
  <img aria-hidden=true src="https://inventaris.onroerenderfgoed.be/afbeeldingen/200504?size=small"/>
</a>



<ul class="small-block-grid-3">
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
</ul>




<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
</ul>




<ul class="clearing-thumbs small-block-grid-4" data-clearing>
  <li><a href="#"><img data-caption="caption here..." src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
  <li><a href="#"><img data-caption="caption 2 here..." src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
  <li><a href="#"><img data-caption="caption 3 here..." src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
</ul>
