

    <div class="row">

      <div class="large-12 columns">

        <div class="panel">



<a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
<img aria-hidden=true src="https://inventaris.onroerenderfgoed.be/afbeeldingen/200504?size=small"/>
</a>
<a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
<img aria-hidden=true src="https://inventaris.onroerenderfgoed.be/afbeeldingen/200504?size=small"/>
</a>
<a class="th" role="button" aria-label="Thumbnail" href="../assets/img/examples/space.jpg">
<img aria-hidden=true src="https://inventaris.onroerenderfgoed.be/afbeeldingen/200504?size=small"/>
</a>

        </div>

      </div>
    
    </div>

 



<ul class="small-block-grid-3">
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
</ul>




<!-- ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
  <li><img aria-hidden=true src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"/></li>
</ul -->



    <div class="row">

      <div class="large-12 columns">

        <div class="panel">

<ul class="clearing-thumbs small-block-grid-5" data-clearing>
<li><a href="#"><img data-caption="" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
<li><a href="#"><img data-caption="" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
<li><a href="#"><img data-caption="" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
<li><a href="#"><img data-caption="" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>
<li><a href="#"><img data-caption="" src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg"></a></li>

</ul>


        </div>

      </div>
    
    </div>





<div class="flanders-slider">
  <ul class="slides clearfix">
    <li>
      <img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/04/space-wallpaper-3.jpg" />
    </li>
    <li>
      <footer><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4></footer>
      <img src="img/photo-demo-slide2.jpg" />
    </li>
    <li>
      <footer><h4>Onderwijs bepalend voor succes in volwassen leven</h4> (bron VRT)</footer>
      <h2>West-Vlaamse ondernemers vertellen hun eigen verhaal</h2>
    </li>
    <li>
      <footer><h4>Onderwijs bepalend voor succes in volwassen leven</h4> (bron VRT)</footer>
      <img src="img/photo-demo-slide1.jpg" />
    </li>
  </ul>
  <div class="slider-counter"><span class="current-slide">1</span>/<span class="total-slides"></span></div>
</div>