
<ul class="socialbox dropdown right">
    <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li class="more"><span></span>
        <ul class="clearfix shadow">
            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
            <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
            <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li>
        </ul>
    </li>
</ul>
