  
<!-- statistieken 1 -->







<div class="row">

  <div class="large-6 columns">



      <div class="fl-block style-2">

        <h4 class="block-title fullfeed"><a href="#">Statistieken</a></h4>

          <div class="field full news">

             <!-- circles -->     
             <div class="large-4 medium-4 columns">  
             <div class="circles">

                    <div>
                      <div>
                        <div>
                          <div>
                          
                            <h4>82.057</h4> 
                             <small>relicten bouwkundig <br>erfgoed</small>
                          
                          </div>
                        </div>
                      </div>
                    </div>

             </div>
             </div>            
             <!-- end circles -->

               <!-- circles -->     
             <div class="large-4 medium-4 columns">  
             <div class="circles">

                    <div>
                      <div>
                        <div>
                          <div>
                          
                            <h4>82.057</h4> 
                             <small>relicten erfgoed</small>
                          
                          </div>
                        </div>
                      </div>
                    </div>

             </div>
             </div>            
             <!-- end circles -->

               <!-- circles -->     
             <div class="large-4 medium-4 columns">  
             <div class="circles">

                    <div>
                      <div>
                        <div>
                          <div>
                          
                            <h4>82.057</h4> 
                             <small>erfgoed</small>
                          
                          </div>
                        </div>
                      </div>
                    </div>

             </div>
             </div>            
             <!-- end circles --> 
    <div class="field"><a class="more" href="#">toon alles  &rsaquo;</a></div> 
          </div>


    </div>


  </div>

</div>












