
<!-- footer -->
<footer id="footer-bottom" role="contentinfo" class="footer">
    <div class="footer-bottom-inner inner">

      <div class="container" style="padding:10px">

        <p class="pull-right"><a href="#">Back to top</a></p>

        <p><small>&copy; Copyright 2011-2014, Ryan Roemer.<br/>
          Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.<br/></small>
        </p>
      </div>
    </div>
</footer>

<!-- end footer -->






