
<!-- footer -->
<footer id="footer-bottom" role="contentinfo" class="footer" style="margin:50px 0 0 0">
    <div class="footer-bottom-inner inner">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>
          
        </p>
        <p>
            &copy; Copyright 2011-2014, Ryan Roemer.<br/>
          Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.<br/>
        </p>
      </div>
    </div>
</footer>

<!-- embed vlaanderen -->
<script type="text/javascript" src="//widgets.vlaanderen.be/widget/live/79a9f632dc8e45aa884f7924ee16f7bf?mtime=1421237274"></script>
<!-- end embed vlaanderen -->

 <!-- end footer -->

</div>




