

 <!-- header -->



<div class="wrapper">

<div class="inner" style="height:80px">
<!-- header bg image -->
<!--div class="bgimage-documenten"></div-->
<div class="bgimage-documenten" style="height:80px"></div>

<!-- end header bg image -->

<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">



<!-- logo -->
<div class="logo-block" style="margin:0;padding:0;height:80px">

<a href="/" style="padding:0;margin:0">
<h1 style="font-size:30px;margin:0;padding:20px 0 0 0">Documenten</h1>
<img src="/public/img/pyoes/OE-vlaanderen-logo.png" width="65" style="margin:0;padding:8px 0 0 5px">
<h2 style="margin:0;padding:20px 0 0 0">Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>

</div>
<!-- end logo -->



</div>
</div>

</div>


</div>
 <!-- end header -->






