

 <!-- header -->

<div class="wrapper" style="margin-bottom:30px;">

<div class="inner" style="">
<!-- header bg image -->
<div class="bgimage-documenten"></div>
<!-- end header bg image -->

<div class="wrapper clearfix">
<div class="main-navigation-inner clearfix inner">


<!-- logo -->
<div class="logo-block2">

<a href="/">
<h1>Documenten</h1>
<img src="/public/img/pyoes/OE-vlaanderen-logo.png" width="65">
<h2>Vlaanderen</h2>
<h4>is Onroerend Erfgoed</h4>
</a>

</div>
<!-- end logo -->



</div>
</div>

</div>


</div>
 <!-- end header -->






