{% block title %}Model Example : Mixture + Bootstrap{% endblock %}
{% block content %}


<!-- 8-4offset-->



<!-- start left column  8-->

<div class="col-md-8">

  <div class="col-md-12 panel">

  <div class="panel">


  <article class="" itemscope itemtype="http://schema.org/Article">

  <h1>Erkende intergemeentelijke onroerenderfgoeddiensten</h1> 

    <figure>
      <img itemprop="image" src="https://www.onroerenderfgoed.be/assets/files/made/assets/files/content/images/Oostkerke_Lettenburgstr_IMG_9062_832_370_s_c1.jpg" class="img-responsive" alt="">
      <figcaption>Maecenas ac tortor nec ligula facilisis commodo. Foto door <a href="#">Richard Clark</a></figcaption>
    </figure>
        



<section itemprop="articleBody">

<h4><em>Gemeenten kunnen de krachten bundelen en een intergemeentelijke onroerenderfgoeddienst (IOED) oprichten.</em></h4>

 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Cras leo lacus, ultrices in orci id, porttitor finibus metus</strong>. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque <a itemprop="url" href="" >habitant morbi tristique</a> senectus et netus et malesuada fames ac turpis egestas.</p>  


<h2>h2 Content</h2> 

 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>  


<h3>h3 Content</h3> 

 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 

<blockquote class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus.<cite>Naam</cite></blockquote>

 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 


    <aside class="left">
        <figure><img src="https://inventaris.onroerenderfgoed.be/afbeeldingen/161253?size=medium" width="" height=""></figure>
    </aside>


 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 

<h4>h4 Content</h4> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 

<h5>Disk list item</h5>

<ul class="disk">
  <li><a href="">List item with a much longer description or more content.</a></li>
  <li><a href="">List item with a much longer description or more content.</a></li>
  <li>List item
    <ul>
  <li><span>List item</span></li>
  <li><span>List item</span></li>
  <li><span>List item</span></li>
    </ul>
  </li>
  <li><span>List item</span></li>
  <li><span>List item</span></li>
  <li><span>List item</span></li>
 </ul>

<hr>


<h5>NoDisk list item</h5>

<ul class="nodisk">
  <li><a href="">List item with a much longer description or more content.</a></li>
  <li>List <a href="">List item with a much longer description or more content.</a> item</li>
  <li>List item </li>
 </ul>

<hr>


<h5>Ordered list</h5>

<ol>
  <li>List item with a much longer <a href="">description</a> or more content.</li>
  <li>List item</li>
  <li>List item
    <ol>
      <li>Nested <a hre="">List Item</a></li>
      <li>Nested List Item</li>
      <li>Nested List Item</li>
    </ol>
  </li>
  <li>List item</li>
  <li>List item</li>  
  <li>List item</li>
 </ol>

<h5>No numbers Ordered list</h5>

<ol class="nonumbers">
  <li>List item with a much longer <a href="">description</a> or more content.</li>
  <li>List item</li>
  <li>List item</li>
 </ol>

<dl>
  <dt>Definition Title</dt>
  <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
</dl>


<h6>h6 Content</h6> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor fini bus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> 


<hr>

<!-- social buttons on page -->

<ul class="socialbox dropdown pull-right clearfix">
  <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
  <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
  <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li> 
</ul>

<hr>


<div class="row clearfix">
    <div class="col-md-6"></div>
    <div class="col-md-6">
    <span class="pull-right"><button type="button" class="btn btn-lg btn-primary">Plaats reactie</button></span>
    </div>
</div>


<form class="reactionsclearfix">

<h5>Reacties (0)</h5>

<h6>Reageer op dit artikel</h6>



  <div class="form-group">
    <label for="label1">Naam</label>
    <input type="email" class="form-control" id="label 1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="mail">Email adres</label>
    <input type="password" class="form-control" id="mail" placeholder="email">
  </div>
  <div class="form-group">
  <label for="label2" class="left inline">Reactie</label>
  <textarea id="label2" class="form-control" placeholder="omschrijving"></textarea>
  </div>
 






  <div class="row">
    <div class="col-md-6">Total cost</div>
    <div class="col-md-6"><span class="pull-right"><button type="button" class="btn btn-lg btn-primary">Plaats reactie</button>
</span></div>
  </div>



 
</form>








<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>











<h4>280 reacties</h4>

<ul class="reactions">
        
  <li>
      <cite>naam</cite>
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada ut nisl iaculis interdum. Integer in mauris eu velit consequat pulvinar in et lectus.</blockquote>
      <span>12/01/15 14u34</span>
  </li>
      
  <li>
      <cite>naam</cite>
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada ut nisl iaculis interdum. Integer in mauris eu velit consequat pulvinar in et lectus.</blockquote>
      <span>12/01/15 14u33</span>
  </li>
  
</ul>

</section>

</article>

</div>





    </div>
    </div>

<!-- end left column -->



<!-- start right column 4-->

<div class="col-md-4">


<!-- search 1 -->

<div class="large-12 ">

<div class="fl-block-search">

<form name="" action="#" method="post" class="clearfix">

  <input type='text' placeholder='zoek' />
  <a href="#" class="button [tiny small large] right">ZOEKEN</a>

  <button type="button" class="btn btn-lg btn-primary">zoeken</button>

  <fieldset class="fl-block-search_fieldset">
      <input id="checkbox1" type="checkbox"><label for="checkbox1">zoek binnen deze website</label><br>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">zoek binnen Vlaanderen.be</label>
  </fieldset>

</form> 

    </div>
</div>

<!-- end search 1-->


     
<!-- nieuws 2 -->



  <div class="fl-block style-2">

      <h4 class="block-title field"><a href="#">Nieuws</a></h4>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                <h5 itemprop="name">Vlaamse overheid is werkgever van het jaar</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div>

      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
            <a itemprop="url" href="#">
                <img itemprop="image" src="https://inventaris.onroerenderfgoed.be/afbeeldingen/180002?size=small.png" width="90" alt="Alt descritpion" />
                <h5 itemprop="name">De stemmen zijn geteld</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
            </a>
      </div>
   
      <div itemscope="" itemtype="http://schema.org/Article" class="field full news">
           <a itemprop="url" href="#">
                <h5 itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h5> 
                <time itemprop="datePublished" datetime="2014-04-30">30 april 2014</time>
           </a>
      </div>

    
    <div class="field"><a itemprop="url" class="more" href="#">toon alles  &rsaquo;</a></div>
    

  </div>

<!-- end nieuws 2 -->
   

     
<!-- nieuwsfeed -->


<div class="fl-block style-2">

        <h4 class="block-title field"><a itemprop="url" href="#">Nieuwsfeed</a></h4>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full rss">
           <a itemprop="url" href="#" >
               <time itemprop="datePublished" datetime="" class="posted">16u</time>
               <h5 itemprop="name">Vlaamse overheid is werkgever van het jaar</h5>  
          </a>
          </div>


          <div itemscope="" itemtype="http://schema.org/Article" class="field full rss">
            <a itemprop="url" href="#">
                  <time itemprop="datePublished" datetime="" class="posted">16u</time>
                  <h5 itemprop="name">De stemmen zijn geteld</h5> 
              </a>
          </div>
   
          <div itemscope="" itemtype="http://schema.org/Article" class="field full rss">
            <a itemprop="url" href="#">
                  <time itemprop="datePublished" datetime="" class="posted">14u</time>
                  <h5 itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h5> 
              </a>
          </div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full rss">
             <a itemprop="url" href="#">
                 <time itemprop="datePublished" datetime="" class="posted">14u</time>
                 <h5 itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h5> 
              </a>
          </div>

          <div itemscope="" itemtype="http://schema.org/Article" class="field full rss">
             <a itemprop="url" href="#">
                 <time itemprop="datePublished" datetime="" class="posted">14u</time>
                 <h5 itemprop="name">Huurpremie na 4 jaar wachten op sociale woning</h5> 
              </a>
          </div>
      
    <div class="field"><a itemprop="url" class="more" href="#">toon alles  &rsaquo;</a></div>
    
</div>



<!-- end nieuwsfeed  -->


<!-- nieuwsfeed -->



<div class="fl-block style-3">
      
      <h4 itemprop="name" class="block-title field">Downloads</h4>
      <div class="field full download"><a itemprop="url" href="#">De Onderwijsspiegel 2013  <i class="fa fa-download"></i></a></div>
      <div class="field full download"><a itemprop="url" href="#">Studietoelagen 2013 <i class="fa fa-download"></i></a></div>
      <div class="field full download"><a itemprop="url"  href="#">Subsidies &amp; steun 2013 <i class="fa fa-download"></i></a></div>
      <div class="field"><a itemprop="url" class="more" href="#">meer downloads  &rsaquo;</a></div>

</div>




<!-- social on page -->

<div class="fl-block style-3">
  <h4 class="block-title field">Volg ons</h4>
  <div class="field full social twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></div>
  <div class="field full social facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></div>
  <div class="field full social mail"><a href="#"><i class="fa fa-envelope"></i> mail</a></div>
  <div class="field full social linkedin"><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></div>

</div>

<!-- end social on page -->




</div>


<!-- end right column -->
</div>



{% endblock %}
