{% block title %}Model Example : Mixture + Bootstrap{% endblock %}
{% block content %}



 <div class="container">
    <div class="col-xs-12 panel">







         <div class="btn-group btn-group-justified">
          
            <div class="btn-group ">
                <button type="button" class="btn btn-primary">Middle</button>
            </div>


        </div>




        <h4>Justified</h4>

        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Left</button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary">Middle</button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary">Right</button>
            </div>
        </div>

        <h4>Dropdowns</h4>

        <div class="col-md-12">
            <!-- Split button -->

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default</button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary</button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success</button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info</button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning</button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger</button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div>

        <div class="col-md-12">
            <!--split-->
            <div class="btn-group">
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button> <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="sr-only">Toggle Dropdown</span><span class="caret"></span></button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-success">Success</button> <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-info">Info</button> <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span> <span class="sr-only">Toggle Dropdown</span></button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-warning">Warning</button> <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span> <span class="sr-only">Toggle Dropdown</span></button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->

            <div class="btn-group">
                <button type="button" class="btn btn-danger">Danger</button> <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>

                    <li><a href="#">Another action</a></li>

                    <li><a href="#">Something else here</a></li>

                    <li><a href="#">Separated link</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div>

        <div class="col-md-12">
            <!-- Large button group -->

            <div class="btn-group">
                <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Large button</button>

                <div style="margin-left: 2em" class="dropdown-menu">
                    ...
                </div>
            </div><!-- Small button group -->

            <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Small button</button>

                <div style="margin-left: 2em" class="dropdown-menu">
                    ...
                </div>
            </div><!-- Extra small button group -->

            <div class="btn-group">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Extra small button</button>

                <div style="margin-left: 2em" class="dropdown-menu">
                    ...
                </div>
            </div>
        </div>
    </div>

</div>








<!-- buttons -->
<p class="text-center">Buttons</p>


  <p>
        <button type="button" class="btn btn-lg btn-default">Default</button>
        <button type="button" class="btn btn-lg btn-disabled">Disabled</button>
        <button type="button" class="btn btn-lg btn-primary">Primary</button>
        <button type="button" class="btn btn-lg btn-success">Success</button>
        <button type="button" class="btn btn-lg btn-info">Info</button>
        <button type="button" class="btn btn-lg btn-warning">Warning</button>
        <button type="button" class="btn btn-lg btn-danger">Danger</button>
        <button type="button" class="btn btn-lg btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-sm btn-default">Default</button>
        <button type="button" class="btn btn-sm btn-primary">Primary</button>
        <button type="button" class="btn btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-sm btn-info">Info</button>
        <button type="button" class="btn btn-sm btn-warning">Warning</button>
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
        <button type="button" class="btn btn-sm btn-link">Link</button>
      </p>
      <p>
        <button type="button" class="btn btn-xs btn-default">Default</button>
        <button type="button" class="btn btn-xs btn-primary">Primary</button>
        <button type="button" class="btn btn-xs btn-success">Success</button>
        <button type="button" class="btn btn-xs btn-info">Info</button>
        <button type="button" class="btn btn-xs btn-warning">Warning</button>
        <button type="button" class="btn btn-xs btn-danger">Danger</button>
        <button type="button" class="btn btn-xs btn-link">Link</button>
      </p>



<a href="#" class="button">Default Button</a>

<a href="#" class="button disabled">Disabled Button</a>

<a href="#" class="button [secondary success alert]">Color Button</a>

<a href="#" class="button alert">Alert Button</a>


<br><br>


<!-- Expand Class -->
<a href="#" class="button expand">Expanded Button</a>

<!-- Expand Class Small-->
<a href="#" class="button expand [tiny small large]">Small Expanded Button</a>


<br><br>

<!-- Small Class -->
<a href="#" class="button [tiny small large]">Default Button</a>

<a href="#" class="button disabled [tiny small large]">Disabled Button</a>

<a href="#" class="button [secondary success alert] [tiny small large]">Color Button</a>

<a href="#" class="button alert [tiny small large]">Alert Button</a>


<hr>
<p class="text-center">Button group</p>


    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>

<br>

    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>
    </div>


<hr>
<p class="text-center">Floats vorige /volgende</p>


  <ul class="pager">
    <li class="previous disabled"><a href="#">Vorige</a></li>
    <li class="next"><a href="#">Volgende</a></li>
  </ul>




<hr>

<p class="text-center">Dropdown button ( click )</p>

<button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="small">Dropdown </button>
<ul id="drop1" class="f-dropdown " data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">link 1</a></li>
  <li><a href="#">link 2</a></li>
  <li><a href="#">link 3</a></li>
</ul>


<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Dropdown Button</button><br>
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>




<hr>
<p class="text-center">Labels</p>
 
<span class="label">Regular Label</span>
<span class="alert label">Alert Label</span>
<span class="success label">Success Label</span>
<span class="secondary label">Success Label</span>




    <!--with dropdown-->

    <h4>With Dropdown</h4>

    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Dropdown</button>

                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>

                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div><!--vertical-->



<!-- tooltips -->
<hr>
<p class="text-center">Tooltips</p>

<span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">link met tooltip</span>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltips are awesome, you should totally use them!">Tooltip on left</button>

<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltips are awesome, you should totally use them!">Tooltip on top</button>






<!-- Lists -->
<hr>

<h1 class="text-center">Lists</h1>

<p class="text-center">List 1</p>

<section>
<h4>List title</h4>
<ul class="disk">
<li><span>content <a href="/">link</a> content</span></li>
<li><span>content <a href="/">link</a></span></li>
<li><span><a href="/">link</a></span></li>
</ul>
</section>   

<p class="text-center">List 2</p>

<section>
<h5>NoDisk list item</h5>
<ul class="nodisk">
  <li><a href="">List item with a much longer description or more content.</a></li>
  <li>List <a href="">List item with a much longer description or more content.</a> item</li>
  <li>List item </li>
 </ul>
</section>

<p class="text-center">List 3</p>
<section>
<h5>Ordered list</h5>

<ol>
  <li>List item with a much longer <a href="">description</a> or more content.</li>
  <li>List item</li>
  <li>List item
    <ol>
      <li>Nested <a hre="">List Item</a></li>
      <li>Nested List Item</li>
      <li>Nested List Item</li>
    </ol>
  </li>
  <li>List item</li>
  <li>List item</li>  
  <li>List item</li>
 </ol>

 </section>

<p class="text-center">List 4</p>


<section>
<h5>No numbers Ordered list</h5>

<ol class="nonumbers">
  <li>List item with a much longer <a href="">description</a> or more content.</li>
  <li>List item</li>
  <li>List item</li>
</ol>

</section>


<p class="text-center">List 5</p>

<section>
<ul class="source">
<li>Bron : -</li>
<li>Auteurs : <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">Kennes, Hilde</span></li>
<li>Datum : <time itemprop="datePublished" datetime="2014-12-16">16 december 2014</time></li>
</ul>
</section>   




<!-- Tables -->
<hr>
<h1 class="text-center">Tables</h1>

<p class="text-center">Table 1</p>


<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Thomas bell</td>
        <td>Brick lane, London</td>
        <td>thomas@yahoo.com</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Yan Chapel</td>
        <td>Toronto, Australia</td>
        <td>Yan@yahoo.com</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Pit Sampras</td>
        <td>Berlin, Germany</td>
        <td>Pit@yahoo.com</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Yan Chapel</td>
        <td>Toronto, Australia</td>
        <td>Yan@yahoo.com</td>
      </tr>
    </tbody>
</table>

<hr>
<p class="text-center">Table 2</p>


<table class="table border">
    <thead>
      <tr>
        <th></th>
        <th>2008</th>
        <th>2009</th>
        <th>2010</th>
        <th>2011</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>65.565</td>
        <td>487.455</td>
        <td>254.786</td>
        <td>254.786</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>65.565</td>
        <td>487.455</td>
        <td>254.786</td>
        <td>254.786</td>
      </tr>
      <tr>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>5.565</td>
        <td>487.455</td>
        <td>2.786</td>
        <td>24.786</td>
      </tr>
    </tbody>
</table>





<!-- Utilities -->

<hr>

<h1 class="text-center">Utilities</h1>

<h2 class="text-center">Forms</h2>

<!-- Form-->

<p class="text-center">form + error</p>     


<!-- form type 1 -->

<form>

  <div class="row">
    <div class="large-12">
      <label>Naam
        <input type="text" placeholder="naam en voornaam" />
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-12 ">
        <input type="text" placeholder="naam" class="error" />
        <small class="error">Gelieve bovenstaand veld correct in te vullen</small>
        <input type="text" placeholder="voornaam" />
        <input type="text" placeholder="straat" />
        <input type="text" placeholder="gemeente" name="name" aria-describedby="nameHelpText">
        <p id="nameHelpText">Geef uw postcode of gemeente in</p>
    </div>
  </div>

 
  <div class="row">
    <div class="large-12 columns">
      



<div class="row">
     
    <div class="large-4 medium-4">
        <input type="text" placeholder="telefoonnummer" />
        <p id="nameHelpText">vb 000 00 00 00</p>
    </div>            

    <div class="large-4 medium-4">
        <input type="text" placeholder="postcode" />
    </div>

    <div class="large-4 medium-4">
        <input type="text" placeholder="postcode" />
    </div>
                     
</div>




  <div class="row">
    <div class="large-12 columns">
      <label class="inline">Select Box
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </label>
    </div>
  </div>




  <div class="row">

    <div class="large-6 columns">
      <label>Label bij radio</label>
      <input type="radio" name="" value="" id="radio1"><label for="radio1">Radio 1</label>
      <input type="radio" name="" value="" id="radio2"><label for="radio2">Radio 2</label>
    </div>

    <div class="large-6 columns">
      <label>Label bij checkbox</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>

  </div>


  <div class="row">

    <div class="large-6 columns">
      <input type="radio" name="" value="" id="radio3"><label for="radio3">Radio 3</label><br>
      <input type="radio" name="" value="" id="radio4"><label for="radio4">Radio 4</label><br>
    </div>

    <div class="large-6 columns">
      <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label><br>
      <input id="checkbox4" type="checkbox"><label for="checkbox4">Checkbox 4</label><br>
    </div>

  </div>



  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="omschrijving"></textarea>
      </label>
    </div>
  </div>



<div class="row">
   <div class="large-12 columns">
      <form>
        <fieldset>
        <legend>Fieldset Legend</legend>
          <label><!--Naam -->
          <input type="text" placeholder="Naam...">
          </label>
          <label>
          <input type="text" placeholder="Voornaam...">
          </label>
        </fieldset>
      </form>
    </div>
</div>



<div class="switch small">
  <input id="exampleCheckboxSwitch" type="checkbox">
  <label for="exampleCheckboxSwitch"></label>
</div> 


<!-- Using radio buttons – each switch turns off the other two -->

<div class="switch small">
  <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
  <label for="exampleRadioSwitch1"></label>
</div> 



<label id="ageLabel">Slider</label>
<div class="range-slider" data-slider>
  <span class="range-slider-handle" role="slider" aria-labelledby="ageLabel" aria-describedby="ageHelpText"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
</div>



<a href="#" class="button [tiny small large]">Default Button</a>

<a href="#" class="button disabled [tiny small large]">Disabled Button</a>

</form>
<!-- end form type 1 -->






<p class="text-center">form 2</p>     

<form class="clearfix">

<h5>Reacties (0)</h5>

<h6>Reageer op dit artikel</h6>


      <div class="row">
        <div class="small-2 columns">
          <label for="label1" class="left inline">Naam</label>
        </div>

        <div class="small-10 columns">
          <input type="text" id="label1" placeholder="naam">
        </div>
      </div>


      <div class="row">
        <div class="small-2 columns">
          <label for="label2" class="left inline">Email adres</label>
        </div>

        <div class="small-10 columns">
          <input type="text" id="label2" placeholder="email">
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          <label for="label2" class="left inline">Reactie</label>
        </div>

        <div class="small-10 columns">
          <textarea placeholder="omschrijving"></textarea>
        </div>
      </div>

  


<a href="#" class="button right [tiny small large]">Plaats reactie</a>

</form>


<p class="text-center">form reaction</p>     

<h4>280 reacties</h4>

<ul class="reactions">
        
  <li>
      <cite>naam</cite>
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada ut nisl iaculis interdum. Integer in mauris eu velit consequat pulvinar in et lectus.</blockquote>
      <span>12/01/15 14u34</span>
  </li>
      
  <li>
      <cite>naam</cite>
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada ut nisl iaculis interdum. Integer in mauris eu velit consequat pulvinar in et lectus.</blockquote>
      <span>12/01/15 14u33</span>
  </li>
  
</ul>


<hr>
<h1 class="text-center">statistieken</h1>     
  
<!-- statistieken 1 -->


<div class="fl-block style-2">

  <h4 class="block-title field"><a href="#">Statistieken</a></h4>

    <div class="field ">

         <!-- circles -->    


          <!--div class="col-xs-6 col-sm-3 placeholder text-center">
              <img src="//placehold.it/200/6666ff/fff" class="center-block img-responsive img-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div -->


             
        
        <div class="circle">
            <div class="circle-inner">
                <div class="score-text">
                  <h3>82.057</h3> 
                  <small>relicten bouwkundig <br>erfgoed</small>
                </div>
            </div>
        </div>
      
        <!-- end circles -->

     <a class="more" href="#">toon alles  &rsaquo;</a>

    </div>

</div>














<hr>
<h1 class="text-center">social 2</h1>   

<!-- social buttons on page -->

<ul class="socialbox dropdown right clearfix">
    <li class="facebook"><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
  <li class="mail"><a href="#"><i class="fa fa-envelope"></i> Mailen</a></li>
    <li class="print"><a href="#"><i class="fa fa-print"></i> Printen</a></li>
</ul>



<hr>
<h1 class="text-center">alerts</h1>   



<a href="#" data-reveal-id="myModal">Een dialoog venster</a>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Lorem ipsum dolor sit amet</h2>
  <p class="lead">Lorem ipsum dolor sit amet</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempus feugiat tortor, congue ornare tellus tempus ac. Suspendisse ac sagittis orci, at iaculis lectus. Integer et nunc vel ante dictum sollicitudin. Nam ut sapien ac quam aliquet fermentum et et velit. Aliquam in tincidunt sem. Phasellus molestie metus elit, in semper arcu rhoncus ut.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


<br><br>


<div data-alert class="alert-box success">
  This is a success alert
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box warning ">
  This is a warning alert
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box info ">
  This is an info alert
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box alert ">
  This is an alert 
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box secondary">
  This is a secondary alert.
  <a href="#" class="close">&times;</a>
</div>

<div data-alert class="alert-box custom">
  This is a custom alert.
</div>







</div>



<div data-alert class="well success">
  This is a success alert
  <a href="#" class="close">&times;</a>
</div>

btn btn-success





<div class="well">Look, I'm in a well!</div>
<div class="well well-small">Small Well</div>
<div class="well well-large">Large Padding Well
</div>







<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibu</a>

  </div>















    </div>
</div>




{% endblock %}
