{% block title %}Model Example : Mixture + Bootstrap{% endblock %}
{% block content %}


<p class="text-center">type 1</p>

<!-- start full column 12-->

<div class="col-md-12">
  <div class="col-md-12 panel" style="">
   <div class="col-md-12">
      <h2>Content</h2>
      <p><strong>Boxes with a white background include a div.panel element.<br> 
      You can remove the 'panel' class for no white background and padding. It's not required at all for the grid.</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempus feugiat tortor, congue ornare tellus tempus ac. Suspendisse ac sagittis orci, at iaculis lectus. Integer et nunc vel ante dictum sollicitudin. Nam ut sapien ac quam aliquet fermentum et et velit. Aliquam in tincidunt sem. Phasellus molestie metus elit, in semper arcu rhoncus ut.</p>

   </div> 
  </div>
</div>


<p class="text-center">type 2</p>



<div class="col-md-12">
  <div class="col-md-12 panel">

      <div class="col-md-8">

          <h2>Content</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>

      <div class="col-md-4">

          <h3>Content</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

   </div>
</div>






<p class="text-center">type 3</p>



<div class="col-md-12">
  <div class="col-md-12 panel">

      <div class="col-md-6">

          <h2>Content col 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>

      <div class="col-md-3">

          <h2>Content col 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

      <div class="col-md-3">

          <h2>Content col 3</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

   </div>
</div>




<p class="text-center">type 4</p>



<div class="col-md-12">
  <div class="col-md-12 panel">

      <div class="col-md-4">

          <h2>Content col 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>

      <div class="col-md-4">

          <h2>Content col 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

      <div class="col-md-4">

          <h2>Content col 3</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

   </div>
</div>




<p class="text-center">type 5</p>



<div class="col-md-12">
  <div class="col-md-12 panel">

      <div class="col-md-3">

          <h2>Content col 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>

      <div class="col-md-3">

          <h2>Content col 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

      <div class="col-md-3">

          <h2>Content col 3</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>


      <div class="col-md-3">

          <h2>Content col 4</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>

   </div>
</div>



<p class="text-center">type 6</p>



<div class="col-md-12">
  <div class="col-md-12 panel">

      <div class="col-md-6">

          <h2>Content col 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>

      <div class="col-md-6">

          <h2>Content col 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
      </div>


   </div>
</div>




<p class="text-center">type 6</p>


<!-- start left column 3-->
<div class="col-md-6">
  <div class="col-md-12 panel">

          <h2>Content col 1</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
  
   </div>
</div>

<div class="col-md-6">
  <div class="col-md-12 panel">

          <h2>Content col 2</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
  
   </div>
</div>














<p class="text-center">type 0</p>


<!-- start left column 8-->
<div class="col-md-8">
  <div class="col-md-12 panel">

     Content
Boxes with a white background include a div.panel element. 
You can remove the 'panel' class for no white background and padding. It's not required at all for the grid.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras leo lacus, ultrices in orci id, porttitor finibus metus. Pellentesque iaculis libero a erat tempor, id interdum lectus sodales. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tempus feugiat tortor, congue ornare tellus tempus ac. Suspendisse ac sagittis orci, at iaculis lectus. Integer et nunc vel ante dictum sollicitudin. Nam ut sapien ac quam aliquet fermentum et et velit. Aliquam in tincidunt sem. Phasellus molestie metus elit, in semper arcu rhoncus ut.
  
   </div>
</div>


<!-- start right column 4-->

<div class="col-md-4">
  <div class="col-md-12 panel">

        col 2

  </div>
</div>




<p class="text-center">type 1</p>


<!-- start left column 4-->
<div class="col-md-4">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-4">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>

<div class="col-md-4">
  <div class="col-md-12 panel">

        col 3
  
   </div>
</div>



<p class="text-center">type 2</p>


<!-- start left column 3-->
<div class="col-md-3">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 3
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 4
  
   </div>
</div>



<p class="text-center">type 3</p>


<!-- start left column 3-->
<div class="col-md-6">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-6">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>





<p class="text-center">type 4</p>


<!-- start left column 3-->
<div class="col-md-3">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-9">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>





<p class="text-center">type 5</p>



<div class="col-md-12">
  <div class="col-md-12 panel">



<div class="col-md-3">
  <div class="col-md-12">

        col 1
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12">

        col 2
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12">

        col 3
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12">

        col 4
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>



   </div>
</div>






























<p class="text-center">type 6</p>


<!-- start left column 3-->
<div class="col-md-6">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 3
  
   </div>
</div>






<p class="text-center">type 6</p>


<!-- start left column 3-->

<div class="clearfix">

<div class="col-md-6">
  <div class="col-md-12 panel">

        col 1<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        <br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>
</div>

<div class="col-md-6">

  <div class="col-md-12 panel">

        col 2<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>

<div class="col-md-6 whitefix">
  <div class="panel" style="">

        col 3<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>
</div>

<div class="col-md-6 whitefix">
  <div class="panel">

        col 4<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>
</div>
</div>

</div>



<div class="col-md-12">
<div class="col-md-12 panel">
  clkcjqlckjql
</div>
</div>


<!-- start left column 3-->
<div class="col-md-3">

    <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>
  
</div>

<div class="col-md-3">

     <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

</div>

<div class="col-md-3">

    <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

</div>

<div class="col-md-3">

    <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

</div>

<!-- social on page -->


























{% endblock %}
