{% block title %}Model Example : Mixture + Bootstrap{% endblock %}
{% block content %}



<!-- start full column 12-->

<div class="col-md-12">
  <div class="col-md-12 panel">

        col full
  
   </div>
</div>






<p class="text-center">type 0</p>


<!-- start left column 8-->
<div class="col-md-8">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>


<!-- start right column 4-->

<div class="col-md-4">
  <div class="col-md-12 panel">

        col 2

  </div>
</div>




<p class="text-center">type 1</p>


<!-- start left column 4-->
<div class="col-md-4">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-4">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>

<div class="col-md-4">
  <div class="col-md-12 panel">

        col 3
  
   </div>
</div>



<p class="text-center">type 2</p>


<!-- start left column 3-->
<div class="col-md-3">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 3
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 4
  
   </div>
</div>



<p class="text-center">type 3</p>


<!-- start left column 3-->
<div class="col-md-6">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-6">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>





<p class="text-center">type 4</p>


<!-- start left column 3-->
<div class="col-md-3">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-9">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>





<p class="text-center">type 5</p>



<div class="col-md-12">
  <div class="col-md-12 panel">



<div class="col-md-3">
  <div class="col-md-12">

        col 1
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12">

        col 2
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12">

        col 3
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12">

        col 4
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
   </div>
</div>



   </div>
</div>






























<p class="text-center">type 6</p>


<!-- start left column 3-->
<div class="col-md-6">
  <div class="col-md-12 panel">

        col 1
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 2
  
   </div>
</div>

<div class="col-md-3">
  <div class="col-md-12 panel">

        col 3
  
   </div>
</div>






<p class="text-center">type 6</p>


<!-- start left column 3-->

<div class="clearfix">

<div class="col-md-6">
  <div class="col-md-12 panel">

        col 1<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        <br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>
</div>

<div class="col-md-6">

  <div class="col-md-12 panel">

        col 2<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>

<div class="col-md-6 whitefix">
  <div class="panel" style="">

        col 3<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>
</div>

<div class="col-md-6 whitefix">
  <div class="panel">

        col 4<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
        fsdfsdf<br>
  
   </div>
</div>
</div>

</div>



<div class="col-md-12">
<div class="col-md-12 panel">
  clkcjqlckjql
</div>
</div>


<!-- start left column 3-->
<div class="col-md-3">

    <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>
  
</div>

<div class="col-md-3">

     <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

</div>

<div class="col-md-3">

    <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

</div>

<div class="col-md-3">

    <div class="list-group">
      <a href="#" class="list-group-item active">Volg ons</a>
      <a href="#" class="list-group-item"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="#" class="list-group-item"><i class="fa fa-facebook-square"></i> Facebook</a>
      <a href="#" class="list-group-item"><i class="fa fa-envelope"></i> Mail</a>
      <a href="#" class="list-group-item"><i class="fa fa-linkedin"></i> LinkedIn</a>
    </div>

</div>

<!-- social on page -->


























{% endblock %}
