{% block title %}Model Example : Mixture + Bootstrap{% endblock %}
{% block content %}





 <div class="container">
  <div class="col-xs-12 panel">
  12 col full width
  </div>
</div>





{% endblock %}
